<md-content flex layout class="admin-notifications">
    <md-tabs flex md-stretch-tabs="always" md-selected="vm.currentTab">

        <md-tab>
            <md-tab-label>
                <md-icon md-font-icon="fa fa-bell-o"></md-icon>
            </md-tab-label>
            <md-tab-body>
                <md-content>
                    <md-list>
                        <div>
                            <md-subheader class="md-primary">Solicitudes sucursal 1</md-subheader>
                            <div>
                                <md-list-item ng-repeat="solicitud in vm.solicitudes" layout="row"
                                              layout-align="space-between center">

                                    <md-button aria-label="flat button">
                                        <md-icon md-font-icon="fa fa-eye"></md-icon>
                                    </md-button>
                                    <md-icon md-font-icon={{solicitud.icon}}></md-icon>
                                    <p>{{solicitud.title}}</p>
                                    <span class="md-caption" am-time-ago="::solicitud.fecha"></span>

                                </md-list-item>
                                <md-subheader class="md-primary">Solicitudes sucursal 2</md-subheader>
                                <md-list-item ng-repeat="solicitud2 in vm.solicitudes2" layout="row"
                                              layout-align="space-between center">

                                    <md-button aria-label="flat button">
                                        <md-icon md-font-icon="fa fa-eye"></md-icon>
                                    </md-button>
                                    <md-icon md-font-icon={{solicitud2.icon}}></md-icon>
                                    <p>{{solicitud2.title}}</p>
                                    <span class="md-caption" am-time-ago="::solicitud2.fecha"></span>

                                </md-list-item>

                            </div>
                    </md-list>
                </md-content>
            </md-tab-body>
        </md-tab>

    </md-tabs>
</md-content>
