<md-content flex layout class="admin-notifications">
    <md-tabs flex md-stretch-tabs="always" md-selected="vm.currentTab">

        <md-tab>
            <md-tab-label>
                <md-icon md-font-icon="fa fa-bell-o"></md-icon>
            </md-tab-label>
            <md-tab-body>
                <md-content>
                    <md-list>
                        <div>
                            <md-subheader class="md-primary">Solicitudes sin confirmar</md-subheader>
                            <div>
                                <md-list-item ng-repeat="notification in $root.notifications" layout="row"
                                              layout-align="space-between center">

                                    <md-button aria-label="flat button" class="md-icon-button md-accent" ng-click="vm.click(notification.notification.idObject)">
                                        <md-icon md-font-icon="fa fa-eye"></md-icon>
                                    </md-button>
                                    <!--<md-icon md-font-icon={{notification.icon}}></md-icon>-->
                                    <p>{{notification.notification.message}}</p>
                                    <span class="md-caption" am-time-ago="::notification.notification.date"></span>

                                </md-list-item>


                            </div>
                    </md-list>
                </md-content>
            </md-tab-body>
        </md-tab>

    </md-tabs>
</md-content>
