<!-- Created by lockonDaniel on 9/8/16.-->
<md-card flex="flex" class="md-whiteframe-z1 margin-bottom-100">
    <md-card-content>
        <div layout-xs="row">
            <h2 flex="flex" class="md-display-2">{{'Cabinet_Brand.title' | translate}}</h2>
            <md-button id="cabecera" hide-gt-xs="hide-gt-xs" ng-click="vm.cancel()" class="md-fab md-primary md-scale">
                <md-icon md-font-icon="fa fa-plus" style="color:white;"></md-icon>
            </md-button>
        </div>
        <div flex="flex" layout-lt-md="column" layout-gt-sm="row">
            <div flex="flex" layout="column" layout-align="space-around stretch">
                <md-autocomplete md-selected-item="vm.marca_cabinet"
                                 md-selected-item-change="vm.selectedItemChange(vm.marca_cabinet)"
                                 md-items="item in vm.search_items"
                                 md-item-text="item.descripcion"
                                 md-min-length="0"
                                 md-search-text-change="vm.lookup(vm.searchText)" md-search-text="vm.searchText" md-menu-class="autocomplete-custom-template"
                                 md-floating-label="{{&quot;Cabinet_Brand.lookup&quot; | translate}}">
                    <md-item-template><span class="item-title">
              <md-icon md-font-icon="zmdi zmdi-truck"></md-icon><span>{{item.descripcion}}</span></span></md-item-template>
                </md-autocomplete>

                <md-virtual-repeat-container id="vertical_container" hide-xs hide-sm layout-fill="layout-fill" class="vr-min-height">
                    <md-list flex="flex">
                        <md-list-itm flex="flex" ng-repeat="item in vm.marca_cabinet_list">
                            <md-button ng-click="vm.clickRepeater(item)" ng-class="{'selected':item.id === vm.marca_cabinet.id}">
                                <md-icon md-svg-icon="assets/images/modelo.svg" class="avatar"></md-icon>
                                <span>{{item.descripcion}}</span>
                            </md-button>
                            <md-divider></md-divider>
                        </md-list-itm>
                    </md-list>
                </md-virtual-repeat-container>
            </div>
            <div flex="flex" layout-align="center stretch" layout="column">
                <md-button id="cabecera" hide-xs="hide-xs" ng-click="vm.cancel()" class="md-fab md-primary md-scale md-fab-top-right">
                    <md-icon md-font-icon="fa fa-plus" style="color:white;"></md-icon>
                </md-button>
                <h3 class="md-display-1">{{'Cabinet_Brand.info' | translate}}</h3>
                <form name="inputForm">
                    <md-input-container class="md-block">
                        <label>{{ 'Cabinet_Brand.description' | translate }}</label>
                        <input type="text" name="descripcion" ng-model="vm.marca_cabinet.descripcion" ng-required="true"/>
                        <div ng-messages="inputForm.descripcion.$error">
                            <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD' | translate}}</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>{{ 'Cabinet_Brand.category' | translate }}</label>
                        <input type="text" name="categoria" ng-model="vm.marca_cabinet.categoria" ng-required="true"/>
                        <div ng-messages="inputForm.categoria.$error">
                            <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD' | translate}}</div>
                        </div>
                    </md-input-container>
                </form>
                <div flex="flex" layout="row" layout-align="end end">
                    <md-button ng-if="vm.marca_cabinet.id!=null &amp;&amp; vm.marca_cabinet.id!=undefined" ng-disabled="inputForm.$invalid" ng-click="vm.update()" class="md-raised md-primary">
                        <md-icon md-font-icon="fa fa-pencil"></md-icon>
                    </md-button>
                    <md-button ng-if="vm.marca_cabinet.id==null || vm.marca_cabinet.id==undefined" ng-disabled="inputForm.$invalid" ng-click="vm.create()" class="md-raised md-primary">
                        <md-icon md-font-icon="fa fa-save"></md-icon>
                    </md-button>
                    <md-button ng-if="vm.marca_cabinet.id!=null &amp;&amp; vm.marca_cabinet.id!=undefined" ng-click="vm.remove()" class="md-raised md-warn">
                        <md-icon md-font-icon="fa fa-trash"></md-icon>
                    </md-button>
                </div>
            </div>
        </div>
    </md-card-content>
</md-card>