<div layout="column">
    <md-card class="md-padding card1" flex="100">
        <img src="assets/images/backgrounds/material-backgrounds/mb-bg-01-narrow.jpg" alt="Card Image">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Gestión de Insumos</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <span class="md-title">Buscar Insumo</span>
            <div flex="100" layout="row">

                <md-input-container flex="60">
                    <label>Id Insumo</label>
                    <md-autocomplete
                            class="md-padding card1"
                            ng-disabled="vm.isDisabled"
                            md-no-cache="vm.noCache"
                            md-selected-item="selectedItem"
                            md-search-text-change="vm.searchTextChange(vm.searchText)"
                            md-search-text="vm.searchText"
                            md-selected-item-change="vm.selectedItemChange(item)"
                            md-items="item in vm.querySearch(vm.searchText)"
                            md-item-text="item.display"
                            md-min-length="0">

                        <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.display}}</span>
                    </md-autocomplete>
                </md-input-container>
                <md-input-container flex>
                    <md-button class="md-fab"  aria-label="fab button">
                        <md-icon md-font-icon="zmdi zmdi-zoom-in"></md-icon>
                    </md-button>
                </md-input-container>
            </div>
        </md-card-content>
    </md-card>

    <md-card class="md-padding card1" flex="100">
        <span class="md-subhead">Información de Insumo.</span>

        <div layout="row" , flex="flex">
            <md-input-container flex>
                <label>Número de Remisión</label>
                <input type="number" ng-model="vm.insumo.noRemision" />
            </md-input-container>
            <md-input-container flex>
                <label translate>Categoria </label>
                <md-select ng-model="vm.insumo.categoria" name="selectCategoria" >
                    <md-option ng-repeat="categoria in vm.categorias" ng-value="categoria.id">{{categoria.nombre}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex>
                <label translate>Catalogo Insumos</label>
                <md-select ng-model="vm.insumo.tipo" name="selectInsumos" >
                    <md-option ng-repeat="tipoInsumo in vm.tiposInsumo" ng-value="tipoInsumo.id">{{tipoInsumo.nombre}}</md-option>
                </md-select>
            </md-input-container>




        </div>
        <div layout="row" , flex="flex">
            <md-input-container flex>
                <label translate>Zona</label>
                <md-select ng-model="vm.insumo.zona" name="selectZona" >
                    <md-option ng-repeat="zona in vm.zonas" ng-value="zona.id">{{zona.nombre}}</md-option>
                </md-select>
            </md-input-container>
            <div class="margin-bottom-20" layout="row" layout-align="space-around center" flex="30">
                <md-datepicker ng-model="vm.insumo.fechaAlta" md-placeholder="Enter date"></md-datepicker>
            </div>
            <md-input-container flex="30">
                <md-button class="md-primary md-raised"
                           aria-label="guardar" ng-click='vm.guardarInsumo()'>
                    <md-icon md-font-icon="fa fa-save"></md-icon>
                </md-button>
            </md-input-container>

        </div>
    </md-card>

</div>