<div layout="column" flex="100" layout-padding layout-fill>
    <md-card class="md-padding-card1" flex-gt-md="90" flex="100" layout="column">
        <div layout="row" flex="" layout-align="space-around stretch">
            <h2 flex="70" flex-sm="100" flex-gt-xs="100" class="md-headline-1 text-center" translate="">
                Projects.Header
            </h2>
            <md-button  aria-label="fab button" class="md-fab md-scale md-fab-top-right" ng-click="vm.clear()">
                <md-icon md-font-icon="fa fa-plus" ng-style="{color: 'white'}">

                </md-icon>
            </md-button>
        </div>
        <div layout-gt-md="row" layout="column">
            <!--Autocomplete div-->
            <div layout="column" layout-align="space-between stretch" flex-gt-md="30" flex="100">

                <md-autocomplete
                        md-items="item in vm.filteredProjects"
                        md-selected-item="vm.selectedProject"
                        md-selected-item-change="vm.selectedItemChange(item)"
                        md-search-text-change="vm.search(vm.searchParameter)"
                        md-search-text="vm.searchParameter"
                        md-item-text="item.descripcion"
                        md-min-length="0"
                        md-floating-label="{{'Projects.Fields.Search'|translate}}">
                    <md-item-template>
                            <span>{{item.descripcion}}</span>
                    </md-item-template>
                    <md-not-found><span translate="Projects.Errors.Not_Found"></span></md-not-found>
                </md-autocomplete>

                <md-virtual-repeat-container flex="flex" hide layout-fill show-gt-md style="min-height:350px">
                    <div flex md-virtual-repeat="item in vm.filteredProjects">
                        <div flex="flex"
                             ng-click="vm.clickCopy(item)"
                             layout-padding layout="row"
                             layout-align="start center" >
                            <img ng-src="assets/images/projects.png"  flex="20" />
                            <span flex="80">{{item.descripcion}}</span>
                        </div>
                    </div>
                    <md-divider></md-divider>
                </md-virtual-repeat-container>


            </div>
            <!--Content div-->
            <div layout="column" flex-gt-md="70" flex="100">
                <h2>{{'Projects.Fields.Information'|translate}}</h2>
                <form name="formProject" novalidate>
                    <md-input-container class="md-block">
                        <label>{{'Projects.Fields.ProjectName'|translate}}</label>
                        <input name="ProjectName" type="text" required="" md-no-asterisk=""
                               ng-model="vm.project.descripcion">
                        <div ng-messages="formProject.ProjectName.$error">
                            <div ng-message="required">{{'Projects.Errors.Required'|translate}}</div>
                        </div>
                    </md-input-container>
                </form>
            </div>
        </div>
        <md-actions layout="row" layout-align="end center">
            <md-button ng-if="vm.project.id!=null && vm.project.id!=undefined" ng-click="vm.remove()" md-no-ink class="md-primary">
                {{'MAIN.BUTTONS.DELETE'|translate}}
            </md-button>
            <md-button ng-click="vm.clear()" md-no-ink class="md-primary">
                {{'MAIN.BUTTONS.CLEAR_FIELDS'|translate}}
            </md-button>
            <md-button ng-if="vm.project.id==null || vm.project.id==undefined" ng-click="vm.create()" md-no-ink class="md-primary" ng-disabled="formClient.$invalid">
                {{'MAIN.BUTTONS.SUBMIT'|translate}}
            </md-button>
            <md-button ng-if="vm.project.id!=null && vm.project.id!=undefined" ng-click="vm.update()" md-no-ink class="md-primary" ng-disabled="formClient.$invalid">
                {{'MAIN.BUTTONS.UPDATE'|translate}}
            </md-button>
        </md-actions>
    </md-card>
</div>