<div layout="row" flex layout-padding layout-fill layout-align="center center">
    <div flex="70" flex-xs="100">
        <form name="objectForm">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <div>
                            <h2>{{'CREATE_REQUEST.FORM.TITLE.CREATE'|translate}}</h2>
                            <md-input-container class="md-block">
                                <md-select placeholder="{{'CREATE_REQUEST.FORM.PLACEHOLDER.UDN'|translate}}" ng-model="vm.udn" name="udn" required='required'>
                                    <md-option ng-value="udn.id" ng-repeat='udn in vm.udns'>{{udn.zona}} - {{udn.agencia}}</md-option>
                                </md-select>
                                <div ng-messages="objectForm.udn.$error">
                                    <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD'|translate}}</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <md-select ng-model="vm.requisito.tipo_solicitud"
                                           name="tipo_solicitud"
                                           placeholder="{{'CREATE_REQUEST.FORM.PLACEHOLDER.REQUEST'|translate}}"
                                           required='required'>
                                    <md-option ng-repeat="types in vm.types_request" ng-value="types.id">{{types.value}}
                                    </md-option>
                                </md-select>
                                <div ng-messages="objectForm.tipo_solicitud.$error">
                                    <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD'|translate}}</div>
                                </div>
                            </md-input-container>
                            <!-- opc 1 Solicitud de Envio-->
                            <div flex="" layout-sm="column" layout-gt-md="column" ng-show="vm.requisito.tipo_solicitud==0 ||vm.requisito.tipo_solicitud==1  ">
                                <md-input-container class="md-block" ng-if="!vm.isClient">
                                    <md-select placeholder="{{'CREATE_REQUEST.FORM.PLACEHOLDER.PERSON'|translate}}" ng-model="vm.persona" name="persona"
                                               required='required'>
                                        <md-option ng-value="persona.id" ng-repeat='persona in vm.personas'>
                                            {{persona.user.username}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="objectForm.udn.$error">
                                        <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD'|translate}}</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block" ng-if="!vm.isClient">
                                    <md-select
                                               placeholder="{{'CREATE_REQUEST.FORM.PLACEHOLDER.STATUS'|translate}}"
                                               ng-model="vm.requisito.status" name="status" required='required'
                                               >
                                        <md-option ng-repeat="status in vm.status" ng-value="status.value">{{status.value}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="objectForm.status.$error">
                                        <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD'|translate}}</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>{{'CREATE_REQUEST.FORM.LABEL.DESCRIPTION'|translate}}</label>
                                    <textarea ng-model="vm.requisito.descripcion" md-maxlength="100" name="descripcion"
                                              required='required' ></textarea>
                                    <div ng-messages="objectForm.descripcion.$error">

                                        <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD'|translate}}</div>
                                    </div>
                                </md-input-container>
                                <div class="margin-bottom-20" layout="row" layout-md="column" layout-sm="column" layout-xs="column" layout-align="space-around center" flex="">
                                    <div class="margin-bottom-20" layout="column" layout-align="space-around center">
                                        <p>{{'CREATE_REQUEST.FORM.LABEL.DATE_INITIAL'|translate}}</p>
                                        <md-datepicker ng-model="vm.requisito.fecha_inicio" md-placeholder="Enter date"
                                                       required='required'></md-datepicker>
                                    </div>
                                    <div class="margin-bottom-20" layout="column" layout-align="space-around center">
                                        <p>{{'CREATE_REQUEST.FORM.LABEL.DATE_END'|translate}}</p>
                                        <md-datepicker ng-model="vm.requisito.fecha_termino" md-placeholder="Enter date"
                                                       required='required'></md-datepicker>
                                    </div>
                                    <div class="margin-bottom-20" layout="column" layout-align="space-around center">
                                        <p ng-if="!vm.isClient">{{'CREATE_REQUEST.FORM.LABEL.DATE_TERMINATE'|translate}}</p>
                                        <md-datepicker ng-if="!vm.isClient" ng-model="vm.requisito.fecha_atendida"
                                                       md-placeholder="Enter date" required='required'></md-datepicker>
                                    </div>
                                </div>
                                <v-accordion class="vAccordion--default" multiple>
                                    <v-pane expanded>
                                        <v-pane-header>
                                            {{'CREATE_REQUEST.FORM.TITLE.TYPE_TEAM'|translate}}

                                        </v-pane-header>
                                        <v-pane-content>
                                            <md-toolbar class="md-table-toolbar md-default" >
                                                <div class="md-toolbar-tools"><span>Información</span>
                                                    <div flex="flex"></div>
                                                    <md-button ng-click="vm.showCreateDialog($event)"
                                                               class="md-icon-button">
                                                        <ng-md-icon icon="local_hospital" size="24"></ng-md-icon>
                                                    </md-button>
                                                </div>
                                            </md-toolbar>
                                            <md-table-container ng-if="vm.length!=0">
                                                <table md-table="" md-row-select="">
                                                    <thead md-head="" md-order="vm.query.order">
                                                    <tr md-row="md-row">
                                                        <th md-column="md-column" md-order-by="cantidad"><span
                                                                translate="">Cantidad</span><!--vm.requisito. -->
                                                        </th>
                                                        <th md-column="md-column" md-order-by="status_equipo"><span
                                                                translate="">Estatus</span>
                                                        </th>
                                                        <th md-column="md-column" md-order-by="modelo_cabinet"><span
                                                                translate="">Tipo</span>
                                                        </th>
                                                        <!-- Cuerpo de la tabla-->
                                                    </tr>
                                                    </thead>
                                                    <tbody md-body="md-body">
                                                    <tr md-row="md-row" md-select="dato" md-select-id="{{dato.id}}"
                                                        ng-repeat="dato in vm.requisito.datos | orderBy:vm.query.order">
                                                        <td md-cell="md-cell"
                                                            ng-click='vm.edit($event,dato,"cantidad")'>{{dato.cantidad}}
                                                        </td>
                                                        <td md-cell="md-cell"
                                                            ng-click='vm.edit($event,dato,"status_equipo")'>
                                                            {{dato.status_equipo}}
                                                        </td>
                                                        <td md-cell="md-cell"
                                                            ng-click='vm.edit($event,dato,"modelo_cabinet")'>
                                                            {{dato.modelo_cabinet}}
                                                        </td>
                                                        <td md-cell="md-cell" ng-click="$event.stopPropagation()">
                                                            <md-button ng-click="vm.eliminarDato(dato)"
                                                                       class="md-fab md-warn md-mini">
                                                                <md-icon md-font-icon="fa fa-times-circle"></md-icon>
                                                            </md-button>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </md-table-container>
                                        </v-pane-content>
                                    </v-pane>
                                </v-accordion>
                                <md-input-container class="md-block">
                                    <label>{{'CREATE_REQUEST.FORM.LABEL.COMMENT'|translate}}</label>
                                    <textarea ng-model="vm.requisito.comentario" md-maxlength="100" name="comentario"
                                              required='required' ></textarea>
                                    <div ng-messages="objectForm.comentario.$error">
                                        <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD'|translate}}</div>
                                    </div>
                                </md-input-container>
                                <div layout="row" layout-align="end end" ng-if="!vm.isClient">
                                    <md-button class="md-raised md-primary" aria-label="Borrar"
                                               ng-click="vm.cancel()">
                                        <md-icon md-font-icon="fa fa-eraser"></md-icon>
                                    </md-button>
                                    <md-button class="md-raised md-primary" aria-label="Guardar" ng-disabled="objectForm.$invalid"
                                               ng-click='vm.guardarSolicitudAdmin()'>
                                        <md-icon md-font-icon="fa fa-save"></md-icon>
                                    </md-button>
                                </div>
                                <div layout="row" layout-align="end end" ng-if="vm.isClient">
                                    <md-button class="md-raised md-primary" aria-label="Borrar"
                                               ng-click="vm.cancel()">
                                        <md-icon md-font-icon="fa fa-eraser"></md-icon>
                                    </md-button>
                                    <md-button class="md-raised md-primary" aria-label="Guardar" ng-disabled="objectForm.$invalid"
                                               ng-click='vm.guardarSolicitudCliente()'>
                                        <md-icon md-font-icon="fa fa-save"></md-icon>
                                    </md-button>
                                </div>
                            </div>
                            <!-- opc 3-->
                            <div ng-show="vm.requisito.tipo_solicitud==2">
                                <h3>{{'CREATE_REQUEST.FORM.TITLE.POINT_SALE'|translate}}</h3>
                                <div class="margin-bottom-20" layout="row" layout-align="space-around center">
                                    <p>{{'CREATE_REQUEST.FORM.LABEL.DATE_END'|translate}}</p>
                                </div>
                                <div class="margin-bottom-20" layout="row" layout-align="space-around center">
                                    <md-datepicker ng-model="vm.requisitoVenta.fecha_atencion"
                                                   md-placeholder="{{'CREATE_REQUEST.FORM.PLACEHOLDER.DATE_TERMINATE'|translate}}"></md-datepicker>
                                </div>
                                <md-input-container class="md-block">
                                    <label>{{'CREATE_REQUEST.FORM.LABEL.RAZON'|translate}}</label>
                                    <textarea ng-model="vm.requisitoVenta.razon_social"></textarea>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>{{'CREATE_REQUEST.FORM.LABEL.BUSINESS_NAME'|translate}}</label>
                                    <textarea ng-model="vm.requisitoVenta.nombre_negocio"></textarea>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>{{'CREATE_REQUEST.FORM.LABEL.ADDRESS'|translate}}</label>
                                    <textarea ng-model="vm.requisitoVenta.direccion"></textarea>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>{{'CREATE_REQUEST.FORM.LABEL.PHONE'|translate}}</label>
                                    <textarea ng-model="vm.requisitoVenta.telefono"></textarea>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>{{'CREATE_REQUEST.FORM.LABEL.BUSINESS_CONTACT'|translate}}</label>
                                    <textarea ng-model="vm.requisitoVenta.contacto_negocio"></textarea>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>{{'CREATE_REQUEST.FORM.LABEL.STATUS'|translate}}</label>
                                    <textarea ng-model="vm.requisitoVenta.status"></textarea>
                                </md-input-container>
                                <div layout="row" layout-align="end end">
                                    <md-button class="md-raised md-primary" aria-label="Borrar"
                                               ng-click="vm.cancel()">
                                        <md-icon md-font-icon="fa fa-eraser"></md-icon>
                                    </md-button>

                                    <md-button class="md-raised md-primary" aria-label="Guardar" ng-disabled="objectForm.$invalid"
                                               ng-click='vm.guardarSolicitudVenta()'>
                                        <md-icon md-font-icon="fa fa-save"></md-icon>
                                    </md-button>
                                </div>
                            </div>
                        </div>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </form>
    </div>
</div>
