<div layout="row" layout-align="center center">
    <p flex="100" translate="" class="md-headline font-weight-300 text-center text-light">PUNTOVENTA.TITLE</p>
</div>
<md-card>
    <div flex="" layout="row" layout-align="center center" layout-fill>
        <div flex="100" layout="column" tri-wizard="" class="md-whiteframe-z1 margin-bottom-100" layout-fill>
            <md-toolbar class="md-primary">
                <div flex layout="column" class="md-toolbar-tools">
                    <div flex layout="column">
                        <div flex layout="row" layout-sm="column" layout-fill="true" layout-align-sm="center center"
                             layout-align="space-between center">
                            <h5 translate="">PUNTOVENTA.SERVICEDATA</h5>
                            <h5>{{triWizard.progress}}%<span translate="">PUNTOVENTA.COMPLETED</span></h5>
                        </div>
                        <div flex layout="row" layout-sm="column" layout-align-sm="center center"
                             layout-align="space-between center">
                            <h3 translate="">{{vm.steps[triWizard.currentStep]}}</h3>
                            <h3 translate="">{{vm.PuntoVentaLabel}}</h3>
                        </div>
                    </div>
                </div>
                <md-progress-linear md-mode="determinate" ng-value="vm.completed"
                                    class="md-accent padding-bottom-10"></md-progress-linear>
            </md-toolbar>
            <md-tabs layout-fill="" md-selected="triWizard.currentStep" md-dynamic-height="" md-stretch-tabs="always"
                     class="md-primary">
                <md-tab id="info">
                    <md-tab-label><span class="oxy-step-label">1</span><span
                            translate="">PUNTOVENTA.SERVICEDATA</span></md-tab-label>
                    <md-tab-body>
                        <div class="wizard layout-padding">
                            <form name="generalInfo" tri-wizard-form="" novalidate="">
                                <div layout="column" flex="">
                                    <md-input-container flex="100">
                                        <label translate="">PUNTOVENTA.WEEK</label>
                                        <input type="number" name="week" required=""
                                               ng-model="vm.puntoVenta.FondoTotal" min="1" step="1" max="52">
                                        <div ng-messages="generalInfo.week.$error">
                                            <div ng-message="required"><span translate>MAIN.LABEL.REQUIRED</span></div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container>
                                        <label translate="">PUNTOVENTA.RECEPTIONNDATE</label>
                                        <input aria-label="Fecha" type="text" ng-model="vm.puntoVenta.fecha"
                                               mdp-date-picker
                                               mdp-format="{{vm.formato}}" mo-date-input="{{vm.formato}}" name="fecha"
                                               required=""/>
                                        <div ng-messages="generalInfo.fecha.$error">

                                            <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD'|translate}}</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container>
                                        <label translate="">PUNTOVENTA.RECEPTIONHOUR</label>
                                        <input type="time" ng-model="vm.puntoVenta.hora_recepcion" mdp-time-picker
                                               name="hora_recepcion"
                                               required=""/>
                                        <div ng-messages="generalInfo.hora_recepcion.$error">

                                            <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD'|translate}}</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container>
                                        <label translate="">PUNTOVENTA.FLOOR</label>
                                        <input type="number" name="floor" required=""
                                               ng-model="vm.puntoVenta.piso" min="0" max="100">
                                        <div ng-messages="generalInfo.floor.$error">
                                            <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD'|translate}}</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container>
                                        <label translate="">PUNTOVENTA.FIELD</label>
                                        <textarea name="campo" required="" ng-model="vm.puntoVenta.campo"
                                                  md-maxlength="45"></textarea>
                                        <div ng-messages="generalInfo.campo.$error">
                                            <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD'|translate}}</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container>
                                        <label translate="">PUNTOVENTA.MOVEMENT</label>
                                        <textarea name="movimiento" required="" ng-model="vm.puntoVenta.movimiento"
                                                  md-maxlength="100"></textarea>
                                        <div ng-messages="generalInfo.movimiento.$error">
                                            <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD'|translate}}</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container>
                                        <label translate="">PUNTOVENTA.DELIVERY</label>
                                        <textarea name="entrega" required="" ng-model="vm.puntoVenta.entrega"
                                                  md-maxlength="100"></textarea>
                                        <div ng-messages="generalInfo.entrega.$error">
                                            <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD'|translate}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </form>
                        </div>
                    </md-tab-body>
                </md-tab>
                <md-tab id="fondeoT" ng-disabled="projectInfo.$invalid">
                    <md-tab-label><span class="oxy-step-label">2</span><span translate="">PUNTOVENTA.LOCALDATA</span>
                    </md-tab-label>
                    <md-tab-body>
                        <div class="wizard layout-padding">
                            <form name="localData" tri-wizard-form="">
                                <div flex="" layout="column" layout-wrap="">
                                    <md-input-container>
                                        <label translate="">PUNTOVENTA.KM</label>
                                        <input type="number" name="km" required=""
                                               ng-model="vm.puntoVenta.km" min="0" max="1000">
                                        <div ng-messages="localData.km.$error">
                                            <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD'|translate}}</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container>
                                        <label translate>PUNTOVENTA.TYPEOFJOB</label>
                                        <md-select ng-model="vm.puntoVenta.tipo_trabajo" name="tipo_trabajo"
                                                   required="">
                                            <md-option ng-repeat="tipo in vm.tiposTrabajo" ng-value="tipo.value">
                                                {{tipo.display_name}} :
                                                {{etap.descripcion}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container>
                                        <label translate="">PUNTOVENTA.STABLISHED</label>
                                        <textarea name="nombre_establecimiento" required=""
                                                  ng-model="vm.puntoVenta.nombre_establecimiento"
                                                  md-maxlength="100"></textarea>
                                        <div ng-messages="localData.nombre_establecimiento.$error">
                                            <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD'|translate}}</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container>
                                        <label translate="">PUNTOVENTA.ADDRESS</label>
                                        <textarea name="direccion" required="" ng-model="vm.puntoVenta.direccion"
                                                  md-maxlength="400"></textarea>
                                        <div ng-messages="localData.direccion.$error">
                                            <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD'|translate}}</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container>
                                        <label translate="">PUNTOVENTA.DATEREPORT</label>
                                        <input aria-label="fecha_reporte" type="text"
                                               ng-model="vm.puntoVenta.fecha_reporte" mdp-date-picker
                                               mdp-format="{{vm.formato}}" mo-date-input="{{vm.formato}}"
                                               name="fecha_reporte"
                                               required=""/>
                                        <div ng-messages="localData.fecha_reporte.$error">

                                            <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD'|translate}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </form>
                        </div>
                    </md-tab-body>
                </md-tab>
                <md-tab id="aims" ng-disabled="projectInfo.$invalid">
                    <md-tab-label><span class="oxy-step-label">3</span><span translate="">PUNTOVENTA.CABINETDATA</span>
                    </md-tab-label>
                    <md-tab-body>
                        <div class="wizard layout-padding">
                            <form name="localData" tri-wizard-form="">
                                <div flex="" layout="column" layout-wrap="">
                                </div>
                            </form>
                        </div>

                    </md-tab-body>
                </md-tab>
                <md-tab id="reach" ng-disabled="projectInfo.$invalid">
                    <md-tab-label><span class="oxy-step-label">4</span><span
                            translate="">PUNTOVENTA.USEDINSUM</span>
                    </md-tab-label>
                    <md-tab-body>
                        <div class="wizard layout-padding">
                            <form name="observationsData" tri-wizard-form="">
                                <div flex="" layout="column" layout-wrap="">
                                    <div layout="row" layout-sm="column" layout-xs="column" layout-align=""
                                         ng-show="vm.insumos_loteUsados.length!=0 || vm.insumos_sinStock.lenght!=0" flex="100" layout-wrap>
                                        <div ng-repeat="insu in vm.insumos_loteUsados track by $index" flex="50">
                                            <div column>
                                                <div layout="row" layout-align="center center">
                                                    <div flex="20">
                                                        <md-switch flex class="md-primary" ng-model="vm.insumos_loteUsados[$index].agregar"
                                                                   aria-label="Primary Switch">
                                                        </md-switch>
                                                    </div>
                                                    <div layout="column" flex>
                                                        <div><b translate>ETAPA_SERVICIO.INSUM </b>: {{insu.nombre}}</div>
                                                    </div>

                                                </div>
                                                <md-divider></md-divider>
                                            </div>
                                        </div>
                                        <md-divider></md-divider>
                                        <div ng-repeat="insu2 in vm.insumos_sinStock track by $index" flex="50">
                                            <div column>
                                                <div layout="row" layout-align="center center">
                                                    <div flex="20">
                                                        <md-icon md-font-icon="fa fa-ban"></md-icon>
                                                        <b><span style="color: #FF1B28;" translate>ETAPA_SERVICIO.NOTSTOCK_INSUMO</span></b>
                                                    </div>
                                                    <div layout="column" flex>
                                                        <div><b translate>ETAPA_SERVICIO.INSUM </b>: {{insu2.nombre}}</div>
                                                    </div>

                                                </div>
                                                <md-divider></md-divider>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </md-tab-body>
                </md-tab>
                <md-tab id="reach" ng-disabled="projectInfo.$invalid">
                    <md-tab-label><span class="oxy-step-label">5</span><span
                            translate="">PUNTOVENTA.SERVICEOBSERVATION</span>
                    </md-tab-label>
                    <md-tab-body>
                        <div class="wizard layout-padding">
                            <form name="observationsData" tri-wizard-form="">
                                <div flex="" layout="column" layout-wrap="">
                                    <md-input-container>
                                        <label translate="">PUNTOVENTA.ADDRESS</label>
                                        <textarea name="direccion" required="" ng-model="vm.puntoVenta.direccion"
                                                  md-maxlength="400"></textarea>
                                        <div ng-messages="localData.direccion.$error">
                                            <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD'|translate}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </form>
                        </div>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
            <div layout-fill="" layout-padding="" layout="row" layout-align="end center" class="wizard-navbar">
                <md-button ng-click="triWizard.prevStep()" ng-hide="triWizard.currentStep &gt; 3"
                           ng-disabled="triWizard.prevStepDisabled()" translate="FONDEOS.WIZARD.PREV"
                           class="md-primary md-raised"></md-button>
                <md-button ng-click="triWizard.nextStep()"
                           ng-hide="triWizard.progress == 100 &amp;&amp; triWizard.currentStep &gt;= 3"
                           ng-disabled="triWizard.nextStepDisabled()" translate="FONDEOS.WIZARD.NEXT"
                           class="md-primary md-raised"></md-button>
                <md-button ng-click="vm.registrarFondeo()"
                           ng-show="triWizard.progress == 100 &amp;&amp; triWizard.currentStep &gt;= 3 "
                           translate="FONDEOS.WIZARD.SEND" class="md-accent md-raised"></md-button>
                <md-button ng-click="vm.createDialog()" ng-show="vm.fondeo.id!=null" translate="FONDEOS.WIZARD.DELETE"
                           class="md-warn md-raised"></md-button>
                <md-button ng-click="vm.cancel()" ng-show="vm.fondeo.id!=null" translate="FONDEOS.WIZARD.STOP_EDIT"
                           class="md-primary md-raised"></md-button>
                <md-button ng-click="vm.cancel()" ng-show="vm.fondeo.id==null" translate="FONDEOS.WIZARD.CLEAR_FIELDS"
                           class="md-primary md-raised"></md-button>
            </div>
        </div>
    </div>
</md-card>