<div layout="row" layout-align="center center">
    <p flex="100" translate="" class="md-headline font-weight-300 text-center text-light">PUNTOVENTA.TITLE</p>
</div>
<md-card>
    <div flex="" layout="row" layout-align="center center" layout-fill>
        <div flex="100" layout="column" tri-wizard="" class="md-whiteframe-z1 margin-bottom-100" layout-fill>
            <md-toolbar class="md-primary">
                <div flex layout="column" class="md-toolbar-tools">
                    <div flex layout="column">
                        <div flex layout="row" flex="100" layout-sm="row" layout-fill="true"
                             layout-align="space-between center">
                            <div layout="row" flex="100" layout-fill>
                                <div flex="50"layout-fill>
                                    <h5 translate="">PUNTOVENTA.PROGRESSREGISTER</h5>
                                </div>
                                <div flex="50" layout-fill>
                                    <h5>{{triWizard.progress}}% <span translate="">PUNTOVENTA.COMPLETED</span></h5>
                                </div>
                            </div>
                        </div>
                        <div flex layout="row" layout-sm="column" layout-align-sm="center center"
                             layout-align="space-between center">
                            <h3 translate="">{{vm.steps[triWizard.currentStep]}}</h3>
                            <h3 translate="">{{vm.PuntoVentaLabel}}</h3>
                        </div>
                    </div>
                </div>
                <md-progress-linear md-mode="determinate" ng-value="vm.completed"
                                    class="md-accent padding-bottom-10"></md-progress-linear>
            </md-toolbar>
            <md-tabs layout-fill="" md-selected="triWizard.currentStep" md-dynamic-height="" md-stretch-tabs="always"
                     class="md-primary">
                <md-tab id="info">
                    <md-tab-label><span class="oxy-step-label">1</span><span
                            translate="">PUNTOVENTA.SERVICEDATA</span></md-tab-label>
                    <md-tab-body>
                        <div class="wizard layout-padding">
                            <form name="generalInfo" tri-wizard-form="" novalidate="">
                                <div layout="column" flex="">
                                    <md-input-container flex="100">
                                        <label translate="">PUNTOVENTA.WEEK</label>
                                        <input type="number" name="week" required=""
                                               ng-model="vm.puntoVenta.FondoTotal" min="1" step="1" max="52">
                                        <div ng-messages="generalInfo.week.$error">
                                            <div ng-message="required"><span translate>MAIN.LABEL.REQUIRED</span></div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container>
                                        <label translate="">PUNTOVENTA.RECEPTIONNDATE</label>
                                        <input aria-label="Fecha" type="text" ng-model="vm.puntoVenta.fecha"
                                               mdp-date-picker
                                               mdp-format="{{vm.formato}}" mo-date-input="{{vm.formato}}" name="fecha"
                                               required=""/>
                                        <div ng-messages="generalInfo.fecha.$error">

                                            <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD'|translate}}</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container>
                                        <label translate="">PUNTOVENTA.RECEPTIONHOUR</label>
                                        <input type="time" ng-model="vm.puntoVenta.hora_recepcion" mdp-time-picker
                                               name="hora_recepcion"
                                               required=""/>
                                        <div ng-messages="generalInfo.hora_recepcion.$error">

                                            <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD'|translate}}</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container>
                                        <label translate="">PUNTOVENTA.FLOOR</label>
                                        <input type="number" name="floor"
                                               ng-model="vm.puntoVenta.piso" min="0" max="100">
                                        <div ng-messages="generalInfo.floor.$error">
                                            <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD'|translate}}</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container>
                                        <label translate="">PUNTOVENTA.FIELD</label>
                                        <textarea name="campo"  ng-model="vm.puntoVenta.campo"
                                                  md-maxlength="45"></textarea>
                                        <div ng-messages="generalInfo.campo.$error">
                                            <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD'|translate}}</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container>
                                        <label translate="">PUNTOVENTA.MOVEMENT</label>
                                        <textarea name="movimiento"  ng-model="vm.puntoVenta.movimiento"
                                                  md-maxlength="100"></textarea>
                                        <div ng-messages="generalInfo.movimiento.$error">
                                            <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD'|translate}}</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container>
                                        <label translate="">PUNTOVENTA.DELIVERY</label>
                                        <textarea name="entrega"  ng-model="vm.puntoVenta.entrega"
                                                  md-maxlength="100"></textarea>
                                        <div ng-messages="generalInfo.entrega.$error">
                                            <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD'|translate}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </form>
                        </div>
                    </md-tab-body>
                </md-tab>
                <md-tab id="fondeoT" ng-disabled="projectInfo.$invalid">
                    <md-tab-label><span class="oxy-step-label">2</span><span translate="">PUNTOVENTA.LOCALDATA</span>
                    </md-tab-label>
                    <md-tab-body>
                        <div class="wizard layout-padding">
                            <form name="localData" tri-wizard-form="">
                                <div flex="" layout="column" layout-wrap="">
                                    <md-input-container>
                                        <label translate="">PUNTOVENTA.KM</label>
                                        <input type="number" name="km" required=""
                                               ng-model="vm.puntoVenta.km" min="0" max="1000">
                                        <div ng-messages="localData.km.$error">
                                            <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD'|translate}}</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container>
                                        <label translate>PUNTOVENTA.TYPEOFJOB</label>
                                        <md-select ng-model="vm.puntoVenta.tipo_trabajo" name="tipo_trabajo"
                                                   required="">
                                            <md-option ng-repeat="tipo in vm.tiposTrabajo" ng-value="tipo.value">
                                                {{tipo.display_name}} :
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container>
                                        <label translate="">PUNTOVENTA.STABLISHED</label>
                                        <textarea name="nombre_establecimiento" required=""
                                                  ng-model="vm.puntoVenta.nombre_establecimiento"
                                                  md-maxlength="100"></textarea>
                                        <div ng-messages="localData.nombre_establecimiento.$error">
                                            <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD'|translate}}</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container>
                                        <label translate="">PUNTOVENTA.ADDRESS</label>
                                        <textarea name="direccion" required="" ng-model="vm.puntoVenta.direccion"
                                                  md-maxlength="400"></textarea>
                                        <div ng-messages="localData.direccion.$error">
                                            <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD'|translate}}</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container>
                                        <label translate="">PUNTOVENTA.DATEREPORT</label>
                                        <input aria-label="fecha_reporte" type="text"
                                               ng-model="vm.puntoVenta.fecha_reporte" mdp-date-picker
                                               mdp-format="{{vm.formato}}" mo-date-input="{{vm.formato}}"
                                               name="fecha_reporte"
                                               required=""/>
                                        <div ng-messages="localData.fecha_reporte.$error">

                                            <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD'|translate}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </form>
                        </div>
                    </md-tab-body>
                </md-tab>
                <md-tab id="aims" ng-disabled="projectInfo.$invalid">
                    <md-tab-label><span class="oxy-step-label">3</span><span translate="">PUNTOVENTA.CABINETDATA</span>
                    </md-tab-label>
                    <md-tab-body>
                        <div class="wizard layout-padding">
                            <form name="cabinetInfo" tri-wizard-form="">
                                <div flex="" layout="column" layout-wrap="">
                                    <md-input-container>
                                        <label translate="">PUNTOVENTA.ACTIVE</label>
                                        <textarea name="activo" required=""
                                                  ng-model="vm.puntoVenta.activo"
                                                  md-maxlength="100"></textarea>
                                        <div ng-messages="cabinetInfo.activo.$error">
                                            <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD'|translate}}</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container>
                                        <label translate="">PUNTOVENTA.SERIE</label>
                                        <textarea name="serie" required=""
                                                  ng-model="vm.puntoVenta.serie"
                                                  md-maxlength="100"></textarea>
                                        <div ng-messages="cabinetInfo.serie.$error">
                                            <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD'|translate}}</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex="100" class="md-block">
                                        <label>{{'INPUT.Dialogs.Cabinet.Brand'|translate}}</label>
                                        <md-select name="selectBrand"
                                                   ng-model="vm.puntoVenta.brand"
                                                   required=""
                                                   md-on-close="vm.filterModels()"
                                                   md-no-asterisk="">
                                            <md-option ng-repeat="marca in vm.marcas" value="{{marca.id}}">{{marca.descripcion}}
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="cabinetInfo.selectBrand.$error">
                                            <div ng-message="required">{{'INPUT.Required Field'|translate}}</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex="100" class="md-block">
                                        <label>{{'INPUT.Dialogs.Cabinet.Model'|translate}}</label>
                                        <md-select name="selectModel"
                                                   ng-model="vm.cabinet.modelo"
                                                   required=""
                                                   ng-disabled="vm.marca==null || vm.modelos.length == 0"
                                                   md-no-asterisk="">
                                            <md-option ng-repeat="modelo in vm.modelos" value="{{modelo.id}}">{{modelo.nombre}}
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="cabinetInfo.selectModel.$error">
                                            <div ng-message="required">{{'INPUT.Required Field'|translate}}</div>
                                        </div>
                                    </md-input-container>

                                </div>
                            </form>
                        </div>

                    </md-tab-body>
                </md-tab>
                <md-tab id="reach" ng-disabled="projectInfo.$invalid">
                    <md-tab-label><span class="oxy-step-label">4</span><span
                            translate="">PUNTOVENTA.USEDINSUM</span>
                    </md-tab-label>
                    <md-tab-body>
                        <div class="wizard layout-padding">
                            <form name="observationsData" tri-wizard-form="">
                                <div flex="" layout="column" layout-wrap="">
                                    <div layout="row" layout-sm="column" layout-xs="column" layout-align=""
                                         ng-show="vm.insumos_loteUsados.length!=0 || vm.insumos_sinStock.lenght!=0"
                                         flex="100" layout-wrap>
                                        <div ng-repeat="insu in vm.insumos_loteUsados track by $index" flex="50">
                                            <div column>
                                                <div layout="row" layout-align="center center">
                                                    <div flex="20">
                                                        <md-switch flex class="md-primary"
                                                                   ng-model="vm.insumos_loteUsados[$index].agregar"
                                                                   aria-label="Primary Switch">
                                                        </md-switch>
                                                    </div>
                                                    <div layout="column" flex>
                                                        <div><b translate>ETAPA_SERVICIO.INSUM </b>: {{insu.nombre}}
                                                        </div>
                                                    </div>

                                                </div>
                                                <md-divider></md-divider>
                                            </div>
                                        </div>
                                        <md-divider></md-divider>
                                        <div ng-repeat="insu2 in vm.insumos_sinStock track by $index" flex="50">
                                            <div column>
                                                <div layout="row" layout-align="center center">
                                                    <div flex="20">
                                                        <md-icon md-font-icon="fa fa-ban"></md-icon>
                                                        <b><span style="color: #FF1B28;" translate>ETAPA_SERVICIO.NOTSTOCK_INSUMO</span></b>
                                                    </div>
                                                    <div layout="column" flex>
                                                        <div><b translate>ETAPA_SERVICIO.INSUM </b>: {{insu2.nombre}}
                                                        </div>
                                                    </div>

                                                </div>
                                                <md-divider></md-divider>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </md-tab-body>
                </md-tab>
                <md-tab id="reach" ng-disabled="projectInfo.$invalid">
                    <md-tab-label><span class="oxy-step-label">5</span><span
                            translate="">PUNTOVENTA.SERVICEOBSERVATION</span>
                    </md-tab-label>
                    <md-tab-body>
                        <div class="wizard layout-padding">
                            <form name="observationsData" tri-wizard-form="">
                                <div flex="" layout="column" layout-wrap="">
                                    <md-input-container>
                                        <label translate="">PUNTOVENTA.DESCRIPTION</label>
                                        <textarea name="observaciones_tecnicas" required=""
                                                  ng-model="vm.puntoVenta.observaciones_tecnicas"
                                                  md-maxlength="500"></textarea>
                                        <div ng-messages="observationsData.observaciones_tecnicas.$error">
                                            <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD'|translate}}</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container>
                                        <label translate="">PUNTOVENTA.CLIENTOBSERVATION</label>
                                        <textarea name="observaciones_cliente" required=""
                                                  ng-model="vm.puntoVenta.observaciones_cliente"
                                                  md-maxlength="500"></textarea>
                                        <div ng-messages="observationsData.observaciones_cliente.$error">
                                            <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD'|translate}}</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container>
                                        <label translate="">PUNTOVENTA.TECHNICALOBSERVATIONS</label>
                                        <textarea name="observaciones_tecnicas" required=""
                                                  ng-model="vm.puntoVenta.observaciones_tecnicas"
                                                  md-maxlength="500"></textarea>
                                        <div ng-messages="observationsData.observaciones_tecnicas.$error">
                                            <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD'|translate}}</div>
                                        </div>
                                    </md-input-container>

                                </div>
                            </form>
                        </div>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
            <md-actions layout="row" layout-align="end center"  flex class="wizard-navbar">
                <md-button ng-click="triWizard.prevStep()" class="md-fab md-mini md-scale" ng-hide="triWizard.currentStep &gt; 5"
                           ng-disabled="triWizard.prevStepDisabled()"><md-icon md-font-icon="fa fa-hand-o-left"></md-icon></md-button>
                <md-button ng-click="triWizard.nextStep()" class="md-fab md-mini md-scale"
                           ng-hide="triWizard.progress == 100 &amp;&amp; triWizard.currentStep &gt;= 5"
                           ng-disabled="triWizard.nextStepDisabled()"><md-icon md-font-icon="fa fa-hand-o-right"></md-icon></md-button>
                <md-button ng-click="vm.registrarFondeo()" class="md-fab md-mini md-scale"
                           ng-show="triWizard.progress == 100 &amp;&amp; triWizard.currentStep &gt;= 5"
                           translate="FONDEOS.WIZARD.SEND" ><md-icon md-font-icon="fa fa-save"></md-icon></md-button>
                <md-button ng-click="vm.createDialog()" ng-show="vm.fondeo.id!=null"
                           class="md-fab md-mini md-scale"><md-icon md-font-icon="fa fa-trash"></md-icon></md-button>
                <md-button ng-click="vm.cancel()" ng-show="vm.fondeo.id==null"
                           class="md-fab md-mini md-scale"><md-icon md-font-icon="fa fa-eraser"></md-icon></md-button>
            </md-actions>
        </div>
    </div>
</md-card>