<div layout="column" flex="100" layout-padding layout-fill>
    <md-card class="md-padding card1" flex="flex">
        <md-card-content>
            <div layout="row" flex="" layout-align="space-around stretch" id="cabecera">
                <h2 flex="70" flex-sm="100" flex-gt-xs="100" translate=""
                    class="md-headline-1 text-center">STAGES.FORM.LABEL.MODEL</h2>
                <md-button aria-label="fab button" class="md-fab md-scale md-fab-top-right" ng-click="vm.cancel()">
                    <md-icon md-font-icon="fa fa-plus" ng-style="{color: 'white'}">

                    </md-icon>
                </md-button>
            </div>
            <div flex="100" layout="row" layout-align="space-around stretch" layout-xs="column" layout-sm="column"
                 layout-fill="">

                <div layout="column" flex-lg="40" flex-gt-lg="40" flex-xl="40" flex-gt-sm="100" flex-md="100"
                     flex-sm="100" flex-gt-xs="100" flex-xs="100">
                    <md-autocomplete md-selected-item="vm.selectedEtapas"
                                     md-selected-item-change="vm.selectedItemChange(vm.selectedEtapas)"
                                     md-min-length="0"
                                     md-items="item in vm.querySearch(vm.searchText)" md-item-text="item.descripcion"
                                     md-search-text-change="vm.search(vm.searchText)"
                                     md-search-text="vm.searchText"
                                     md-menu-class="autocomplete-custom-template"
                                     md-floating-label="{{'STAGES.FORM.PLACEHOLDER.SEARCH_BRANCH' | translate }}">
                        <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.descripcion}}</span>
                        <md-item-template>
                            <span class="item-title">
                            <md-icon md-font-icon="fa fa-check"></md-icon>
                            <span>&nbsp; {{item.nombre}} - {{item.descripcion}}</span>
                            </span>
                        </md-item-template>
                        <md-not-found><span translate="STAGES.FORM.PLACEHOLDER.NOT_FOUND"></span></md-not-found>
                    </md-autocomplete>
                    <md-switch ng-model="vm.toggleDeleted" ng-change="vm.toggleDeletedFunction()">
                        <span ng-if="vm.toggleDeleted" hide-xs hide-sm>{{'MAIN.MODEL.SHOW_ACTIVE' | translate}}</span>
                        <span ng-if="vm.toggleDeleted" hide-gt-sm>{{'MAIN.MODEL.SHOW_ACTIVE_MOBILE' | translate}}</span>
                        <span ng-if="!vm.toggleDeleted" hide-xs hide-sm>{{'MAIN.MODEL.SHOW_DELETED' | translate}}</span>
                        <span ng-if="!vm.toggleDeleted" hide-gt-sm>{{'MAIN.MODEL.SHOW_DELETED_MOBILE' | translate}}</span>

                    </md-switch>


                    <md-virtual-repeat-container id="vertical_containers"
                                                 flex="flex"
                                                 hide-xs="hide-xs"
                                                 ng-style='vm.myStyle' flex="flex" cg-busy="{promise:vm.loadingPromise,templateUrl:'app/mainApp/directives/loading_repeater.tmpl.html',wrapperClass:'cg-busy cg-busy-animation'}"
                                                 hide-sm="hide-sm"
                                                 layout-fill>
                        <md-list class="inbox-list" flex>
                            <md-list-item ng-repeat="etapa in vm.etapas | etapaSearch:vm.searchText"
                                          class="inbox-list__email inbox-list__email--animated md-3-line md-long-text">
                                <md-button ng-click="vm.selectedEtapa(etapa)" layout-padding layout="row"
                                           layout-align="start center"
                                           ng-class="{'inbox-list__email--active' :  etapa === vm.selectedEtapaList  }">
                                    <md-icon md-svg-icon="assets/images/step.svg" class="md-avatar"></md-icon>
                                    <div class="md-list-item-text" layout="column">
                                        <h3><b>{{'MODAL_CATALOG_CONSUMABLE.FORM.LABEL.NAME'|translate}}</b>
                                            {{etapa.nombre }}</h3>
                                        <h4><b>{{'MODAL_CATALOG_CONSUMABLE.FORM.LABEL.DESCRIPTION'|translate}}</b>
                                            {{::etapa.descripcion}}</h4>
                                    </div>
                                </md-button>
                                <md-divider></md-divider>

                            </md-list-item>

                        </md-list>

                    </md-virtual-repeat-container>
                </div>
                <div layout="column" flex-lg="60" flex-gt-lg="65" flex-xl="65" flex-gt-sm="100" flex-md="100"
                     flex-sm="100" flex-gt-xs="100" flex-xs="100" layout-align="start stretch">
                    <h2 class="md-headline-1 text-center">
                        {{'STAGES.FORM.LABEL.INFO_MODEL'|translate}}</h2>
                    <form name="EtapaForm">
                        <md-input-container class="md-block">
                            <label>{{'STAGES.FORM.LABEL.NAME'|translate}}</label>
                            <input ng-required='true' type="text" name="nombre" ng-disabled="vm.etapa.deleted"
                                   ng-model="vm.etapa.nombre"/>
                            <div ng-messages="EtapaForm.nombre.$error">
                                <div ng-message="required">{{'MAIN.LABEL.REQUIRED'|translate}}</div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>{{'STAGES.FORM.LABEL.DESCRIPTION'|translate}}</label>
                            <input md-no-asterisk="" required="" type="text" name="descripcion"
                                   ng-disabled="vm.etapa.deleted"
                                   ng-model="vm.etapa.descripcion"/>
                            <div ng-messages="EtapaForm.descripcion.$error">
                                <div ng-message="required">{{'MAIN.LABEL.REQUIRED'|translate}}</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>{{'STAGES.FORM.LABEL.WORKSHOP'|translate}}</label>
                            <input md-no-asterisk="" required="" type="text" name="taller"
                                   ng-disabled="vm.etapa.deleted"
                                   ng-model="vm.etapa.taller"/>
                            <div ng-messages="EtapaForm.taller.$error">
                                <div ng-message="required">{{'MAIN.LABEL.REQUIRED'|translate}}</div>
                            </div>
                        </md-input-container>
                    </form>
                    <div layout="row" layout-align="end end">
                        <md-button aria-label="fab button" ng-click="vm.cancel()" class="md-raised md-primary">
                            <md-icon md-font-icon="fa fa-eraser"></md-icon>
                        </md-button>
                        <md-button aria-label="fab button" ng-if="vm.etapa.id!=null && vm.etapa.id!=undefined && !vm.etapa.deleted"
                                   ng-click="vm.remove($event)" class="md-raised md-warn">
                            <md-icon md-font-icon="fa fa-trash"></md-icon>
                        </md-button>
                        <md-button aria-label="fab button" ng-if="vm.etapa.id!=null && vm.etapa.id!=undefined && !vm.etapa.deleted"
                                   ng-disabled="EtapaForm.$invalid" ng-click="vm.update()" class="md-raised md-primary">
                            <md-icon md-font-icon="fa fa-pencil"></md-icon>
                        </md-button>
                        <md-button aria-label="fab button" ng-if="vm.etapa.id==null || vm.etapa.id==undefined"
                                   ng-disabled="EtapaForm.$invalid" ng-click="vm.create()" class="md-raised md-primary">
                            <md-icon md-font-icon="fa fa-save"></md-icon>
                        </md-button>
                        <md-button ng-if="vm.etapa.id!=null && vm.etapa.id!=undefined && vm.etapa.deleted" ng-click="vm.restore()" class="md-raised md-warn">
                            <md-icon md-font-icon="zmdi zmdi-time-restore"></md-icon >
                        </md-button>

                    </div>
                </div>
            </div>
        </md-card-content>


    </md-card>
</div>

