<!--   Created by Emmanuel on 02/09/2016.-->
<div layout="column">
    <div layout="row" flex="" layout-fill="" layout-align="center center">
        <md-card flex-sm="100" flex="100" flex-xs="100" class="md-padding-card1">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">
                        {{'INPUT.Entrance'|translate}}
                    </span>
                </md-card-title-text>
            </md-card-title>
            <md-content layout-fill="">
                <md-tabs layout-padding="true" md-dynamic-height="100" md-border-bottom="100"
                         md-selected="vm.selectedTab">
                    <md-tab label={{'INPUT.Tabs.GeneralData'|translate}} ng-disabled="vm.inputWasCorrect">
                        <md-content layout-padding="">
                            <form name="entradaForm" novalidate="">
                                <md-input-container flex="100" class="md-block">
                                    <label>{{'INPUT.Entrance_Kind'|translate}}</label>
                                    <md-select name="selectEntranceKind" ng-model="vm.selectedEntrada.text" required="" md-on-close="vm.limpiar()">
                                        <md-option ng-repeat="option in vm.options" value="{{option.id}}">{{option.text}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="entradaForm.selectEntranceKind.$error">
                                        <div ng-message="required">{{'INPUT.Required Field'|translate}}</div>
                                    </div>
                                </md-input-container>
                                <div layout-gt-xs="row"
                                     layout="column"
                                     layout-align-gt-xs="center center"
                                     layout-align="center stretch">

                                    <md-input-container
                                            flex="100"
                                            class="md-block"
                                            ng-if="vm.selectedEntrada.text ==='Nuevo' || vm.selectedEntrada.text === 'Garantia'">
                                        <label>{{'INPUT.Driver.Name'|translate}}</label>
                                        <input name="DriverName"
                                               md-no-asterisk=""
                                               required=""
                                               type="text"
                                               md-maxlength="100"
                                               ng-model="vm.entrada.nombre_chofer"/>
                                        <div ng-messages="entradaForm.DriverName.$error">
                                            <div ng-message="required">{{'INPUT.Required Field'|translate}}</div>
                                            <div ng-message="md-maxlength">{{'INPUT.Max100'|translate}}</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container
                                            flex="100"
                                            class="md-block"
                                            ng-if="vm.selectedEntrada.text ==='Nuevo'">
                                        <label>{{'INPUT.Pediment'|translate}}</label>
                                        <input name="Pediment"
                                               md-no-asterisk=""
                                               required=""
                                               type="text"
                                               md-maxlength="100"
                                               ng-model="vm.entrada.pedimento"/>
                                        <div ng-messages="entradaForm.Pediment.$error">
                                            <div ng-message="required">{{'INPUT.Required Field'|translate}}</div>
                                            <div ng-message="md-maxlength">{{'INPUT.Max100'|translate}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="row" layout-sm="column" layout-xs="column" layout-align="center center"
                                     layout-align-sm="center stretch" layout-align-xs="center stretch">
                                    <div
                                            flex="100"
                                            class="md-block"
                                            ng-if="vm.selectedEntrada.text === 'Garantia'">
                                        <md-autocomplete md-selected-item="vm.entrada.udn"
                                                         md-selected-item-change="vm.selectedItemChange(vm.entrada.udn)"
                                                         md-items="item in vm.filteredUDN" md-item-text="item.agencia"
                                                         md-min-length="0"
                                                         md-input-name="selectUDN"
                                                         md-search-text-change="vm.search(vm.searchText)"
                                                         required
                                                         md-input-id="udn"
                                                         md-search-text="vm.searchText"
                                                         md-menu-class="autocomplete-custom-template"
                                                         md-require-match="true"
                                                         md-floating-label="{{'INPUT.UDN'| translate}}">
                                            <md-item-template>
                                                    <span class="item-title">
                                                        <md-icon md-font-icon="zmdi zmdi-city"></md-icon>
                                                        <span>&nbsp; {{item.agencia}}</span>
                                                    </span>
                                                    <span class="item-metadata">
                                                        <span class="item-metastat">
                                                            <strong>{{item.zona}}</strong>
                                                        </span>
                                                    </span>
                                            </md-item-template>
                                            <md-not-found><span translate="INPUT.Messages.NotFoundUdn"></span>
                                            </md-not-found>
                                            <div ng-messages="entradaForm.selectUDN.$error"
                                                 ng-if="entradaForm.selectUDN.$touched">
                                                <div ng-message="required">{{'INPUT.Required Field'|translate}}</div>
                                                <div class="validate" ng-show="!vm.isValid"
                                                     ng-class="{'slide':vm.isValid==false}">
                                                    <span>{{'INPUT.Messages.InvalidUDN'| translate}}</span>
                                                </div>
                                            </div>
                                        </md-autocomplete>
                                    </div>
                                    <md-input-container flex="100"
                                                        class="md-block"
                                                        ng-if="vm.selectedEntrada.text ==='Nuevo' || vm.selectedEntrada.text === 'Garantia'">
                                        <label>{{'INPUT.Transport.Line'|translate}}</label>
                                        <md-select name="selectTransportLine" ng-model="vm.entrada.linea_transporte"
                                                   required="" md-no-asterisk="">
                                            <md-option ng-repeat="linea in vm.lineasTransporte" value="{{linea.id}}">
                                                {{linea.razon_social}}
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="entradaForm.selectTransportLine.$error">
                                            <div ng-message="required">{{'INPUT.Required Field'|translate}}</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container
                                            flex="100"
                                            class="md-block"
                                            ng-if="vm.selectedEntrada.text ==='Nuevo' || vm.selectedEntrada.text === 'Garantia'">
                                        <label>{{'INPUT.Transport.Kind'|translate}}</label>
                                        <md-select name="selectTransportKind" ng-model="vm.entrada.tipo_transporte"
                                                   required="" md-no-asterisk="">
                                            <md-option ng-repeat="tipo in vm.tiposTransporte" value="{{tipo.id}}">
                                                {{tipo.descripcion}}
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="entradaForm.selectTransportKind.$error">
                                            <div ng-message="required">{{'INPUT.Required Field'|translate}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout-gt-xs="row" layout="column" layout-align-gt-xs="center center"
                                     layout-align="center stretch">
                                    <md-input-container
                                            flex="100"
                                            class="md-block"
                                            ng-if="vm.selectedEntrada.text ==='Nuevo' || vm.selectedEntrada.text === 'Garantia'">
                                        <label>{{'INPUT.Subsidiary'|translate}}</label>
                                        <md-select name="selectSubsidiary"
                                                   ng-model="vm.entrada.sucursal"
                                                   required=""
                                                   ng-disabled="vm.sucursal!=null"
                                                   md-no-asterisk="">
                                            <md-option ng-repeat="sucursal in vm.Sucursales" value="{{sucursal.id}}">
                                                {{sucursal.nombre}}
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="entradaForm.selectSubsidiary.$error">
                                            <div ng-message="required">{{'INPUT.Required Field'|translate}}</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container
                                            flex="100"
                                            class="md-block"
                                            ng-if="vm.selectedEntrada.text ==='Nuevo'">
                                        <label>{{'INPUT.Project'|translate}}</label>
                                        <md-select name="selectProject" ng-model="vm.entrada.proyecto" required=""
                                                   md-no-asterisk="">
                                            <md-option ng-repeat="proyecto in vm.Proyectos" value="{{proyecto.id}}">
                                                {{proyecto.descripcion}}
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="entradaForm.selectProject.$error">
                                            <div ng-message="required">{{'INPUT.Required Field'|translate}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </form>
                            <div
                                    layout-gt-xs="row"
                                    flex="100"
                                    layout="column"
                                    layout-align="center stretch"
                                    layout-align-gt-xs="center center"
                                    ng-if="vm.selectedEntrada.text ==='Nuevo' || vm.selectedEntrada.text === 'Garantia'">
                                <p>{{'INPUT.Driver.IFE'|translate}}</p>
                                <div flex="30" layout="column" layout-align="space-around center">
                                    <md-button
                                            type="file"
                                            ngf-select="vm.selectionImage($file)"
                                            ngf-multiple="false"
                                            accept="image/*"
                                            class="md-primary md-raised">{{'INPUT.Choose Image'|translate}}
                                    </md-button>
                                </div>
                            </div>
                            <div flex="80">
                                <div class="md-media-md card-media"  ng-if="vm.entrada.ife_chofer!=null">
                                    <img ngf-src="vm.entrada.ife_chofer" style="max-width:150px" class="thumb"/>
                                </div>
                                <div class="md-media-md card-media"  ng-if="vm.entrada.ife_chofer==null">
                                    <img ngf-src="vm.ife_chofer" style="max-width:150px" class="thumb"/>
                                </div>
                            </div>
                            <div layout="row"
                                 layout-align="end center"
                                 ng-if="vm.selectedEntrada.text ==='Nuevo' || vm.selectedEntrada.text === 'Garantia'">
                                <md-button ng-click="vm.nextTab()" ng-disabled="entradaForm.$invalid"
                                           class="md-raised md-primary">{{'INPUT.Next'|translate}}
                                </md-button>
                            </div>
                        </md-content>
                    </md-tab>
                    <!--Registro de cabinets-->
                    <!--ng-disabled="entradaForm.$invalid"-->
                    <md-tab label={{'INPUT.Tabs.CabinetsUpload'|translate}} ng-disabled="entradaForm.$invalid">
                        <md-content layout-padding="">
                            <h2 ng-if="vm.entrada.id != null && vm.entrada.id != undefined" >{{'INPUT.ID'|translate}}{{vm.entrada.id}}</h2>
                            <div layout-gt-xs="row"
                                 layout="column"
                                 layout-align-gt-xs="space-around start"
                                 layout-align="center stretch"
                                 ng-if="!vm.inputWasCorrect"
                            >
                                <md-button ng-click="vm.showMassiveUpload()" class="md-raised md-primary">
                                    {{'INPUT.Cabinets Massive Upload'|translate}}
                                </md-button>
                                <md-button ng-click="vm.showManualUpload()" class="md-raised md-primary">
                                    {{'INPUT.Cabinets Manual Upload'|translate}}
                                </md-button>
                            </div>
                            <div layout="column" ng-hide="vm.hideMassiveUpload">
                                <!-- Massive Upload-->
                                <div layout-gt-xs="row"
                                     layout="column"
                                     flex="100"
                                     ng-hide="vm.hideMassiveUpload"
                                     ng-if="!vm.inputWasCorrect"
                                >
                                    <md-input-container flex-gt-sm="75" flex-gt-xs="50" flex="100">
                                        <input name="FileName"
                                               aria-label="FileName"
                                               type="text"
                                               ng-model="vm.entrada.file.name"
                                               ng-disabled="true"/>
                                    </md-input-container>
                                    <div flex-gt-sm="13" flex-gt-xs="25" flex="100" layout="column">
                                        <md-button ngf-select="vm.selectionFile($file)"
                                                   accept=".xlsx, application/vnd.ms-excel"
                                                   ngf-max-size="5MB"
                                                   ng-model="vm.entrada.file"
                                                   class="md-primary md-raised">
                                            {{'INPUT.Choose File'|translate}}
                                        </md-button>
                                    </div>
                                    <div flex-gt-sm="12" flex-gt-xs="25" flex="100" layout="column">
                                        <md-button class="md-raised" ng-href="https://goo.gl/4tNU0d" target="_blank">
                                            {{'INPUT.Format'|translate}}
                                        </md-button>
                                    </div>
                                </div>
                                <div ng-if="vm.entrada.no_creados.length > 0"
                                     layout-align="space-around stretch"
                                     layout="column">
                                    <div layout="column"
                                         layout-gt-xs="row"
                                         layout-align="center stretch"
                                         layout-align-gt-xs="space-around center"
                                         flex="100"
                                         ng-if="vm.entrada.id!=null"
                                    >
                                        <md-button class="md-raised md-primary" ng-click="vm.showMarcaDialog(ev)"
                                                   flex="flex" flex-gt-sm="100">
                                            {{'INPUT.Create Brand'|translate}}
                                        </md-button>
                                        <md-button class="md-raised md-primary" ng-click="vm.showModeloDialog(ev)"
                                                   flex="flex" flex-gt-sm="100">
                                            {{'INPUT.Create Model'|translate}}
                                        </md-button>
                                    </div>
                                    <div layout="column"
                                         flex="100"
                                         ng-if="vm.entrada.no_creados.length > 0"
                                    >
                                        <p>{{'INPUT.Unregistered Cabinets'|translate}}: {{vm.entrada.no_creados.length}}</p>
                                        <md-virtual-repeat-container flex="100"
                                                                     layout="column"
                                                                     layout-align="center center"
                                                                     class="vr-min-height">
                                            <div id="tabla" layout-align="center center">
                                                <div class="table-responsive-vertical shadow-z-1"
                                                     layout-align="space-around center">
                                                    <!-- Table starts here -->
                                                    <table id="table" class="table table-hover table-mc-light-blue"
                                                           layout-align="center center">
                                                        <thead>
                                                        <tr>
                                                            <th>
                                                                {{'INPUT.TableUnregisteredCabinets.Economic'|translate}}
                                                            </th>
                                                            <th>{{'INPUT.TableUnregisteredCabinets.Reason'|translate}}
                                                            </th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="cabinet in vm.entrada.no_creados">
                                                            <td data-title="{{'INPUT.TableUnregisteredCabinets.Economic'|translate}}">
                                                                {{cabinet.economico}}
                                                            </td>
                                                            <td data-title="{{'INPUT.TableUnregisteredCabinets.Reason'|translate}}">
                                                                {{cabinet.motivo}}
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </md-virtual-repeat-container>
                                    </div>
                                </div>
                                <div flex=""
                                     layout="column"
                                     ng-hide="vm.hideMassiveUpload"
                                     ng-if="vm.entrada.modelos_no_existentes.length > 0">
                                    <p>{{'INPUT.UnexistentModels'|translate}}: {{vm.entrada.modelos_no_existentes.length}}</p>
                                    <md-virtual-repeat-container flex="100"
                                                                 layout="column"
                                                                 layout-align="center center"
                                                                 class="vr-min-height">
                                        <div id="tabla" layout-align="center center">
                                            <div ng-repeat="modelo in vm.entrada.modelos_no_existentes">
                                                {{modelo}}
                                                <md-divider></md-divider>
                                            </div>
                                        </div>
                                    </md-virtual-repeat-container>
                                </div>
                                <div flex="" layout="column" ng-if="vm.entrada.creados.length > 0">
                                    <p>{{'INPUT.Registered Cabinets'|translate}}: {{vm.entrada.creados.length}}</p>
                                    <md-virtual-repeat-container flex="100"
                                                                 layout="column"
                                                                 layout-align="center center"
                                                                 class="vr-min-height">
                                        <div id="tabla" layout-align="center center">
                                            <div class="table-responsive-vertical shadow-z-1"
                                                 layout-align="space-around center">
                                                <!-- Table starts here -->
                                                <table id="table" class="table table-hover table-mc-light-blue"
                                                       layout-align="center center">
                                                    <thead>
                                                    <tr>
                                                        <th>
                                                            {{'INPUT.TableCabinets.Headers.EconomicNum'|translate}}
                                                        </th>
                                                        <th>
                                                            {{'INPUT.TableCabinets.Headers.SerialNum'|translate}}
                                                        </th>
                                                        <th>
                                                            {{'INPUT.TableCabinets.Headers.Brand'|translate}}
                                                        </th>
                                                        <th>
                                                            {{'INPUT.TableCabinets.Headers.Model'|translate}}
                                                        </th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="cabinet in vm.entrada.creados">
                                                        <td data-title="{{'INPUT.TableCabinets.Headers.EconomicNum'|translate}}">
                                                            {{cabinet.economico}}
                                                        </td>
                                                        <td data-title="{{'INPUT.TableCabinets.Headers.SerialNum'|translate}}">
                                                            {{cabinet.no_serie}}
                                                        </td>
                                                        <td data-title="{{'INPUT.TableCabinets.Headers.Brand'|translate}}">
                                                            {{cabinet.modelo.marca.descripcion}}
                                                        </td>
                                                        <td data-title="{{'INPUT.TableCabinets.Headers.Model'|translate}}">
                                                            {{cabinet.modelo.nombre}}
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </md-virtual-repeat-container>
                                </div>
                            </div>
                            <div layout="column" ng-hide="vm.hideManualUpload" flex="100">
                                <div layout="row" layout-align="center center">
                                    <form name="formCabinets" ng-submit="vm.addCabinet()">
                                        <md-input-container flex-gt-xs="80" flex="100">
                                            <label>{{'INPUT.CabinetID'|translate}}</label>
                                            <input name="CabinetInput"
                                                   type="text"
                                                   numbers-only
                                                   maxlength="10"
                                                   ng-model="vm.cabinetID">
                                        </md-input-container>
                                    </form>
                                    <md-button aria-label="fab button"
                                               class="md-fab md-scale md-mini  md-fab-principal"
                                               ng-click="vm.addCabinet()">
                                        <md-icon md-font-icon="fa fa-plus" ng-style="{color: 'white'}">

                                        </md-icon>
                                    </md-button>
                                </div>
                                <div flex="" layout="column" ng-if="vm.cabinets.length > 0">
                                    <p>{{'INPUT.Registered Cabinets'|translate}}: {{vm.cabinets.length}}</p>
                                    <md-table-container>
                                        <table md-table="" md-row-select="" multiple="" ng-disabled="true">
                                            <thead md-head="">
                                            <tr md-row="">
                                                <th md-column="">{{'INPUT.TableCabinets.Headers.EconomicNum'|translate}}
                                                </th>
                                                <th md-column="">{{'INPUT.TableCabinets.Headers.SerialNum'|translate}}
                                                </th>
                                                <th md-column="">{{'INPUT.TableCabinets.Headers.Brand'|translate}}</th>
                                                <th md-column="">{{'INPUT.TableCabinets.Headers.Model'|translate}}</th>
                                                <th md-column=""></th>
                                            </tr>
                                            </thead>
                                            <tbody md-body="">
                                            <tr md-row=""
                                                ng-repeat="registeredCabinet in vm.cabinets"
                                                md-swipe-left="vm.removeCabinet(registeredCabinet)"
                                                md-swipe-right="vm.removeCabinet(registeredCabinet)"
                                            >
                                                <td md-cell="">{{registeredCabinet.economico}}</td>
                                                <td md-cell="">{{registeredCabinet.no_serie}}</td>
                                                <td md-cell="">{{registeredCabinet.marca}}</td>
                                                <td md-cell="">{{registeredCabinet.modelo}}</td>
                                                <td md-cell="">
                                                    <md-button aria-label="fab button"
                                                               class="md-fab md-scale md-mini md-fab-principal"
                                                               ng-click="vm.removeCabinet(registeredCabinet)">
                                                        <md-icon md-font-icon="fa fa-trash" ng-style="{color: 'white'}">

                                                        </md-icon>
                                                    </md-button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </md-table-container>
                                </div>
                                <div flex="" layout="column" ng-if="vm.notFoundCabinets.length > 0">
                                    <div layout="column" layout-gt-sm="row" layout-align="center center"
                                         layout-align-gt-sm="space-around center">
                                        <md-button class="md-raised md-primary" ng-click="vm.showMarcaDialog(ev)"
                                                   flex="flex" flex-gt-sm="100">
                                            {{'INPUT.Create Brand'|translate}}
                                        </md-button>
                                        <md-button class="md-raised md-primary" ng-click="vm.showModeloDialog(ev)"
                                                   flex="flex" flex-gt-sm="100">
                                            {{'INPUT.Create Model'|translate}}
                                        </md-button>
                                    </div>
                                    <p>{{'INPUT.Unregistered Cabinets'|translate}}: {{vm.notFoundCabinets.length}}</p>
                                    <md-virtual-repeat-container flex="100" layout-fill ng-style='{"height":"250px"}'>
                                        <md-list>
                                            <md-list-item ng-repeat="cabinet in vm.notFoundCabinets"
                                                          style="padding-right: 20px;">
                                                <section layout="row"
                                                         layout-align="space-between center"
                                                         layout-fill
                                                         md-swipe-left="vm.removeNotFoundCabinet(cabinet)"
                                                         md-swipe-right="vm.removeNotFoundCabinet(cabinet)"
                                                >
                                                    <md-button ng-click="vm.showCabinetDialog(cabinet)"
                                                               layout-fill

                                                    >
                                                        {{cabinet}}
                                                    </md-button>
                                                    <section layout-wrap layout-align="center center" flex="flex">
                                                        <md-button layout-fill
                                                                   ng-click="vm.removeNotFoundCabinet(cabinet)"
                                                                   flex="flex"
                                                                   class="md-no-ink">
                                                            <md-icon md-font-icon="fa fa-times-circle"></md-icon>
                                                        </md-button>
                                                    </section>
                                                </section>
                                                <md-divider></md-divider>
                                            </md-list-item>
                                        </md-list>
                                    </md-virtual-repeat-container>
                                </div>
                            </div>
                            <div layout="row" layout-align="end center">
                                <md-button ng-click="vm.limpiar()"
                                           md-no-ink
                                           class="md-raised md-primary"
                                           aria-label="clear">
                                    <md-icon md-font-icon="fa fa-eraser"></md-icon>
                                </md-button>
                                <md-button
                                        ng-disabled="entradaForm.$invalid
                                        || vm.inputWasCorrect
                                        || (vm.entrada.file==null && vm.hideManualUpload==true)
                                        || (vm.cabinets.length === 0 && vm.hideMassiveUpload==true)"
                                        ng-click="vm.guardar()"
                                        aria-label="save"
                                        class="md-raised md-primary">
                                    <md-icon ng-if="vm.entrada.id == null || vm.entrada.id == undefined" md-font-icon="fa fa-save"></md-icon>
                                    <md-icon ng-if="vm.entrada.id != null && vm.entrada.id != undefined" md-font-icon="fa fa-pencil"></md-icon>
                                </md-button>
                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>
        </md-card>
    </div>
</div>
