<md-card class="md-padding card1" flex="100" layout-fill>
    <span class="md-subhead" translate>CABINET.SELECTED_CABINET</span>

    <div layout="row" layout-sm="column" layout-xs="column" flex="flex">
        <md-input-container flex>
            <label translate>CABINET.ECONOMIC</label>
            <input type="text" ng-model="vm.parent.cabinet.economico" ng-disabled="true"/>
        </md-input-container>
        <md-input-container flex>
            <label translate>CABINET.STATUS</label>
            <input type="text" ng-model="vm.parent.cabinet.status" ng-disabled="true"/>

        </md-input-container>
        <md-input-container flex>
            <label translate>CABINET.INCIDENTS</label>
            <input type="number" ng-model="vm.parent.cabinet.no_incidencias" ng-disabled="true"/>
        </md-input-container>
        <md-input-container flex>
            <md-switch class="md-primary" ng-model="vm.cabinet.activo" aria-label="Aun es Funcional"
                       ng-disabled="true">
                <span translate>CABINET.FUNCTION</span>
            </md-switch>
        </md-input-container>

    </div>
    <div layout="row" layout-sm="column" layout-xs="column" flex="flex">
        <md-input-container flex>
            <label translate>CABINET.ID_UNILEVER</label>
            <input type="text" ng-model="vm.parent.cabinet.id_unilever" ng-disabled="true"/>
        </md-input-container>
        <md-input-container flex>
            <label translate>CABINET.NO_SERIE</label>
            <input type="text" ng-model="vm.parent.cabinet.no_serie" ng-disabled="true"/>
        </md-input-container>
        <md-input-container flex>
            <label translate>CABINET.YEAR</label>
            <input type="text" ng-model="vm.parent.cabinet.year" ng-disabled="true"/>
        </md-input-container>
        <md-input-container flex>
            <label translate>CABINET.MODEL</label>
            <md-select ng-model="vm.parent.cabinet.modelo" name="select" ng-disabled="true">
                <md-option ng-repeat="modelo in vm.parent.modelos" ng-value="modelo.id">{{modelo.descripcion}}</md-option>
            </md-select>
        </md-input-container>
    </div>
</md-card>