<div layout="row" flex layout-padding layout-fill layout-align="center center">
    <div flex="">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <h2>Buscar Usuario</h2>
                    <div layout="row">
                        <md-input-container class="md-block" flex="50">
                            <!--label>Nombre de Usuario</label>
                            <textarea ng-model="vm.userName"></textarea-->
                        </md-input-container>

                        <!-- opc 1-->

                    </div>

                    <div  layout="row">
                        <md-input-container flex="" class="md-inline-form md-block">
                            <md-select placeholder="Elige tipo de person" ng-model="vm.tipo_solicitud">
                                <md-option value="Envio">Solicitud de envió</md-option>
                                <md-option value="Recoleccion">Solicitud de recolección</md-option>
                                <md-option value="Venta">Solicitud de punto de venta</md-option>
                            </md-select>
                        </md-input-container>
                        <!--md-input-container ng-if="!vm.isClient" class="md-block" flex="50">
                            <label>No de Solicitud</label>
                            <textarea ng-model="vm.id"></textarea>
                        </md-input-container>
                        <div layout="column">
                            <div ng-if="!vm.isClient" class="margin-bottom-20" layout="row" layout-align="space-around center" flex="50">
                                <p>Fecha de Termino</p>
                            </div>
                            <div ng-if="!vm.isClient" class="margin-bottom-20" layout="row" layout-align="space-around center" flex="50">
                                <md-datepicker ng-model="vm.FechaFin"
                                               md-placeholder="Enter date"></md-datepicker>
                            </div>
                        </div-->
                        <md-button class="md-fab"  aria-label="fab button" ng-click="vm.buscarUsuario()" >
                            <md-icon md-font-icon="zmdi zmdi-zoom-in"></md-icon>
                        </md-button>
                    </div>
                </md-card-title-text>


            </md-card-title>

            <div layout="row" flex layout-padding layout-fill layout-align="center center" ng-show="vm.personas_admin!=null">
                <div flex="100" flex-xs="100">
                    <!-- exact table from live demo ***********************************************************************-->
                    <md-card>
                        <div layout="column" layout-sm="column" layout-md="column">
                            <md-table-container>
                                <table md-table="" md-row-select="" ng-model="vm.usuario">
                                    <thead md-head="" md-order="vm.query.order">
                                    <tr md-row="md-row">
                                        <th md-column="md-column" md-order-by="id"><span translate="">ID</span>
                                        </th>
                                        <th md-column="md-column" md-order-by="nombre"><span translate="">Nombre</span>
                                        </th>
                                        <th md-column="md-column" md-order-by="apellido_paterno"><span translate="">Apellido Paterno</span>
                                        </th>
                                        <th md-column="md-column" md-order-by="apellido_materno"><span translate="">Apellido Materno</span>
                                        </th>
                                        <th md-column="md-column" md-order-by="direccion"><span translate="">Dirección</span>
                                        </th>
                                        <th md-column="md-column" md-order-by="telefono"><span translate="">Telefono</span>
                                        </th>
                                        <th md-column="md-column" md-order-by="user.username"><span translate="">UserName</span>
                                        </th>
                                        <th md-column="md-column" md-order-by="user.email"><span translate="">Email</span>
                                        </th>


                                        <!-- Cuerpo de la tabla-->
                                    </tr>
                                    </thead>
                                    <tbody md-body="md-body">
                                    <tr md-row="md-row" md-select="usuario" md-select-id="{{person.id}}"
                                        ng-repeat="person in vm.personas_admin | orderBy:vm.query.order | offset: (vm.query.page-1)*vm.query.limit | limitTo: vm.query.limit">
                                        <td md-cell="md-cell">{{person.id}}</td>
                                        <td md-cell="md-cell" ng-click='vm.edit($event,person,"nombre")'>{{person.nombre}}</td>
                                        <td md-cell="md-cell" ng-click='vm.edit($event,person,"apellido_paterno")'>{{person.apellido_paterno}}</td>
                                        <td md-cell="md-cell" ng-click='vm.edit($event,person,"apellido_materno")'>{{person.apellido_materno}}</td>
                                        <td md-cell="md-cell" ng-click='vm.edit($event,person,"direccion")'>{{person.direccion}}</td>
                                        <td md-cell="md-cell" ng-click='vm.edit($event,person,"telefono")'>{{person.telefono}}</td>
                                        <td md-cell="md-cell" ng-click='vm.edit($event,person,"user.username")'>{{person.user.username}}</td>
                                        <td md-cell="md-cell" ng-click='vm.edit($event,person,"user.email")'>{{person.user.email}}</td>

                                        <td md-cell="md-cell" ng-click="$event.stopPropagation()"><!-- -->
                                            <md-button ng-click="vm.eliminarPersona(person)" class="md-fab md-warn md-mini">
                                                <md-icon md-font-icon="fa fa-times-circle"></md-icon>
                                            </md-button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </md-table-container>
                            <md-table-pagination label="textoprub" md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.personas_admin.length}}" md-on-paginate="onPaginate" md-page-select="md-page-select"></md-table-pagination>
                        </div>
                    </md-card>
                </div>

            </div>
            <md-card-actions layout="row" layout-align="end center">
                <md-button>Guardar</md-button>
                <md-button>Cancelar</md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>
<!-- opc 1-->
<!--div layout="row" layout-align="end end">
    <!--md-button class="md-raised md-primary" aria-label="Guardar"
               ng-click='vm.crearEtapaServicio()'>
        <md-icon md-font-icon="fa fa-save"></md-icon>

    </md-button>
    <md-button class="md-raised md-primary" aria-label="Eliminar"
               ng-click="vm.eliminarEtapaServicio()">
        <md-icon md-font-icon="fa fa-trash"></md-icon>

    </md-button-->
    <!--md-button class="md-raised md-primary" aria-label="Borrar"
               ng-click="vm.cancel()">
        <md-icon md-font-icon="fa fa-eraser"></md-icon>
    </md-button>

    <md-button aria-label="fab button" ng-click="vm.updatePersona()" class="md-raised md-primary" ng-disabled="objectForm.$invalid">
        <md-icon md-font-icon="fa fa-pencil"></md-icon>
    </md-button>
</div-->


