<div flex layout="column">
    <md-card class="md-padding card1">
        <md-input-container align="center">
            <h1 translate="ADMIN.MANAGE.MANAGEMENT_USER"></h1>
        </md-input-container>
    </md-card>
    <form name="objectForm" >
        <div flex="100" layout='row'>
            <div flex="50">
                <md-card class="md-padding card1">
                    <h2>Creación de Usuario</h2>
                    <md-input-container >
                        <label>Usuario</label>
                        <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
                        <input type="text" ng-model="vm.user_ini.user.username" name="username" required='required' ng-pattern="/^[A-Za-z_]\w*$/">
                        <div ng-messages="objectForm.username.$error">
                            <div ng-message="pattern">El Usuario no puede comenzar con un digito y solo puede usar caracteres validos</div>
                            <div ng-message="required">El campo es requerido</div>
                            
                        </div>
                        <!--span ng-show="objectForm.username.$error.pattern==true">Not a valid number!</span>
                        <span ng-show="objectForm.username.$error.required==true">This field is required!</span-->

                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Contraseña</label>
                        <md-icon md-font-icon="zmdi zmdi-key"></md-icon>
                        <input type="password" ng-model="vm.user_ini.user.password" name="password" required='required' ng-pattern="/^[A-Za-z0-9_\.-@]{8,25}$/">
                        <div ng-messages="objectForm.password.$error">
                            <div ng-message="pattern">El password debe contener al menos 8 elementos y solo simbolos validos</div>
                            <div ng-message="required">El campo es requerido</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Confirmación de Contraseña</label>
                        <md-icon md-font-icon="zmdi zmdi-key"></md-icon>
                        <input type="password" ng-model="vm.user_ini.user.cpassword" name="cpassword" required='required' ng-pattern="/^[A-Za-z0-9_\.-@]{8,25}$/">
                        <div ng-messages="objectForm.cpassword.$error">
                            <div ng-message="pattern">El password debe contener al menos 8 elementos y solo simbolos validos</div>
                            <div ng-message="required">El campo es requerido</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Nombre</label>
                        <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
                        <input type="text" ng-model="vm.user_ini.nombre" name="nombre" required='required' ng-pattern="/^[A-Za-z\s]*$/">
                        <div ng-messages="objectForm.nombre.$error">
                            <div ng-message="pattern">El Nombre solo puede contener digitos</div>
                            <div ng-message="required">El campo es requerido</div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label>Apellido Paterno</label>
                        <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
                        <input type="text" ng-model="vm.user_ini.apellido_paterno" name="apellido_paterno" required='required' ng-pattern="/^[A-Za-z\s]*$/">
                        <div ng-messages="objectForm.apellido_paterno.$error">
                            <div ng-message="pattern">El apellido paterno solo puede contener digitos</div>
                            <div ng-message="required">El campo es requerido</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Apellido Materno</label>
                        <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
                        <input type="text" ng-model="vm.user_ini.apellido_materno" name="apellido_materno" required='required' ng-pattern="/^[A-Za-z\s]*$/">
                        <div ng-messages="objectForm.apellido_materno.$error">
                            <div ng-message="pattern">El apellido materno solo puede contener digitos</div>
                            <div ng-message="required">El campo es requerido</div>
                        </div>
                    </md-input-container>
                </md-card>
            </div>
            <!-- Second part-->
            <div flex="50">
                <md-card class="md-padding card1">
                    <md-card-content>


                        <md-input-container class="md-block">
                            <label>Telefono</label>
                            <md-icon md-font-icon="zmdi zmdi-phone"></md-icon>
                            <input type="text" ng-model="vm.user_ini.telefono" only-digits name="telefono" maxlength="16" required='required' ng-pattern="/^\d+$/">
                            <div ng-messages="objectForm.telefono.$error">
                                <div ng-message="pattern">El telefono solo puede contener digitos</div>
                                <div ng-message="required">El campo es requerido</div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>Dirección</label>
                            <md-icon md-font-icon="zmdi zmdi-pin"></md-icon>
                            <input type="text" ng-model="vm.user_ini.direccion" name="direccion" required='required' ng-pattern="/^[A-Za-z_]\w*$/">
                            <div ng-messages="objectForm.direccion.$error">
                                <div ng-message="pattern">La Direccion no puede comenzar por un digito</div>
                                <div ng-message="required">El campo es requerido</div>
                            </div>
                        </md-input-container>

                        <md-input-container md-no-float class="md-block">
                            <label>Correo Electronico</label>
                            <md-icon md-font-icon="zmdi zmdi-email"></md-icon>
                            <input type="text" ng-model="vm.user_ini.user.email" name="email" required='required' ng-pattern="/^[A-Za-z0-9_]+@[A-Za-z0-9_]+\.[A-Za-z0-9_]{2,3}$/">
                            <div ng-messages="objectForm.email.$error">
                                <div ng-message="pattern">El Usuario no puede comenzar con un digito</div>
                                <div ng-message="required">El campo es requerido</div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <md-icon md-font-icon="zmdi zmdi-account-box"></md-icon>
                            <md-select placeholder="Elige el rol" ng-model="vm.user_ini.user.role" name="role" required='required'>
                                <md-option ng-value="grupo.id" ng-repeat='grupo in vm.grupos'>{{grupo.name}}</md-option>
                                <!--md-option value="1">UDN_1</md-option>
                        <md-option value="2">UDN_2</md-option>
                        <md-option value="3">UDN_3</md-option-->
                            </md-select>
                            <div ng-messages="objectForm.role.$error">
                                <div ng-message="required">El campo es requerido</div>
                            </div>
                        </md-input-container>

                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Cargar INE</span>
                                <div layout-align="center center" flex="100" layout="row">
                                    <md-button flex="80"
                                               ngf-select="vm.selectionFoto($files)"
                                               ngf-accept="'image/*'"
                                               class="md-primary md-raised"
                                               required="required"
                                               ng-disabled="false" ngf-multiple="false"
                                               ng-model="vm.picFoto"
                                               aria-label="upload">
                                        <md-icon md-font-icon="zmdi zmdi-cloud-upload"></md-icon> Seleccionar archivo <md-icon md-font-icon="zmdi zmdi-cloud-upload"></md-icon>
                                    </md-button>
                                </div>
                            </md-card-title-text>

                            <md-card-title-media>
                                <div class="md-media-md card-media">
                                    <img src="assets/images/dashboards/weather.jpg" alt="Card Image" ng-show="vm.picFoto==null">
                                    <img ngf-src="vm.picFoto" class="thumb" width="120px" height="120px" ng-show="vm.picFoto!=null">
                                </div>
                            </md-card-title-media>
                        </md-card-title>

                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Cargar INE</span>
                                <div layout-align="center center" flex="100" layout="row">
                                    <md-button flex="80"
                                               ngf-select="vm.selectionIFE($files)"
                                               ngf-accept="'image/*'"
                                               class="md-primary md-raised"
                                               required="required"
                                               ng-disabled="false" ngf-multiple="false"
                                               ng-model="vm.picIFE"
                                               aria-label="upload">
                                        <md-icon md-font-icon="zmdi zmdi-cloud-upload"></md-icon> Seleccionar archivo <md-icon md-font-icon="zmdi zmdi-cloud-upload"></md-icon>
                                    </md-button>
                                </div>
                            </md-card-title-text>
                            <md-card-title-media>
                                <div class="md-media-md card-media">
                                    <img src="assets/images/dashboards/weather.jpg" alt="Card Image" ng-show="vm.picIFE==null">
                                    <img ngf-src="vm.picIFE" class="thumb" width="120px" height="120px" ng-show="vm.picIFE!=null">
                                </div>
                            </md-card-title-media>
                        </md-card-title>

                        <md-card-actions layout="row" layout-align="center">
                            <md-button ng-disabled="objectForm.$invalid" ng-click="vm.guardarUsuario()" class="md-raised md-primary">Guardar</md-button>
                            <md-button ng-click="vm.cancel()" style="margin-right:20px;" class="md-primary md-raised">Cancelar</md-button>
                        </md-card-actions>

                    </md-card-content>

                </md-card>
            </div>
        </div>
    </form>

</div>