<div flex layout="column">
    <md-card class="md-padding card1">
        <md-input-container align="center">
            <h1 translate="ADMIN.MANAGE.MANAGEMENT_USER"></h1>
        </md-input-container>
    </md-card>
    <div flex="100" layout='row'>

        <md-input-container flex="50">
            <md-card class="md-padding card1">
                <md-card-content>
                    <h2>Creación de Usuario</h2>
                    <md-input-container md-no-float class="md-block">
                        <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
                        <input type="text" placeholder="Usuario" ng-model="vm.user.user">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <md-icon md-font-icon="zmdi zmdi-key"></md-icon>
                        <input type="password" placeholder="Contraseña" ng-model="vm.user.password">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <md-icon md-font-icon="zmdi zmdi-key"></md-icon>
                        <input type="password" placeholder="Confirmación de Contraseña" ng-model="vm.user.confirmacion">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
                        <input type="text" placeholder="Nombre" ng-model="vm.user.nombre">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
                        <input type="text" placeholder="Apellido Paterno" ng-model="vm.user.aPaterno">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
                        <input type="text" placeholder="Apellido Materno" ng-model="vm.user.aPaterno">
                    </md-input-container>

                    <md-input-container md-no-float class="md-block">
                        <md-icon md-font-icon="zmdi zmdi-pin"></md-icon>
                        <input type="text" placeholder="Correo Electrónico" ng-model="vm.user.mail">
                    </md-input-container>
                </md-card-content>

            </md-card>
        </md-input-container>
        <!-- Second part-->
        <md-input-container flex="50">
            <md-card class="md-padding card1">
                <md-card-content>

                    <md-input-container class="md-block">
                        <md-icon md-font-icon="zmdi zmdi-phone"></md-icon>
                        <input type="text" placeholder="Telefono" ng-model="vm.user.telefono">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <md-icon md-font-icon="zmdi zmdi-pin"></md-icon>
                        <input type="text" placeholder="Dirección" ng-model="vm.user.direccion">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <md-icon md-font-icon="zmdi zmdi-city"></md-icon>
                        <input type="text" placeholder="Sucursal" ng-model="vm.user.sucursal">
                    </md-input-container>


                    <md-input-container class="md-block">
                        <md-icon md-font-icon="zmdi zmdi-account-box"></md-icon>
                        <input type="text" placeholder="Tipo de usuario" ng-model="vm.user.tipo">
                    </md-input-container>

                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Cargar Foto</span>
                            <md-button class="md-primary md-raised" ngf-select="vm.upload($files)" ngf-multiple="true"
                                       aria-label="Foto">
                                Seleccionar archivo
                            </md-button>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-md card-media">
                                <img src="assets/images/dashboards/weather.jpg" alt="Card Image">
                            </div>
                        </md-card-title-media>
                    </md-card-title>

                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Cargar INE</span>
                            <md-button class="md-primary md-raised" ngf-select="vm.upload($files)" ngf-multiple="true"
                                       aria-label="Foto">
                                Seleccionar archivo
                            </md-button>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-md card-media">
                                <img src="assets/images/dashboards/weather.jpg" alt="Card Image">
                            </div>
                        </md-card-title-media>
                    </md-card-title>
            </md-card>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="vm.guardarUsuario()" class="md-raised md-primary">Guardar</md-button>
                <md-button>Cancelar</md-button>
                </md-card-content>
            </md-card-actions>
        </md-input-container>

    </div>
</div>