<div flex="" layout="column">
    <md-card layout-align="center center" class="md-padding card1">
        <h1 translate="ADMIN.MANAGE.MANAGEMENT_USER"></h1>
    </md-card>
    <form name="objectForm">
        <div flex="" layout-sm="column" layout-gt-md="row">
            <md-card flex="flex" class="md-padding card1">
                <h2 class="md-display-1">{{'ADMIN.MANAGE.DATAPER'|translate}}</h2>
                <md-input-container class="md-block">
                    <label>{{'ADMIN_PERSONA.PROPERTY.USERNAME'|translate}}</label>
                    <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
                    <input type="text" ng-model="vm.user_ini.user.username" name="username" required="required" ng-pattern="/^[A-Za-z_]\w*$/"/>
                    <div ng-messages="objectForm.username.$error">
                        <div ng-message="pattern">
                            El Usuario no puede comenzar con un digito y solo puede usar
                            caracteres validos
                        </div>
                        <div ng-message="required">{{'MAIN.LABEL.REQUIRED'|translate}}</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>{{'ADMIN_PERSONA.PROPERTY.PASSWORD'|translate}}</label>
                    <md-icon md-font-icon="zmdi zmdi-key"></md-icon>
                    <input type="password" ng-model="vm.user_ini.user.password" name="password" required="required" ng-pattern="/^[A-Za-z0-9_.-@]{8,25}$/"/>
                    <div ng-messages="objectForm.password.$error">
                        <div ng-message="pattern">
                            El password debe contener al menos 8 elementos y solo simbolos
                            validos
                        </div>
                        <div ng-message="required">{{'MAIN.LABEL.REQUIRED'|translate}}</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>{{'ADMIN_PERSONA.PROPERTY.CPASSWORD'|translate}}</label>
                    <md-icon md-font-icon="zmdi zmdi-key"></md-icon>
                    <input type="password" ng-model="vm.cpassword" name="cpassword" required="required" ng-pattern="\b{{vm.user_ini.user.password}}\b"/>
                    <div ng-messages="objectForm.cpassword.$error">
                        <div ng-message="pattern">
                            El password no coincide
                        </div>
                        <div ng-message="required">{{'MAIN.LABEL.REQUIRED'|translate}}</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>{{'ADMIN_PERSONA.PROPERTY.NOMBRE'|translate}}</label>
                    <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
                    <input type="text" ng-model="vm.user_ini.nombre" name="nombre" required="required" ng-pattern="/^[A-Za-zsáéíóúÁÉÍÓÚÑñ ]*$/"/>
                    <div ng-messages="objectForm.nombre.$error">
                        <div ng-message="pattern">{{'ADMIN_PERSONA.ERROR_MESSAGE.NOMBRE'|translate}}</div>
                        <div ng-message="required">{{'MAIN.LABEL.REQUIRED'|translate}}</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>{{'ADMIN_PERSONA.PROPERTY.AP_PATERNO'|translate}}</label>
                    <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
                    <input type="text" ng-model="vm.user_ini.apellido_paterno" name="apellido_paterno" required="required" ng-pattern="/^[A-Za-zsáéíóúÁÉÍÓÚÑñ ]*$/"/>
                    <div ng-messages="objectForm.apellido_paterno.$error">
                        <div ng-message="pattern">{{'ADMIN_PERSONA.ERROR_MESSAGE.AP_PATERNO'|translate}}</div>
                        <div ng-message="required">{{'MAIN.LABEL.REQUIRED'|translate}}</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>{{'ADMIN_PERSONA.PROPERTY.AP_MATERNO'|translate}}</label>
                    <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
                    <input type="text" ng-model="vm.user_ini.apellido_materno" name="apellido_materno" ng-required="true" ng-pattern="/^[A-Za-zsáéíóúÁÉÍÓÚÑñ ]*$/"/>
                    <div ng-messages="objectForm.apellido_materno.$error">
                        <div ng-message="pattern">{{'ADMIN_PERSONA.ERROR_MESSAGE.AP_MATERNO'|translate}}</div>
                        <div ng-message="required">{{'MAIN.LABEL.REQUIRED'|translate}}</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>{{'ADMIN_PERSONA.PROPERTY.DIRECCION'|translate}}</label>
                    <md-icon md-font-icon="zmdi zmdi-pin"></md-icon>
                    <input type="text" ng-model="vm.user_ini.direccion" name="direccion" required="required" ng-pattern="/^[A-Za-z_ 0-9áéíóúÁÉÍÓÚñN#]*$/"/>
                    <div ng-messages="objectForm.direccion.$error">
                        <div ng-message="pattern">{{'ADMIN_PERSONA.ERROR_MESSAGE.DIRECCION'|translate}}</div>
                        <div ng-message="required">{{'MAIN.LABEL.REQUIRED'|translate}}</div>
                    </div>
                </md-input-container>
            </md-card>
            <!-- Second part-->
            <md-card flex="flex" class="md-padding card1">
                <h2 class="md-display-1">{{'ADMIN.MANAGE.DATAUSER'|translate}}</h2>
                <md-card-content>
                    <md-input-container class="md-block">
                        <label>{{'ADMIN_PERSONA.PROPERTY.TELEFONO'|translate}}</label>
                        <md-icon md-font-icon="zmdi zmdi-phone"></md-icon>
                        <input type="text" ng-model="vm.user_ini.telefono" only-digits name="telefono" minlength="8" maxlength="10" required="required"/>
                        <div ng-messages="objectForm.telefono.$error">
                            <div ng-message="required">{{'MAIN.LABEL.REQUIRED'|translate}}</div>
                        </div>
                    </md-input-container>
                    <md-input-container md-no-float="" class="md-block">
                        <label>{{'ADMIN_PERSONA.PROPERTY.EMAIL'|translate}}</label>
                        <md-icon md-font-icon="zmdi zmdi-email"></md-icon>
                        <input type="email" ng-model="vm.user_ini.user.email" name="email" required="required" ng-pattern="/^.+@.+..+$/"/>
                        <div ng-messages="objectForm.email.$error">
                            <div ng-message="pattern">{{'ADMIN_PERSONA.ERROR_MESSAGE.EMAIL'|translate}}</div>
                            <div ng-message="required">{{'MAIN.LABEL.REQUIRED'|translate}}</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <md-icon md-font-icon="zmdi zmdi-account-box"></md-icon>
                        <md-select placeholder="Elige el rol" ng-model="vm.user_ini.user.role" name="role" required="required">
                            <md-option ng-value="grupo.id" ng-repeat="grupo in vm.grupos">{{grupo.name}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <md-icon md-font-icon="zmdi zmdi-store"></md-icon>
                        <md-select placeholder="Elige la sucursal" ng-model="vm.user_ini.udn" ng-required="false">
                            <md-option ng-value="undefined">{{'ADMIN_PERSONA.PROPERTY.SUCURSALDEF'|translate}}</md-option>
                            <md-option ng-value="udn.id" ng-repeat="udn in vm.udns">{{udn.zona}} - {{udn.agencia}}</md-option>
                        </md-select>
                        <div ng-messages="objectForm.role.$error">
                            <div ng-message="required">{{'MAIN.LABEL.REQUIRED'|translate}}</div>
                        </div>
                    </md-input-container>
                    <div layout="column" >
                        <div layout="column" layout-align="center center"><span class="md-headline">{{'ADMIN_PERSONA.PROPERTY.FOTO'|translate}}</span>
                            <md-button flex="flex" ngf-select="vm.selectionFoto($files)" ngf-accept="'image/*'" required="required" ng-disabled="false" ngf-multiple="false" ng-model="vm.picFoto" aria-label="upload" class="md-primary md-raised">
                                <md-icon md-font-icon="zmdi zmdi-cloud-upload"></md-icon>                                    {{'ADMIN_PERSONA.PROPERTY.ARCHIVO'|translate}}
                                <md-icon md-font-icon="zmdi zmdi-cloud-upload"></md-icon>
                            </md-button><img src="assets/images/dashboards/weather.jpg" alt="Card Image" ng-if="vm.picFoto==null" width="120" height="120"/><img ngf-src="vm.picFoto" width="120" height="120" ng-if="vm.picFoto!=null"/>
                        </div>
                        <div layout="column" layout-align="center center"><span class="md-headline">{{'ADMIN_PERSONA.PROPERTY.INE'|translate}}</span>
                            <md-button flex="flex" ngf-select="vm.selectionIFE($files)" ngf-accept="'image/*'" required="required" ng-disabled="false" ngf-multiple="false" ng-model="vm.picIFE" aria-label="upload" class="md-primary md-raised">
                                <md-icon md-font-icon="zmdi zmdi-cloud-upload"></md-icon>                                    {{'ADMIN_PERSONA.PROPERTY.ARCHIVO'|translate}}
                                <md-icon md-font-icon="zmdi zmdi-cloud-upload"></md-icon>
                            </md-button><img src="assets/images/dashboards/weather.jpg" alt="Card Image" ng-show="vm.picIFE==null" width="120" height="120"/><img ngf-src="vm.picIFE" width="120" height="120" ng-show="vm.picIFE!=null"/>
                        </div>
                    </div>

                    <div layout="row" layout-align="end end">

                        <md-button class="md-raised md-primary" aria-label="Borrar"
                                   ng-click="vm.cancel()">
                            <md-icon md-font-icon="fa fa-eraser"></md-icon>
                        </md-button>
                        <md-button class="md-raised md-primary" aria-label="Guardar"
                                   ng-disabled="objectForm.$invalid "
                                   ng-click='vm.guardarUsuario()'>
                            <md-icon md-font-icon="fa fa-save"></md-icon>
                        </md-button>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </form>
</div>
