<div layout="column" flex="100" layout-padding layout-fill>
    <md-card class="md-padding-card1" flex-gt-sm="90" flex="100" layout="column">
        <div layout="row" flex="" class="fabOperationReport" layout-align="space-around stretch">
            <h2 flex="70" flex-sm="100" flex-gt-xs="100" class="md-headline-1 text-center" translate="">
                REPORTS.TITLE
            </h2>

            <md-fab-speed-dial ng-hide="vm.hidden" md-open="vm.isOpen" md-direction="down" ng-class="{ 'md-hover-full': vm.hover }" ng-mouseover="vm.isOpen=true" ng-mouseleave="vm.isOpen=false" class="md-scale md-fab-top-right">
                <md-fab-trigger>
                    <md-button aria-label="menu" class="md-fab md-warn md-fab-principal">
                        <md-icon md-font-icon="fa fa-bars" ng-style="{color: 'white'}"></md-icon>
                    </md-button>
                </md-fab-trigger>
                <md-fab-actions>
                    <md-button aria-label="Nuevo" ng-click="vm.createReport()" class="md-fab md-raised md-mini">
                        <md-icon md-font-icon="fa fa-file-o">
                            <md-tooltip md-direction="left" md-autohide="false" md-visible="vm.tooltipVisible ">{{'REPORTS.TOOLTIP.NEW'|translate }}</md-tooltip>
                        </md-icon>
                    </md-button>
                    <md-button ng-if="vm.report.id!=null" aria-label="Duplicar" ng-click="vm.duplicateReport()" class="md-fab md-raised md-mini">
                        <md-icon md-font-icon="fa fa-files-o">
                            <md-tooltip md-direction="left" md-autohide="false" md-visible="vm.tooltipVisible">{{'REPORTS.TOOLTIP.CLONE'|translate }}</md-tooltip>
                        </md-icon>
                    </md-button>
                    <md-button ng-if="vm.report.id!=null" aria-label="Editar" ng-click="vm.operacion($event,2)" class="md-fab md-raised md-mini">
                        <md-icon md-font-icon="fa fa-pencil">
                            <md-tooltip md-direction="left" md-autohide="false" md-visible="vm.tooltipVisible">{{'REPORTS.TOOLTIP.EDIT'|translate }}</md-tooltip>
                        </md-icon>
                    </md-button>
                </md-fab-actions>
            </md-fab-speed-dial>

        </div>
        <div layout-gt-sm="row" layout="column">
            <div layout="column" layout-align="space-between stretch" flex-gt-sm="40" flex="100">
                <md-autocomplete
                    md-items="item in vm.querySearch(vm.searchParameter)"
                    md-selected-item="vm.reportSelected"
                    md-selected-item-change="vm.selectedItemChange(vm.reportSelected)"
                    md-search-text-change="vm.lookup(vm.searchParameter)"
                    md-search-text="vm.searchParameter"
                    md-item-text="item.name"
                    md-min-length="1"
                    md-floating-label="{{'REPORTS.FIELDS.SEARCH'|translate}}">
                    <span md-highlight-text="vm.searchParameter" md-highlight-flags="^i">{{item.name}}</span>
                    <md-item-template>
                         <span class="item-title">
                            <md-icon md-font-icon="fa fa-file-text-o"></md-icon>
                            <span>&nbsp; {{item.name}}</span>
                        </span>
                    </md-item-template>
                    <md-not-found><span translate="REPORTS.ERROR.NOT_FOUND"></span></md-not-found>
                </md-autocomplete>

                <md-virtual-repeat-container flex="100"
                                             hide-xs="hide-xs"
                                             hide-sm="hide-sm"
                                             layout-fill
                                             class="vr-min-height">
                    <md-list flex="flex">
                        <md-list-item flex="flex" ng-repeat="item in vm.reports | reportSearch:vm.searchParameter">
                            <md-button
                                ng-click="vm.selected(item)"
                                ng-class="{'selected':item.id == vm.selectedReport.id}">
                                <img ng-src="assets/images/report.png" class="avatar"/>
                                <span>{{item.name}}</span>
                            </md-button>
                            <md-divider></md-divider>
                        </md-list-item>
                    </md-list>
                </md-virtual-repeat-container>
            </div>
            <!--Content div-->
            <div layout="column" flex-gt-sm="60" flex="100">
                <md-tabs layout-padding="true" md-dynamic-height="100" md-border-bottom="100" md-selected="vm.selectedTab">
                    <md-tab label={{'REPORTS.TAB.INFORMATION'|translate}}>
                        <md-content layout-padding="">

                            <h2>{{'REPORTS.FIELDS.INFORMATION'|translate}}</h2>
                            <form name="formReport" novalidate>
                                <div layout="column" layout-gt-sm="row">
                                    <md-input-container class="md-block" flex="100" flex-gt-sm="60">
                                        <label>{{'REPORTS.FIELDS.NAME'|translate}}</label>
                                        <input name="ProjectName" type="text" required="" md-no-asterisk=""
                                               ng-model="vm.report.name">
                                        <div ng-messages="formProject.ProjectName.$error">
                                            <div ng-message="required">{{'REPORTS.ERRORS.REQUIRED'|translate}}</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex="100" flex-gt-sm="40">
                                        <label>{{'REPORTS.FIELDS.MODIFIED'|translate}}</label>
                                        <input name="ProjectModified" type="text" required="" md-no-asterisk=""
                                               ng-model="vm.report.modified">
                                        <div ng-messages="formProject.ProjectModified.$error">
                                            <div ng-message="required">{{'REPORTS.ERRORS.REQUIRED'|translate}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <md-input-container class="md-block" flex="100" flex-gt-sm="40">
                                    <label>{{'REPORTS.FIELDS.ROOT_MODEL'|translate}}</label>
                                    <input name="ProjectModel" type="text" required="" md-no-asterisk=""
                                           ng-model="vm.report.root_model_name">
                                    <div ng-messages="formProject.ProjectModel.$error">
                                        <div ng-message="required">{{'REPORTS.ERRORS.REQUIRED'|translate}}</div>
                                    </div>
                                </md-input-container>
                            </form>
                        </md-content>
                    </md-tab>
                    <md-tab label={{'REPORTS.TAB.FILTERS'|translate}}>
                        <md-content layout-padding="">
                            <div id="tabla">
                                <h1>Material Design Responsive Table</h1>
                                <h2>Table of my other Material Design works (list was updated 08.2015)</h2>

                                <!-- Responsive table starts here -->
                                <!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
                                <div class="table-responsive-vertical shadow-z-1">
                                    <!-- Table starts here -->
                                    <table id="table" class="table table-hover table-mc-light-blue">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Link</th>
                                            <th>Status</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td data-title="ID">1</td>
                                            <td data-title="Name">Material Design Color Palette</td>
                                            <td data-title="Link">
                                                <a href="https://github.com/zavoloklom/material-design-color-palette" target="_blank">GitHub</a>
                                            </td>
                                            <td data-title="Status">Completed</td>
                                        </tr>
                                        <tr>
                                            <td data-title="ID">2</td>
                                            <td data-title="Name">Material Design Iconic Font</td>
                                            <td data-title="Link">
                                                <a href="http://codepen.io/zavoloklom/pen/uqCsB" target="_blank">Codepen</a>
                                                <a href="https://github.com/zavoloklom/material-design-iconic-font" target="_blank">GitHub</a>
                                            </td>
                                            <td data-title="Status">Completed</td>
                                        </tr>
                                        <tr>
                                            <td data-title="ID">3</td>
                                            <td data-title="Name">Material Design Hierarchical Display</td>
                                            <td data-title="Link">
                                                <a href="http://codepen.io/zavoloklom/pen/eNaEBM" target="_blank">Codepen</a>
                                                <a href="https://github.com/zavoloklom/material-design-hierarchical-display" target="_blank">GitHub</a>
                                            </td>
                                            <td data-title="Status">Completed</td>
                                        </tr>
                                        <tr>
                                            <td data-title="ID">4</td>
                                            <td data-title="Name">Material Design Sidebar</td>
                                            <td data-title="Link"><a href="http://codepen.io/zavoloklom/pen/dIgco" target="_blank">Codepen</a></td>
                                            <td data-title="Status">Completed</td>
                                        </tr>
                                        <tr>
                                            <td data-title="ID">5</td>
                                            <td data-title="Name">Material Design Tiles</td>
                                            <td data-title="Link">
                                                <a href="http://codepen.io/zavoloklom/pen/wtApI" target="_blank">Codepen</a>
                                            </td>
                                            <td data-title="Status">Completed</td>
                                        </tr>
                                        <tr>
                                            <td data-title="ID">6</td>
                                            <td data-title="Name">Material Design Typography</td>
                                            <td data-title="Link">
                                                <a href="http://codepen.io/zavoloklom/pen/IkaFL" target="_blank">Codepen</a>
                                                <a href="https://github.com/zavoloklom/material-design-typography" target="_blank">GitHub</a>
                                            </td>
                                            <td data-title="Status">Completed</td>
                                        </tr>
                                        <tr>
                                            <td data-title="ID">7</td>
                                            <td data-title="Name">Material Design Buttons</td>
                                            <td data-title="Link">
                                                <a href="http://codepen.io/zavoloklom/pen/Gubja" target="_blank">Codepen</a>
                                            </td>
                                            <td data-title="Status">In progress</td>
                                        </tr>
                                        <tr>
                                            <td data-title="ID">8</td>
                                            <td data-title="Name">Material Design Form Elements</td>
                                            <td data-title="Link">
                                                <a href="http://codepen.io/zavoloklom/pen/yaozl" target="_blank">Codepen</a>
                                            </td>
                                            <td data-title="Status">In progress</td>
                                        </tr>
                                        <tr>
                                            <td data-title="ID">9</td>
                                            <td data-title="Name">Material Design Email Template</td>
                                            <td data-title="Link">
                                                <a href="http://codepen.io/zavoloklom/pen/qEVqzx" target="_blank">Codepen</a>
                                            </td>
                                            <td data-title="Status">Completed</td>
                                        </tr>
                                        <tr>
                                            <td data-title="ID">10</td>
                                            <td data-title="Name">Material Design Animation Timing (old one)</td>
                                            <td data-title="Link">
                                                <a href="http://codepen.io/zavoloklom/pen/Jbrho" target="_blank">Codepen</a>
                                            </td>
                                            <td data-title="Status">Completed</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <!-- Table Constructor change table classes, you don't need it in your project -->
                                <div style="width: 45%; display: inline-block; vertical-align: top">
                                    <h2>Table Constructor</h2>
                                    <p>
                                        <label for="table-bordered">Style: bordered</label>
                                        <select id="table-bordered" name="table-bordered">
                                            <option selected value="">No</option>
                                            <option value="table-bordered">Yes</option>
                                        </select>
                                    </p>
                                    <p>
                                        <label for="table-striped">Style: striped</label>
                                        <select id="table-striped" name="table-striped">
                                            <option selected value="">No</option>
                                            <option value="table-striped">Yes</option>
                                        </select>
                                    </p>
                                    <p>
                                        <label for="table-hover">Style: hover</label>
                                        <select id="table-hover" name="table-hover">
                                            <option value="">No</option>
                                            <option selected value="table-hover">Yes</option>
                                        </select>
                                    </p>
                                    <p>
                                        <label for="table-color">Style: color</label>
                                        <select id="table-color" name="table-color">
                                            <option value="">Default</option>
                                            <option value="table-mc-red">Red</option>
                                            <option value="table-mc-pink">Pink</option>
                                            <option value="table-mc-purple">Purple</option>
                                            <option value="table-mc-deep-purple">Deep Purple</option>
                                            <option value="table-mc-indigo">Indigo</option>
                                            <option value="table-mc-blue">Blue</option>
                                            <option selected value="table-mc-light-blue">Light Blue</option>
                                            <option value="table-mc-cyan">Cyan</option>
                                            <option value="table-mc-teal">Teal</option>
                                            <option value="table-mc-green">Green</option>
                                            <option value="table-mc-light-green">Light Green</option>
                                            <option value="table-mc-lime">Lime</option>
                                            <option value="table-mc-yellow">Yellow</option>
                                            <option value="table-mc-amber">Amber</option>
                                            <option value="table-mc-orange">Orange</option>
                                            <option value="table-mc-deep-orange">Deep Orange</option>
                                        </select>
                                    </p>
                                </div>
                                <div style="width: 45%; display: inline-block; vertical-align: top; margin-left: 30px;">
                                    <h2>Description</h2>
                                    <p>Tested on Win8.1 with browsers: Chrome 37, Firefox 32, Opera 25, IE 11, Safari 5.1.7</p>
                                    <p>You can use this table in Bootstrap (v3) projects. Material Design Responsive Table CSS-style will override basic bootstrap style.</p>
                                    <p class="mdt-subhead-2"><strong>Donate:</strong> You can support me via <a class="paypal" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&amp;business=s%2ekupletsky%40gmail%2ecom&amp;lc=US&amp;item_name=Material%20Design%20Responsive%20Table&amp;currency_code=USD&amp;bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted">PayPal</a>, <a class="webmoney" href="https://funding.webmoney.ru/material-design-iconic-font/donate">WebMoney</a> or <a class="gratipay" href="http://gratipay.com/zavoloklom/" target="_blank">Gratipay</a></p>
                                </div>
                            </div>
                        </md-content>

                    </md-tab>
                    <md-tab label={{'REPORTS.TAB.PREVIEW'|translate}}>
                        <md-content layout-padding="">
                        </md-content>
                    </md-tab>
                </md-tabs>
            </div>

        </div>
        <md-actions layout="row" layout-align="end center">
            <md-button ng-click="vm.clear()" md-no-ink class="md-raised md-primary" aria-label="clear">
                <md-icon md-font-icon="fa fa-eraser"></md-icon>
            </md-button>
            <md-button ng-if="vm.report.id!=null && vm.report.id!=undefined" ng-click="vm.remove()" md-no-ink class="md-raised md-primary md-warn" aria-label="delete">
                <md-icon md-font-icon="fa fa-trash"></md-icon>
            </md-button>
        </md-actions>

    </md-card>
</div>
