<div layout="column">
    <md-card class="md-padding card1" flex="100">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Asignación de Linea</span>
            </md-card-title-text>
        </md-card-title>

            <div flex="100" layout="row", layout-sm="column", layout-xs="column" layout-align-sm="center center" layout-align="center center">
                <md-input-container flex="60">
                    <label>Id de Cabinet</label>
                    <input type="text" ng-model="vm.idCabinet"/>
                </md-input-container>
                <div>
                <md-input-container flex>
                    <md-button class="md-fab" aria-label="fab button" ng-click="vm.buscar()">
                        <md-icon md-font-icon="zmdi zmdi-zoom-in"></md-icon>
                    </md-button>
                </md-input-container>

                <md-input-container flex>
                    <md-button class="md-primary md-raised" aria-label="raised button"
                               ng-click="vm.guardar()">
                        <md-icon md-font-icon="fa fa-save"></md-icon>
                    </md-button>
                </md-input-container>
                <md-input-container flex>
                    <md-button class="md-primary md-raised" aria-label="raised button"
                               ng-click="vm.limpiar()">
                        <md-icon md-font-icon="fa fa-trash"></md-icon>
                    </md-button>
                </md-input-container>
                <md-input-container flex ng-show="vm.ver">
                    <md-button class="md-primary md-raised" aria-label="raised button"
                               ng-click="vm.verInfo()">
                        <md-icon md-font-icon="fa fa-eye"></md-icon>
                    </md-button>
                </md-input-container>
                </div>
            </div>


<!--
    <md-card class="md-padding card1" flex="100">
        <span class="md-subhead">Cabinet Seleccionado.</span>

        <div layout="row" , flex="flex">
            <md-input-container flex>
                <label>Economico</label>
                <input type="text" ng-model="vm.cabinet.economico" ng-disabled="true"/>
            </md-input-container>
            <md-input-container flex>
                <label translate>Estado Actual</label>
                    <input type="text" ng-model="vm.cabinet.status" ng-disabled="true"/>

            </md-input-container>
            <md-input-container flex>
                <label>Incidencias</label>
                <input type="number" ng-model="vm.cabinet.no_incidencias" ng-disabled="true"/>
            </md-input-container>

        </div>
        <div layout="row" , flex="flex">
            <md-input-container flex="25">
                <label>tipo Entrada</label>
                <input type="text" ng-model="vm.cabinet.tipo_entrada" ng-disabled="true"/>
            </md-input-container>
            <md-input-container flex="25">
                <label>No de Serie</label>
                <input type="text" ng-model="vm.cabinet.no_serie" ng-disabled="true"/>
            </md-input-container>
            <md-input-container flex="25">
                <label>Año</label>
                <input type="text" ng-model="vm.cabinet.year" ng-disabled="true"/>
            </md-input-container>
            <md-input-container flex="25">
                <label translate>Modelo</label>
                <md-select ng-model="vm.cabinet.modelo" name="select" ng-disabled="true">
                    <md-option ng-repeat="modelo in vm.modelos" ng-value="modelo.id">{{modelo.descripcion}}</md-option>
                </md-select>
            </md-input-container>
        </div>
    </md-card>
-->


        <div layout="row">
            <md-slider-container flex>
                <md-input-container flex="10">
                    <h5>Pasillo</h5>
                </md-input-container>
                <md-input-container flex="10">
                    <input flex type="number" ng-model="vm.cabinet.linea_x" aria-label="Posición en Eje X"
                           aria-controls="Y-slider">
                </md-input-container>
                <md-slider class="md-accent" md-discrete ng-model="vm.cabinet.linea_x" min="0" max="10" step="1"
                           aria-label="Nivel"
                           md-vertical flex="90"></md-slider>
                </md-slider>

            </md-slider-container>
            <md-slider-container flex>
                <md-input-container flex="10">
                    <h5>Nivel</h5>
                </md-input-container>
                <md-input-container flex="10">
                    <input flex type="number" ng-model="vm.cabinet.linea_y" aria-label="Posición en Eje Y"
                           aria-controls="Y-slider">
                </md-input-container>
                <md-slider class="md-accent" md-discrete ng-model="vm.cabinet.linea_y" min="0" max="10" step="1"
                           aria-label="Nivel"
                           md-vertical flex="90"></md-slider>
                </md-slider>
            </md-slider-container>
            <md-slider-container flex>
                <md-input-container flex="10">
                    <h5>Profundidad</h5>
                </md-input-container>
                <md-input-container flex="10">
                    <input flex type="number" ng-model="vm.cabinet.linea_z" aria-label="Posición en Eje Z"
                           aria-controls="Y-slider">
                </md-input-container>
                <md-slider class="md-accent" md-discrete ng-model="vm.cabinet.linea_z" min="0" max="10" step="1"
                           aria-label="Nivel"
                           md-vertical flex="90"></md-slider>
                </md-slider>

            </md-slider-container>
        </div>


    </md-card>
</div>