<div class="dashboard-social-header padding-10 padding-top-10 overlay-gradient-10" layout="row" layout-align="start center" style="background: url(assets/images/backgrounds/material-backgrounds/mb-bg-02.jpg) no-repeat; background-size: cover;">
    <div class="margin-right-20">
        <img src="assets/images/avatars/tech.jpg" class="make-round" width="100"/>
    </div>
    <div class="text-light">
        <h3 class="font-weight-600 margin-bottom-0 text-light" >{{vm.user.name}}</h3>
        <p class="font-weight-300 margin-top-0 margin-bottom-0">Técnico {{vm.user.level}}</p>
        <p class="margin-top-0">{{vm.user.area}}</p>

    </div>
</div>
<div flex layout="column">
    <md-button style="width:200px; height:50px" class="md-raised md-primary margin-left-10 margin-right-10 margin-top-10 margin-bottom-10"  ng-click="vm.loginClick()" translate="Log in" aria-label="{{'Log in' | triTranslate}}"></md-button>
    <md-button style="width:200px; height:50px" class="md-raised md-primary margin-left-10 margin-right-10 margin-top-10 margin-bottom-10"  ng-click="vm.loginClick()" translate="Log in" aria-label="{{'Log in' | triTranslate}}"></md-button>
    <md-button style="width:200px; height:50px" class="md-raised md-primary margin-left-10 margin-right-10 margin-top-10 margin-bottom-10"  ng-click="vm.loginClick()" translate="Log in" aria-label="{{'Log in' | triTranslate}}"></md-button>
    <md-button style="width:200px; height:50px" class="md-raised md-primary margin-left-10 margin-right-10 margin-top-10 margin-bottom-10"  ng-click="vm.loginClick()" translate="Log in" aria-label="{{'Log in' | triTranslate}}"></md-button>

</div>