<div  layout="column">
    <md-card class="md-padding card1" flex="100">
        <img src="assets/images/backgrounds/material-backgrounds/mb-bg-01-narrow.jpg" alt="Card Image">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Validar Etapa de Servicio</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div flex="100" layout="row">
                <div layout="column" flex="60">
                    <md-input-container flex="100">
                        <label>Id Cabinet</label>
                        <md-autocomplete
                                class="md-padding card1"
                                ng-disabled="vm.isDisabled"
                                md-no-cache="vm.noCache"
                                md-selected-item="selectedItem"
                                md-search-text-change="vm.searchTextChange(vm.searchText)"
                                md-search-text="vm.searchText"
                                md-selected-item-change="vm.selectedItemChange(item)"
                                md-items="item in vm.querySearch(vm.searchText)"
                                md-item-text="item.display"
                                md-min-length="0">

                            <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.display}}</span>
                        </md-autocomplete>
                    </md-input-container>
                    <md-input-container>
                        <label>No. de Servicio</label>
                        <input type="text" ng-model="vm.etapa.noServicio" ng-disabled="true"/>
                    </md-input-container>
                </div>
                <div layout="column" flex="10">
                    <md-input-container flex>
                        <md-button class="md-fab" class="md-warn" aria-label="fab button">
                            <md-icon md-font-icon="zmdi zmdi-zoom-in"></md-icon>
                        </md-button>
                    </md-input-container>
                </div>
                <div layout="column" flex="30">
                    <md-input-container flex="15">
                        <md-switch class="md-primary" ng-model="vm.etapa.isValidated" aria-label="Primary Switch" ng-init="switches.primary = true">
                            Validado
                        </md-switch>
                    </md-input-container>
                    <md-input-container  flex="15">
                        <label translate>Siguiente etapa</label>
                        <md-select ng-model="vm.etapa.siguienteEtapa" name="select" >
                            <md-option ng-repeat="etap in vm.etapas" ng-value="etap.id" >{{etap.nombre}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container  flex="15">
                        <label translate>Etapa Actual</label>
                        <md-select ng-model="vm.etapa.etapaActual" name="select" ng-disabled="true">
                            <md-option ng-repeat="etap in vm.etapas" ng-value="etap.id" >{{etap.nombre}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex="15">
                        <label>Fecha de Atención</label>
                        <input type="text" ng-model="vm.etapa.fecha" ng-disabled="true"/></md-input-container>
                </div>

            </div>

            <md-input-container flex="25">
            <md-button class="md-raised"  class="md-primary" aria-label="raised button" ng-click='vm.crearInsumo()'>
                <md-icon md-font-icon="fa fa-save" > </md-icon>
            </md-button>
            </md-input-container>
        </md-card-content>
    </md-card>
    <md-card class="md-padding card1" layout="column" flex="flex">

        <div layout="row" layout-sm="column" layout-md="column">
            <md-table-container>
                <table md-table="" md-row-select="" ng-model="vm.insumo" flex="100">
                    <thead md-head="" md-order="vm.query.order">
                    <tr md-row="md-row">
                        <th md-column="md-column" md-order-by="nombre" flex="25"><span translate="">Nombre</span></th>
                        <th md-column="md-column" md-order-by="cantidad" flex="15"><span translate="">Cantidad</span>
                        <th md-column="md-column" md-order-by="notas" flex="50"><span translate="">Notas</span>
                            <!-- Cuerpo de la tabla-->
                        </th>
                    </tr>
                    </thead>
                    <tbody md-body="md-body">
                    <tr md-row="md-row" md-select="insu" md-select-id="{{insu.id}}" ng-repeat="insu in vm.etapa.insumos | orderBy:vm.query.order">
                        <td md-cell="md-cell" flex="25">{{insu.nombre}}</td>
                        <td md-cell="md-cell" flex="15">{{insu.cantidad}}</td>
                        <td md-cell="md-cell" flex="50">{{insu.notas}}</td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>
        </div>
    </md-card>
</div>