<div layout="column">
    <md-card class="md-padding card1" flex="100">
        <img src="assets/images/backgrounds/material-backgrounds/mb-bg-01-narrow.jpg" alt="Card Image">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Validar Etapa de Servicio</span>
            </md-card-title-text>
        </md-card-title>
        <div layout="row">
            <md-input-container flex="80">
                <label>Id Cabinet</label>
                <input type="text" ng-model="vm.idCabinet">
            </md-input-container>

            <md-input-container flex>
                <md-button class="md-fab" class="md-warn" ng-click="vm.lookup()" aria-label="validate button" ng-click="vm.buscar()">
                    <md-icon md-font-icon="zmdi zmdi-zoom-in"></md-icon>
                </md-button>
            </md-input-container>
        </div>
    </md-card>

    <md-card class="md-padding card1" flex="100" layout="column">
        <h3>Información de la etapa</h3>

        <md-card-content layout="row" layout-sm="column" layout-align-sm="center stretch">
            <div layout="column" layout-padding layout-margin flex="50">
                <md-input-container flex>
                    <label>Id de diagnóstico</label>
                    <input type="text" ng-model="vm.etapa.diagnostico" ng-disabled="true">
                </md-input-container>
                <md-input-container flex>
                    <label>Fecha de realización</label>
                    <input type="text" ng-model="vm.etapa.fecha_realizacion" ng-disables="true">
                </md-input-container>
            </div>
            <div layout="column" layout-padding layout-margin flex="50">
                <md-input-container flex>
                    <label>Etapa actual</label>
                    <md-select ng-model="vm.etapa.actual_etapa" ng-disabled="true">
                        <md-option ng-repeat="etapa in vm.etapas">{{etapa}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex>
                    <label>Etapa siguiente</label>
                    <md-select ng-model="vm.etapa.actual_etapa">
                        <md-option ng-repeat="etapa in vm.etapas" ng-value="etapa.id">{{etapa.value}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
        </md-card-content>

    </md-card>

    <md-card class="md-padding card1" layout="column" flex="flex">
        <div layout="row">
            <md-table-container>
                <table md-table="" md-row-select="" ng-model="vm.insumo" flex="100">
                    <thead md-head="" md-order="vm.query.order">
                    <tr md-row="md-row">
                        <th md-column="md-column" md-order-by="nombre" flex="25"><span translate="">Nombre</span></th>
                        <th md-column="md-column" md-order-by="cantidad" flex="15"><span translate="">Cantidad</span>
                        <th md-column="md-column" md-order-by="notas" flex="50"><span translate="">Notas</span>
                            <!-- Cuerpo de la tabla-->
                        </th>
                    </tr>
                    </thead>
                    <tbody md-body="md-body">
                    <tr md-row="md-row" md-select="insu" md-select-id="{{insu.id}}"
                        ng-repeat="insu in vm.etapa.insumos | orderBy:vm.query.order">
                        <td md-cell="md-cell" flex="25">{{insu.nombre}}</td>
                        <td md-cell="md-cell" flex="15">{{insu.cantidad}}</td>
                        <td md-cell="md-cell" flex="50">{{insu.notas}}</td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>
        </div>
    </md-card>

    <md-card class="md-padding card1" flex="flex" layout="row" layout-align="center center">

        <md-input-container>
            <md-button class="md-primary md-raised" ng-click='vm.validate()'>
                Validar Etapa
            </md-button>
        </md-input-container>

    </md-card>

</div>