<md-dialog class="mobile-fullwidth-dialog" flex="40" flex-xs="100">
    <md-toolbar class="toolbar-default">
        <div class="md-toolbar-tools">
            <h2>
                <span>{{'MODAL_CATALOG_CONSUMABLE.FORM.TITLE.STEP'|translate}}</span>
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancelClick()" aria-label="cancel">
                <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <div layout="column" flex layout-padding layout-align-gt-md="center center" layout-align="center stretch">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'INPUT.Create Brand'|translate}}</h2>
            </div>
        </md-toolbar>
        <md-dialog-content layout="column">
            <form name="cabinetForm" novalidate="">
                <div layour="row">
                    <md-input-container class="md-block">
                        <label>{{'INPUT.Dialogs.Cabinet.Economic'|translate}}</label>
                        <input name="CabinetEconomic"
                               md-no-asterisk=""
                               required=""
                               type="text"
                               ng-model="vm.cabinet.economico"/>
                        <div ng-messages="brandForm.CabinetEconomic.$error">
                            <div ng-message="required">{{'INPUT.Required Field'|translate}}</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>{{'INPUT.Dialogs.Cabinet.Active'|translate}}</label>
                        <input name="CabinetActive"
                               md-no-asterisk=""
                               required=""
                               type="text"
                               ng-model="vm.cabinet.id_unilever"/>
                        <div ng-messages="cabinetForm.CabinetActive.$error">
                            <div ng-message="required">{{'INPUT.Required Field'|translate}}</div>
                        </div>
                    </md-input-container>
                </div>
                <md-input-container class="md-block">
                    <label>{{'INPUT.Dialogs.Cabinet.Serial'|translate}}</label>
                    <input name="CabinetSerial"
                           md-no-asterisk=""
                           required=""
                           type="text"
                           ng-model="vm.cabinet.no_serie"/>
                    <div ng-messages="cabinetForm.CabinetSerial.$error">
                        <div ng-message="required">{{'INPUT.Required Field'|translate}}</div>
                    </div>
                </md-input-container>
                <md-input-container flex="100" class="md-block">
                    <label>{{'INPUT.Dialogs.Cabinet.Brand'|translate}}</label>
                    <md-select name="selectBrand"
                               ng-model="vm.marca"
                               required=""
                               md-no-asterisk="">
                        <md-option ng-repeat="marca in marcas" value="{{marca.id}}">{{marca.descripcion}}
                        </md-option>
                    </md-select>
                    <div ng-messages="entradaForm.selectBrand.$error">
                        <div ng-message="required">{{'INPUT.Required Field'|translate}}</div>
                    </div>
                </md-input-container>
                <md-input-container flex="100" class="md-block">
                    <label>{{'INPUT.Dialogs.Cabinet.Model'|translate}}</label>
                    <md-select name="selectModel"
                               ng-model="vm.cabinet.modelo"
                               required=""
                               md-no-asterisk="">
                        <md-option ng-repeat="modelo in modelo" value="{{modelo.id}}">{{marca.descripcion}}
                        </md-option>
                    </md-select>
                    <div ng-messages="entradaForm.selectModel.$error">
                        <div ng-message="required">{{'INPUT.Required Field'|translate}}</div>
                    </div>
                </md-input-container>
            </form>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end center">
            <md-button ng-click="cancel()" md-no-ink class="md-primary">
                {{'INPUT.Cancel'|translate}}
            </md-button>
            <md-button ng-click="registrarCabinet()" ng-disabled="cabinetForm.$invalid" md-no-ink class="md-primary">
                {{'INPUT.Save'|translate}}
            </md-button>
        </md-dialog-actions>
    </div>
</md-dialog>
