<!--
Created by Emmanuel on 03/09/2016.
-->
<div layout="column"
     layout-fill
     flex
     layout-align-gt-md="center center"
     layout-align="space-between stretch">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{'INPUT.Create Model'|translate}}</h2>
        </div>
    </md-toolbar>
    <md-content flex="100" layout-padding layout-fill>
        <form name="modelForm" novalidate="">
            <div layout="column" layout-align="center stretch">
                    <md-input-container class="md-block">
                        <label>{{'INPUT.Dialogs.Model.Name'|translate}}</label>
                        <input name="ModelName" md-no-asterisk="" required="" type="text" ng-model="vm.modelo.nombre"/>
                        <div ng-messages="modelForm.ModelName.$error">
                            <div ng-message="required">{{'INPUT.Required Field'|translate}}</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>{{'INPUT.Dialogs.Model.Description'|translate}}</label>
                        <input name="ModelDescription" md-no-asterisk="" required="" type="text"
                               ng-model="vm.modelo.descripcion"/>
                        <div ng-messages="modelForm.ModelDescription.$error">
                            <div ng-message="required">{{'INPUT.Required Field'|translate}}</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>{{'INPUT.Dialogs.Model.Keyword'|translate}}</label>
                        <input name="ModelKeyword" md-no-asterisk="" required="" type="text"
                               ng-model="vm.modelo.palabra_clave"/>
                        <div ng-messages="modelForm.ModelKeyword.$error">
                            <div ng-message="required">{{'INPUT.Required Field'|translate}}</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="100" class="md-block">
                        <label>{{'INPUT.Dialogs.Model.Brand'|translate}}</label>
                        <md-select name="selectBrand" ng-model="vm.modelo.marca" required="" md-no-asterisk="" ng-if="vm.marcas!=null">
                            <md-option ng-repeat="marca in vm.marcas" value="marca.id">
                                <span>{{marca.descripcion}}</span>
                            </md-option>
                        </md-select>
                        <div ng-messages="entradaForm.selectUDN.$error">
                            <div ng-message="required">{{'INPUT.Required Field'|translate}}</div>
                        </div>
                    </md-input-container>
            </div>
        </form>
    </md-content>
    <md-actions layout="row" layout-align="end center">
        <md-button ng-click="vm.cancel()" md-no-ink class="md-primary">
            {{'INPUT.Cancel'|translate}}
        </md-button>
        <md-button ng-click="vm.create()" ng-disabled="modelForm.$invalid" md-no-ink class="md-primary">
            {{'INPUT.Save'|translate}}
        </md-button>
    </md-actions>
</div>
