<div layout="column">

    <div layout="row" flex layout-padding layout-fill layout-align="center center">
        <md-card class="md-padding-card1" flex="80" flex-sm="100" flex-xs="100">

            <md-card-title ng-hide="vm.hideEntrada">
                <md-card-title-text>
                    <span class="md-headline">{{'Entrance'|translate}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-title ng-hide="vm.hideSalida">
                <md-card-title-text>
                    <span class="md-headline">{{'Output'|translate}}</span>
                </md-card-title-text>
            </md-card-title>
            <form name="entradaForm" novalidate>
                <div layout="row" layout-sm="column" layout-xs="column" layout-align="center center" layout-align-sm="center stretch" layout-align-xs="center stretch">
                    <md-input-container class="md-block" flex="80" flex-sm="100" flex-xs="100">
                        <label>{{'Driver.Name'|translate}}</label>
                        <input name="DriverName" md-no-asterisk="" required="" type="text" ng-model="vm.entrada.nombre_chofer">
                        <div ng-messages="entradaForm.DriverName.$error">
                            <div ng-message="required">
                                {{'Required Field'|translate}}
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex="20" flex-sm="100" flex-xs="100">
                        <label>{{'Pediment'|translate}}</label>
                        <input name="Pediment" md-no-asterisk="" required="" type="text" ng-model="vm.entrada.pedimento">
                        <div ng-messages="entradaForm.Pediment.$error">
                            <div ng-message="required">
                                {{'Required Field'|translate}}
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" layout-sm="column" layout-xs="column" layout-align="center center" layout-align-sm="center stretch" layout-align-xs="center stretch">
                    <md-input-container class="md-block" flex="100">
                        <label>{{'UDN'|translate}}</label>
                        <md-select name="selectUDN" ng-model="vm.selectedUdn" required="">
                            <md-option ng-repeat="udn in vm.udns" value="{{udn.id}}">
                                {{udn.agencia}}
                            </md-option>
                        </md-select>
                        <div ng-messages="entradaForm.selectUDN.$error">
                            <div ng-message="required">
                                {{'Required Field'|translate}}
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" flex="100">
                        <label>{{'Transport.Line'|translate}}</label>
                        <md-select name="selectTransportLine" ng-model="vm.selectedTransportLine" required="">
                            <md-option ng-repeat="linea in vm.lineasTransporte" value="{{linea.id}}">
                                {{linea.razon_social}}
                            </md-option>
                        </md-select>
                        <div ng-messages="entradaForm.selectTransportLine.$error">
                            <div ng-message="required">
                                {{'Required Field'|translate}}
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex="100">
                        <label>{{'Transport.Kind'|translate}}</label>
                        <md-select name="selectTransportKind" ng-model="vm.selectedTransportKind" required="">
                            <md-option ng-repeat="tipo in vm.tiposTransporte" value="{{tipo.id}}">
                                {{tipo.descripcion}}
                            </md-option>
                        </md-select>
                        <div ng-messages="entradaForm.selectTransportLine.$error">
                            <div ng-message="required">
                                {{'Required Field'|translate}}
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" layout-sm="column" layout-xs="column" layout-align="center center" layout-align-sm="center stretch" layout-align-xs="center stretch">
                    <md-input-container class="md-block" flex="100">
                        <label>{{'Subsidiary'|translate}}</label>
                        <md-select name="selectSubsidiary" ng-model="vm.selectedSubsidiary" required="">
                            <md-option ng-repeat="sucursal in vm.Sucursales" value="{{sucursal.id}}">
                                {{sucursal.nombre}}
                            </md-option>
                        </md-select>
                        <div ng-messages="entradaForm.selectSubsidiary.$error">
                            <div ng-message="required">
                                {{'Required Field'|translate}}
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" flex="100">
                        <label>{{'Project'|translate}}</label>
                        <md-select name="selectProject" ng-model="vm.selectedProject" required="">
                            <md-option ng-repeat="proyecto in vm.Proyectos" value="{{proyecto.id}}">
                                {{proyecto.descripcion}}
                            </md-option>
                        </md-select>
                        <div ng-messages="entradaForm.selectProject.$error">
                            <div ng-message="required">
                                {{'Required Field'|translate}}
                            </div>
                        </div>
                    </md-input-container>
                </div>
            </form>

            <div layout="row" flex="100" layout-sm="column" layout-align-sm="center stretch" layout-xs="column" layout-align-xs="center stretch">
                <p>{{'Driver.IFE'|translate}}</p>
                <div flex="30" layout="column" layout-align="space-around center">
                    <md-button ngf-select="vm.selectionFile($files)"
                               ngf-accept="'image/*'"
                               class="md-primary md-raised"
                               required="required"
                               ng-disabled="vm.status != 'idle'"
                               ngf-multiple="false"
                               ng-model="vm.picFile">
                        <md-icon md-font-icon
                                 ng-class="{ 'zmdi zmdi-cloud-upload': vm.status == 'idle', 'fa fa-spinner fa-pulse': vm.status == 'uploading', 'zmdi zmdi-check': vm.status == 'complete'}">

                        </md-icon>
                    </md-button>

                        <md-button class="md-warn md-raised" ng-click="removeImage()">
                            <md-icon md-font-icon ng-class="'fa fa-trash'"></md-icon>
                        </md-button>

                </div>

                <div flex="80">
                    <div class="md-media-md card-media">
                        <img ngf-src="vm.picFile" class="thumb" style="max-width:150px" >
                    </div>
                </div>
            </div>

            <div layout="row" layout-align="space-around center" layout-sm="column" layout-xs="column">
                <md-button class="md-raised md-primary" ng-click="vm.showMassiveUpload()">{{'Cabinets Massive Upload'|translate}}</md-button>
                <md-button class="md-raised md-primary" ng-click="vm.showManualUpload()">{{'Cabinets Manual Upload'|translate}}</md-button>
            </div>

            <!-- Massive Upload -->
            <div layout="row" flex="100" ng-hide="vm.hideMassiveUpload">
                <md-input-container flex="80">
                    <input name="FileName" type="text" ng-model="vm.excelFile.name" ng-disabled="true">
                </md-input-container>
                <div flex="20">
                    <md-button ngf-select="vm.selectionFile($files)"
                               ngf-accept="'.xlsx'"
                               class="md-primary md-raised"
                               required="required"
                               ng-disabled="vm.status != 'idle'"
                               ngf-multiple="false"
                               ng-model="vm.excelFile">{{'Choose File'|translate}}</md-button>
                </div>
            </div>

            <div flex layout="column">
                <p>{{'Registered Cabinets'|translate}}</p>
                <md-table-container>
                    <table md-table md-row-select multiple ng-disabled="true">
                        <thead md-head md-order="query.order" md-on-reorder="getDesserts">
                        <tr md-row>
                            <th md-column>{{'TableCabinets.Headers.Economic Num.'|translate}}</th>
                            <th md-column>{{'TableCabinets.Headers.Serial Num.'|translate}}</th>
                            <th md-column md-numeric>{{'TableCabinets.Headers.Brand'|translate}}</th>
                            <th md-column md-numeric>{{'TableCabinets.Headers.Model'|translate}}</th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="dessert in desserts.data">
                            <td md-cell>{{dessert.name}}</td>
                            <td md-cell>{{dessert.calories.value}}</td>
                            <td md-cell>{{dessert.fat.value | number: 1}}</td>
                            <td md-cell>{{dessert.carbs.value}}</td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </div>

            <!--Carga Manual-->
            <div flex layout="column">
                <p>{{'Unregistered Cabinets'|translate}}</p>
                    <md-table-container>
                        <table md-table md-row-select multiple ng-disabled="true">
                            <thead md-head md-order="query.order" md-on-reorder="getDesserts">
                            <tr md-row>
                                <th md-column>{{'TableCabinets.Headers.Economic Num.'|translate}}</th>
                            </tr>
                            </thead>
                            <tbody md-body>
                            <tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="dessert in desserts.data">
                                <td md-cell>{{dessert.name}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                </div>

            <div layout="row" layout-align="end center">
                <md-button class="md-raised md-primary" ng-disabled="entradaForm.$invalid" ng-click="vm.guardar()">{{'Save'|translate}}</md-button>
            </div>

        </md-card>
    </div>

</div>