<div layout="column">

    <div layout="row" flex layout-padding layout-fill layout-align="center center">
        <md-card class="md-padding-card1" flex="80" flex-sm="100" flex-xs="100">

            <md-card-title ng-hide="vm.hideEntrada">
                <md-card-title-text>
                    <span class="md-headline">{{'Entrance'|translate}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-title ng-hide="vm.hideSalida">
                <md-card-title-text>
                    <span class="md-headline">{{'Output'|translate}}</span>
                </md-card-title-text>
            </md-card-title>
            <form name="entradaForm" novalidate>
                <div layout="row" layout-sm="column" layout-xs="column" layout-align="center center" layout-align-sm="center stretch" layout-align-xs="center stretch">
                    <md-input-container class="md-block" flex="80" flex-sm="100" flex-xs="100">
                        <label>{{'Driver.Name'|translate}}</label>
                        <input name="DriverName" md-no-asterisk="" required="" type="text" ng-model="vm.entrada.nombre_chofer">
                        <div ng-messages="entradaForm.DriverName.$error">
                            <div ng-message="required">
                                {{'Required Field'|translate}}
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex="20" flex-sm="100" flex-xs="100">
                        <label>{{'Pediment'|translate}}</label>
                        <input name="Pediment" md-no-asterisk="" required="" type="text" ng-model="vm.entrada.pedimento">
                        <div ng-messages="entradaForm.Pediment.$error">
                            <div ng-message="required">
                                {{'Required Field'|translate}}
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" layout-sm="column" layout-xs="column" layout-align="center center" layout-align-sm="center stretch" layout-align-xs="center stretch">
                    <md-input-container class="md-block" flex="100">
                        <label>{{'UDN'|translate}}</label>
                        <md-select name="selectUDN" ng-model="vm.selectedUdn" required="">
                            <md-option ng-repeat="udn in vm.udns" value="{{udn.id}}">
                                {{udn.agencia}}
                            </md-option>
                        </md-select>
                        <div ng-messages="entradaForm.selectUDN.$error">
                            <div ng-message="required">
                                {{'Required Field'|translate}}
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" flex="100">
                        <label>{{'Transport.Line'|translate}}</label>
                        <md-select name="selectTransportLine" ng-model="vm.selectedTransportLine" required="">
                            <md-option ng-repeat="linea in vm.lineasTransporte" value="{{linea.id}}">
                                {{linea.razon_social}}
                            </md-option>
                        </md-select>
                        <div ng-messages="entradaForm.selectTransportLine.$error">
                            <div ng-message="required">
                                {{'Required Field'|translate}}
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex="100">
                        <label>{{'Transport.Kind'|translate}}</label>
                        <md-select name="selectTransportKind" ng-model="vm.selectedTransportKind" required="">
                            <md-option ng-repeat="tipo in vm.tiposTransporte" value="{{tipo.id}}">
                                {{tipo.descripcion}}
                            </md-option>
                        </md-select>
                        <div ng-messages="entradaForm.selectTransportLine.$error">
                            <div ng-message="required">
                                {{'Required Field'|translate}}
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" layout-sm="column" layout-xs="column" layout-align="center center" layout-align-sm="center stretch" layout-align-xs="center stretch">
                    <md-input-container class="md-block" flex="100">
                        <label>{{'Subsidiary'|translate}}</label>
                        <md-select name="selectSubsidiary" ng-model="vm.selectedSubsidiary" required="">
                            <md-option ng-repeat="sucursal in vm.Sucursales" value="{{sucursal.id}}">
                                {{sucursal.nombre}}
                            </md-option>
                        </md-select>
                        <div ng-messages="entradaForm.selectSubsidiary.$error">
                            <div ng-message="required">
                                {{'Required Field'|translate}}
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" flex="100">
                        <label>{{'Project'|translate}}</label>
                        <md-select name="selectProject" ng-model="vm.selectedProject" required="">
                            <md-option ng-repeat="proyecto in vm.Proyectos" value="{{proyecto.id}}">
                                {{proyecto.descripcion}}
                            </md-option>
                        </md-select>
                        <div ng-messages="entradaForm.selectProject.$error">
                            <div ng-message="required">
                                {{'Required Field'|translate}}
                            </div>
                        </div>
                    </md-input-container>
                </div>
            </form>

            <div layout="row" flex="100" layout-sm="column" layout-align-sm="center stretch" layout-xs="column" layout-align-xs="center stretch">
                <h3>{{'Driver.IFE'|translate}}</h3>
                <div flex="50">
                    <md-button ngf-select="vm.selectionFile($files)"
                               ngf-accept="'image/*'"
                               class="md-primary md-raised"
                               required="required"
                               ng-disabled="vm.status != 'idle'"
                               ngf-multiple="false"
                               ng-model="vm.picFile">
                        <md-icon md-font-icon
                                 ng-class="{ 'zmdi zmdi-cloud-upload': vm.status == 'idle', 'fa fa-spinner fa-pulse': vm.status == 'uploading', 'zmdi zmdi-check': vm.status == 'complete'}">

                        </md-icon>
                    </md-button>
                </div>
                <!--<div flex layout="column">
                    <md-table-container>
                        <table md-table md-row-select multiple ng-model="selected">
                            <thead md-head md-order="query.order" md-on-reorder="getDesserts">
                            <tr md-row>
                                <th md-column md-order-by="nameToLower"><span>No. Serie</span></th>
                                <th md-column><span>Calories</span></th>
                                <th md-column md-numeric>Fat (g)</th>
                                <th md-column md-numeric>Carbs (g)</th>
                                <th md-column md-numeric>Protein (g)</th>
                                <th md-column md-numeric>Sodium (mg)</th>
                                <th md-column md-numeric>Calcium (%)</th>
                                <th md-column md-numeric>Iron (%)</th>
                            </tr>
                            </thead>
                            <tbody md-body>
                            <tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="dessert in desserts.data">
                                <td md-cell>{{dessert.name}}</td>
                                <td md-cell>{{dessert.calories.value}}</td>
                                <td md-cell>{{dessert.fat.value | number: 1}}</td>
                                <td md-cell>{{dessert.carbs.value}}</td>
                                <td md-cell>{{dessert.protein.value | number: 1}}</td>
                                <td md-cell>{{dessert.sodium.value}}</td>
                                <td md-cell>{{dessert.calcium.value}}{{dessert.calcium.unit}}</td>
                                <td md-cell>{{dessert.iron.value}}{{dessert.iron.unit}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                </div>-->
                <div flex="80">
                    <div class="md-media-md card-media">
                        <img ngf-src="vm.picFile" class="thumb" max-height="120px" >
                    </div>
                </div>
            </div>

            <div layout="row" layout-align="end center">
                <md-button class="md-raised md-primary" ng-disabled="entradaForm.$invalid" ng-click="vm.guardar()">{{'Save'|translate}}</md-button>
            </div>

        </md-card>
    </div>

</div>