<!-- Created by lockonDaniel on 9/8/16.-->
<md-card flex="flex" class="md-padding card1" >
    <md-card-content>
        <div layout-xs="row">
            <h2 flex="flex" class="md-display-2">{{'UDN_CATALOG.title' | translate}}</h2>
            <md-button hide-gt-xs="hide-gt-xs" ng-click="vm.cancel()" class="md-fab md-primary md-scale">
                <md-icon md-font-icon="fa fa-plus" style="color:white;"></md-icon>
            </md-button>
        </div>
        <div flex="flex" layout-lt-md="column" layout-gt-md="row">
            <div flex="flex" layout="column" layout-align="space-around stretch">
                <md-autocomplete md-selected-item="vm.udn" md-selected-item-change="vm.selectedItemChange(vm.udn)" md-items="item in vm.search_items" md-item-text="item.agencia" md-min-length="0" md-search-text-change="vm.lookup(vm.searchText)" md-search-text="vm.searchText" md-menu-class="autocomplete-custom-template" md-floating-label="{{&quot;UDN_CATALOG.lookup&quot; | translate}}">
                    <md-item-template><span class="item-title">
              <md-icon md-font-icon="zmdi zmdi-truck"></md-icon><span>{{item.zona}} - {{item.agencia}}</span></span></md-item-template>
                </md-autocomplete>

                <md-switch ng-model="vm.toggleDeleted" ng-change="vm.toggleDeletedFunction()">
                    <span ng-if="vm.toggleDeleted" hide-xs hide-sm>{{'MAIN.MODEL.SHOW_ACTIVE' | translate}}</span>
                    <span ng-if="vm.toggleDeleted" hide-gt-sm>{{'MAIN.MODEL.SHOW_ACTIVE_MOBILE' | translate}}</span>
                    <span ng-if="!vm.toggleDeleted" hide-xs hide-sm>{{'MAIN.MODEL.SHOW_DELETED' | translate}}</span>
                    <span ng-if="!vm.toggleDeleted" hide-gt-sm>{{'MAIN.MODEL.SHOW_DELETED_MOBILE' | translate}}</span>

                </md-switch>


                <md-virtual-repeat-container id="vertical_container" flex="flex" layout-fill="layout-fill" cg-busy="{promise:vm.loadingPromise,templateUrl:'app/mainApp/directives/loading_repeater.tmpl.html',wrapperClass:'cg-busy cg-busy-animation'}">
                    <md-list flex="flex">
                        <md-list-itm flex="flex" ng-repeat="item in vm.udn_list">
                            <md-button ng-click="vm.clickRepeater(item)" ng-class="{'selected':item.id == vm.udn.id}">
                                <md-icon md-svg-icon="assets/images/industry.svg" class="avatar"></md-icon><span>{{item.zona}} -{{item.agencia}}</span>
                            </md-button>
                            <md-divider></md-divider>
                        </md-list-itm>
                    </md-list>
                </md-virtual-repeat-container>
            </div>
            <div flex="flex" layout-align="center stretch" layout="column">
                <md-button hide-xs="hide-xs" ng-click="vm.cancel()" class="md-fab md-primary md-scale md-fab-top-right">
                    <md-icon md-font-icon="fa fa-plus" style="color:white;"></md-icon>
                </md-button>
                <h3 class="md-display-1">{{'UDN_CATALOG.info' | translate}}</h3>
                <form name="inputForm">
                    <md-input-container class="md-block">
                        <label>{{ 'UDN_CATALOG.zone' | translate }}</label>
                        <md-select ng-model="vm.selected_udn.zona" name="zona" ng-required="true" ng-disabled="vm.selected_udn.deleted">
                            <md-option ng-repeat="udn in vm.udns" ng-value="udn.value" >
                                {{udn.value}}
                            </md-option>
                        </md-select>
                        <div ng-messages="inputForm.zona.$error">
                            <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD' | translate}}</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>{{ 'UDN_CATALOG.agency' | translate }}</label>
                        <input type="text"
                               name="agencia"
                               ng-model="vm.selected_udn.agencia"
                               ng-required="true"
                               is-alphanumeric
                               ng-disabled="vm.selected_udn.deleted"/>
                        <div ng-messages="inputForm.agencia.$error">
                            <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD' | translate}}</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>{{ 'UDN_CATALOG.center' | translate }}</label>
                        <input type="text"
                               name="centro"
                               ng-model="vm.selected_udn.centro"
                               ng-required="true"
                               numbers-only=""
                               ng-disabled="vm.selected_udn.deleted"/>
                        <div ng-messages="inputForm.centro.$error">
                            <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD' | translate}}</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>{{ 'UDN_CATALOG.address' | translate }}</label>
                        <input type="text"
                               name="direccion"
                               ng-model="vm.selected_udn.direccion"
                               ng-required="true"
                               is-alphanumeric
                               ng-disabled="vm.selected_udn.deleted"/>
                        <div ng-messages="inputForm.direccion.$error">
                            <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD' | translate}}</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>{{ 'UDN_CATALOG.phone' | translate }}</label>
                        <input type="text"
                               name="telefono"
                               ng-model="vm.selected_udn.telefono"
                               ng-required="true"
                               numbers-only
                               ng-disabled="vm.selected_udn.deleted"/>
                        <div ng-messages="inputForm.telefono.$error">
                            <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD' | translate}}</div>
                        </div>
                    </md-input-container>
                </form>
                <div flex="flex" layout="row" layout-align="end end">
                    <md-button aria-label="fab button" ng-click="vm.cancel()" class="md-raised md-primary"><md-icon md-font-icon="fa fa-eraser"></md-icon></md-button>
                    <md-button ng-if="vm.selected_udn.id!=null &amp;&amp; vm.selected_udn.id!=undefined" ng-disabled="inputForm.$invalid || vm.selected_udn.deleted" ng-click="vm.update()" class="md-raised md-primary">
                        <md-icon md-font-icon="fa fa-pencil"></md-icon>
                    </md-button>
                    <md-button ng-if="vm.selected_udn.id==null || vm.selected_udn.id==undefined" ng-disabled="inputForm.$invalid" ng-click="vm.create()" class="md-raised md-primary">
                        <md-icon md-font-icon="fa fa-save"></md-icon>
                    </md-button>
                    <md-button ng-if="vm.selected_udn.id!=null &amp;&amp; vm.selected_udn.id!=undefined && vm.selected_udn.deleted==false" ng-click="vm.remove()" class="md-raised md-warn">
                        <md-icon md-font-icon="fa fa-trash"></md-icon>
                    </md-button>

                    <md-button ng-if="vm.selected_udn.id!=null &amp;&amp; vm.selected_udn.id!=undefined && vm.selected_udn.deleted==true" ng-click="vm.restore()" class="md-raised md-warn">
                        <md-icon md-font-icon="zmdi zmdi-time-restore"></md-icon>
                    </md-button>

                </div>
            </div>
        </div>
    </md-card-content>
</md-card>
