<!--Created by lockonDaniel on 9/8/16.
-->
<md-card flex="flex" class="md-padding card1">
    <md-card-content>
        <div flex="flex" layout-xs="row">
            <h2 flex="flex" class="md-display-2">{{'Consumable_Catalog.title' | translate}}</h2>
            <md-button hide-gt-xs="hide-gt-xs" aria-label="cancelar" ng-click="vm.cancel()" class="md-fab md-primary md-scale">
                <md-icon md-font-icon="fa fa-plus" style="color:white;"></md-icon>
            </md-button>
        </div>
        <div flex="flex" layout-lt-md="column" layout-gt-md="row">
            <div flex="flex" layout="column" layout-align="space-around stretch">
                <md-autocomplete md-selected-item="vm.selectedCatalogo"
                                 md-selected-item-change="vm.selectedItemChange(vm.selectedCatalogo)"
                                 md-items="item in vm.search_items" md-item-text="item.descripcion" md-min-length="3"
                                 md-search-text-change="vm.lookup(vm.searchText)" md-search-text="vm.searchText"
                                 md-menu-class="autocomplete-custom-template"
                                 md-floating-label="{{&quot;Consumable_Catalog.lookup&quot; | translate}}">
                    <md-item-template><span class="item-title">
              <md-icon md-font-icon="zmdi zmdi-truck"></md-icon><span>{{item.descripcion}}</span></span>
                    </md-item-template>
                </md-autocomplete>
                <md-switch ng-model="vm.toggleDeleted" ng-change="vm.toggleDeletedFunction()">
                    <span ng-if="vm.toggleDeleted" hide-xs hide-sm>{{'MAIN.MODEL.SHOW_ACTIVE' | translate}}</span>
                    <span ng-if="vm.toggleDeleted" hide-gt-sm>{{'MAIN.MODEL.SHOW_ACTIVE_MOBILE' | translate}}</span>
                    <span ng-if="!vm.toggleDeleted" hide-xs hide-sm>{{'MAIN.MODEL.SHOW_DELETED' | translate}}</span>
                    <span ng-if="!vm.toggleDeleted" hide-gt-sm>{{'MAIN.MODEL.SHOW_DELETED_MOBILE' | translate}}</span>

                </md-switch>

                <md-virtual-repeat-container layout-fill="layout-fill" hide-xs="hide-xs" hide-sm="hide-sm"
                                             ng-style='vm.myStyle' flex="flex" cg-busy="{promise:vm.loadingPromise,templateUrl:'app/mainApp/directives/loading_repeater.tmpl.html',wrapperClass:'cg-busy cg-busy-animation'}"

                                             class="vr-min-height">
                    <md-list flex="flex">
                        <md-list-itm flex="flex" ng-repeat="item in vm.catalogo_insumo_list">
                            <md-button ng-click="vm.clickRepeater(item)"
                                       ng-class="{'selected':item.id ==vm.catalogo_insumo.id}">
                                <md-icon md-svg-icon="assets/images/catalog.svg" class="avatar"></md-icon>
                                <span>{{item.descripcion}}</span>
                            </md-button>
                            <md-divider></md-divider>
                        </md-list-itm>
                    </md-list>
                </md-virtual-repeat-container>
            </div>
            <div flex="flex" layout-align="start stretch" layout="column">
                <md-button id="cabecera" hide-xs="hide-xs" aria-label="cancelar" ng-click="vm.cancel()"
                           class="md-fab md-primary md-scale md-fab-top-right">
                    <md-icon md-font-icon="fa fa-plus" style="color:white;"></md-icon>
                </md-button>
                <h3 class="md-display-1">{{'Consumable_Catalog.info' | translate}}</h3>
                <form name="inputForm">
                    <md-input-container class="md-block">
                        <label>{{ 'Consumable_Catalog.quantity' | translate }}</label>
                        <input type="text" name="cantidad" valid-number ng-model="vm.catalogo_insumo.cantidad" ng-disabled="vm.catalogo_insumo.deleted" ng-required="true"
                               ng-min="0"/>
                        <div ng-messages="inputForm.cantidad.$error">
                            <div ng-message="belowminimum">{{'MAIN.GENERAL.MIN_NUMBER' | translate}} 0</div>
                            <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD' | translate}}</div>
                        </div>
                    </md-input-container>
                    <div layout="row" layout-align="center center">
                        <md-input-container class="md-block" flex="flex">
                            <label>{{ 'Consumable_Catalog.units' | translate }}</label>
                            <md-select ng-model="vm.catalogo_insumo.unidades" flex="90" ng-disabled="vm.catalogo_insumo.deleted">
                                <md-option ng-repeat="unidad in vm.unidades" ng-value="unidad.id">
                                    {{unidad.nombre}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-button aria-label="fab button"
                                   class="md-fab md-scale md-mini  md-fab-principal"
                                   ng-click="vm.addUnidad()" ng-disabled="vm.catalogo_insumo.deleted">
                            <md-icon md-font-icon="fa fa-plus" ng-style="{color: 'white'}">

                            </md-icon>
                        </md-button>
                    </div>
                    <md-input-container class="md-block">
                        <label>{{ 'Consumable_Catalog.description' | translate }}</label>
                        <input type="text" name="descripcion" ng-model="vm.catalogo_insumo.descripcion"
                               ng-disabled="vm.catalogo_insumo.deleted"
                               ng-required="true"/>
                        <div ng-messages="inputForm.descripcion.$error">
                            <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD' | translate}}</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>{{ 'Consumable_Catalog.cost' | translate }}</label>
                        <input type="text" name="costo" valid-number ng-model="vm.catalogo_insumo.costo" ng-required="true"
                               ng-disabled="vm.catalogo_insumo.deleted"
                               ng-min="0"/>
                        <div ng-messages="inputForm.costo.$error">
                            <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD' | translate}}</div>
                            <div ng-message="belowminimum   ">{{'MAIN.GENERAL.MIN_NUMBER' | translate}} 0</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>{{ 'Consumable_Catalog.type' | translate }}</label>
                        <md-select ng-model="vm.catalogo_insumo.tipo" ng-required="true" ng-disabled="vm.catalogo_insumo.deleted">
                            <md-option ng-repeat="tipo in vm.tipos" ng-value="tipo.value">{{tipo.display}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>{{ 'Consumable_Catalog.keyword' | translate }}</label>
                        <input type="text" name="palabra_clave" ng-model="vm.catalogo_insumo.palabra_clave"
                               ng-disabled="vm.catalogo_insumo.deleted"
                               ng-required="true"/>
                        <div ng-messages="inputForm.palabra_clave.$error">
                            <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD' | translate}}</div>
                        </div>
                    </md-input-container>
                    <div layout="row" layout-sm="column" layout-xs="column" layout-align="center center" layout-align-sm="start stretch" layout-align-xs="start stretch">
                        <div flex="50" flex-sm="100" flex-xs="100" layout="column" layout-align-sm="start stretch" layout-align-xs="start stretch" layout-align="center center">
                            <md-button ng-click="vm.showSteps()" class="md-raised md-primary" ng-disabled="vm.catalogo_insumo.deleted">
                                <p>{{'Consumable_Catalog.BUTTON.STEPS'|translate}}</p>
                            </md-button>
                        </div>
                        <div flex="50" flex-sm="100" flex-xs="100" layout="column" layout-align-sm="start stretch" layout-align-xs="start stretch" layout-align="center center">
                            <md-button ng-click="vm.showEquipment()" class="md-raised md-primary" ng-disabled="vm.catalogo_insumo.deleted">
                                <p>{{'Consumable_Catalog.BUTTON.EQUIPMENT'|translate}}</p>
                            </md-button>
                        </div>
                    </div>
                    <md-input-container class="md-block">
                        <label>{{ 'Consumable_Catalog.category' | translate }}</label>
                        <md-select ng-model="vm.catalogo_insumo.categoria" ng-required="true" ng-disabled="vm.disabled(vm.catalogo_insumo.categoria,'categoria',vm.catalogo_insumo.deleted)">
                            <md-option ng-repeat="categoria in vm.categoria_list" ng-value="categoria.id" ng-if="categoria.deleted==false || categoria.id==vm.catalogo_insumo.categoria">
                                {{categoria.nombre}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>{{ 'Consumable_Catalog.provider' | translate }}</label>
                        <md-select ng-model="vm.catalogo_insumo.proveedor" ng-required="true" ng-disabled="vm.disabled(vm.catalogo_insumo.proveedor,'proveedor',vm.catalogo_insumo.deleted)">
                            <md-option ng-repeat="proveedor in vm.proveedor_list" ng-value="proveedor.id" ng-if="proveedor.deleted==false || proveedor.id==vm.catalogo_insumo.proveedor">
                                {{proveedor.razon_social}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" ng-if="vm.catalogo_insumo.id==null && vm.profile.sucursal==null">
                        <label>{{ 'Consumable_Catalog.office' | translate }}</label>
                        <md-select ng-model="vm.catalogo_insumo.sucursal" ng-disabled="vm.catalogo_insumo.deleted" ng-required="vm.catalogo_insumo.id==null && vm.profile.sucursal==null">
                            <md-option ng-repeat="sucursal in vm.sucursal_list" ng-value="sucursal.id">
                                {{sucursal.nombre}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </form>
                <div flex="flex" layout="row" layout-align="end end">
                    <md-button aria-label="actualizar" ng-if="vm.catalogo_insumo.id!=null && vm.catalogo_insumo.id!=undefined && !vm.catalogo_insumo.deleted"
                               ng-disabled="inputForm.$invalid" ng-click="vm.update()" class="md-raised md-primary">
                        <md-icon md-font-icon="fa fa-pencil"></md-icon>
                    </md-button>
                    <md-button aria-label="crear" ng-if="vm.catalogo_insumo.id==null || vm.catalogo_insumo.id==undefined"
                               ng-disabled="inputForm.$invalid" ng-click="vm.create()" class="md-raised md-primary">
                        <md-icon md-font-icon="fa fa-save"></md-icon>
                    </md-button>
                    <md-button aria-label="borrar" ng-if="vm.catalogo_insumo.id!=null && vm.catalogo_insumo.id!=undefined && !vm.catalogo_insumo.deleted"
                               ng-click="vm.remove()" class="md-raised md-warn">
                        <md-icon md-font-icon="fa fa-trash"></md-icon>
                    </md-button>
                    <md-button ng-if="vm.catalogo_insumo.id!=null && vm.catalogo_insumo.id!=undefined && vm.catalogo_insumo.deleted" ng-click="vm.restore()" class="md-raised md-warn">
                        <md-icon md-font-icon="zmdi zmdi-time-restore"></md-icon >
                    </md-button>

                </div>
            </div>
        </div>
    </md-card-content>
</md-card>
