<md-dialog class="mobile-fullwidth-dialog" flex="40" flex-xs="100">
    <md-toolbar class="toolbar-default"
                ng-style="{ 'background-color': vm.selectedColor.backgroundColor, color: vm.selectedColor.textColor }">
        <div class="md-toolbar-tools">
            <h2>
                <span translate>{{::vm.dialogData.title}}</span>
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancelClick()" aria-label="cancel">
                <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-divider></md-divider>
    <form name="updateSolicitudform">
        <md-dialog-content class="md-dialog-content card1 md-blue-grey-theme">

            <md-input-container class="md-block">
                <label translate>{{'CALENDAR.FORM.LABEL.DESCRIPTION'|translate}}</label>
                <input aria-label="Descripcion" ng-model="vm.event.solicitud.descripcion" name="descripcion" required>
                <div ng-messages="updateSolicitudform.descripcion.$error">

                    <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD'|translate}}</div>
                </div>
            </md-input-container>

            <div class="event-dialog-input-row" layout="row" layout-align="start center">
                <p flex hide-xs translate>{{'CALENDAR.FORM.LABEL.DATE_INITIAL'|translate}}</p>
                <md-input-container>
                    <input type="text" aria-label="Fecha start" ng-model="vm.start" mdp-date-picker
                           date-max-val="{{vm.end}}"
                           mdp-format="{{vm.formato}}"
                           mo-date-input="{{vm.formato}}" name="fecha_start" required=""/>
                    <div ng-messages="updateSolicitudform.fecha_start.$error">

                        <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD'|translate}}</div>
                        <div ng-message="maxDates" ><span translate='CALENDAR.FORM.MSG.MAX_DATE' translate-values="{ one: 'fecha de solicitud', two: 'fecha de atención'}"></span></div>

                    </div>
                </md-input-container>
            </div>
            <div class="event-dialog-input-row" layout="row" layout-align="start center">
                <p flex hide-xs translate>{{'CALENDAR.FORM.LABEL.DATE_END'|translate}}</p>
                <md-input-container>
                    <input type="text" aria-label="Fecha end" ng-model="vm.end" mdp-date-picker
                           date-min-val="{{vm.start}}"
                           mdp-format="{{vm.formato}}"
                           mo-date-input="{{vm.formato}}" name="fecha_end" required=""/>
                    <div ng-messages="updateSolicitudform.fecha_end.$error">

                        <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD'|translate}}</div>
                        <div ng-message="minDates"><span translate='CALENDAR.FORM.MSG.MIN_DATE' translate-values="{ one: 'fecha de atención', two: 'fecha de solicitud'}"></span></div>
                    </div>
                </md-input-container>
            </div>
            <md-input-container class="md-block">
                <p flex hide-xs translate>{{'CALENDAR.FORM.LABEL.DATE_TERMINATE'|translate}}</p>
            </md-input-container>
            <div class="event-dialog-input-row" layout="row" layout-align="center stretch">

                <md-input-container>

                    <input aria-label="Fecha atendida" type="text" ng-model="vm.atendida.fecha" mdp-date-picker
                           date-min-val="{{vm.start}}"
                           date-max-val="{{vm.end}}"
                           mdp-format="{{vm.formato}}" mo-date-input="{{vm.formato}}" name="fecha_termino_date"
                           required=""/>
                    <div ng-messages="updateSolicitudform.fecha_termino_date.$error">

                        <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD'|translate}}</div>
                        <div ng-message="minDates"><span translate='CALENDAR.FORM.MSG.MIN_DATE' translate-values="{ one: 'fecha de confirmación', two: 'fecha de solicitud'}"></span></div>
                        <div ng-message="maxDates" ><span translate='CALENDAR.FORM.MSG.MAX_DATE' translate-values="{ one: 'fecha de confirmación', two: 'fecha de atención'}"></span></div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <input type="time" ng-model="vm.atendida.hora" aria-label="Hora" mdp-time-picker name="fecha_termino_hora"
                           mo-date-input="{{vm.time_format}}"
                           required=""/>
                    <div ng-messages="updateSolicitudform.fecha_termino_hora.$error">

                        <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD'|translate}}</div><div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD'|translate}}</div>
                    </div>

                </md-input-container>
            </div>


            <md-input-container class="md-block">
                <label translate>{{'CALENDAR.FORM.LABEL.STATUS'|translate}}</label>
                <md-select ng-model="vm.event.solicitud.status"
                           name="status"
                           placeholder="{{'TECNICO.FORM.LABEL.STATUS'|translate}}"
                           required>
                    <md-option ng-repeat="status in vm.statu" ng-value="status.value">{{status.value}}
                    </md-option>

                </md-select>
                <div ng-messages="updateSolicitudform.status.$error">
                    <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD'|translate}}</div>
                </div>

            </md-input-container>
            <md-input-container class="md-block">
                <label translate>{{'CALENDAR.FORM.LABEL.TYPE'|translate}}</label>
                <textarea ng-model="vm.event.solicitud.tipo_solicitud" readonly></textarea>
            </md-input-container>


        </md-dialog-content>

        <md-dialog-actions layout="row" class="card1 md-blue-grey-theme">

            <span flex></span>
            <md-button ng-click="vm.cancelClick()" aria-label="{{'Cancel' | triTranslate}}"
                       translate="MAIN.BUTTONS.CANCEL"></md-button>
            <md-button ng-click="vm.okClick()" class="md-primary" ng-disabled="updateSolicitudform.$invalid"
                       aria-label="{{vm.dialogData.confirmButtonText | triTranslate}}"
                       translate="MAIN.BUTTONS.ACCEPT"></md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
