.fabOperationReport .text-capitalize {
  text-transform: capitalize; }
.fabOperationReport .md-fab-principal{
  background-color: #02B6CE !important; }
/*.fabOperationReport .md-fab:hover, .fabOperationReport .md-fab.md-focused {
  background-color: #000 !important; }*/
.fabOperationReport p.note {
  font-size: 1.2rem; }
.fabOperationReport .lock-size {
  min-width: 300px;
  min-height: 300px;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto; }

.fullscreen-dialog {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  border-radius: 0;
}
.md-sidenav-left > md-content  {
  margin: 0;
}
md-sidenav#siteMenu
{
  position: relative!important;
  //top: -16px;
}

