<div layout="column" layout-align="center center" class="overlay-40">
    <div layout="row" layout-align="center center">
        <p flex="70" flex-sm="100" flex-gt-xs="100" translate=""
           class="md-headline font-weight-300 text-center text-light">MODEL_CABINET.FORM.LABEL.MODEL</p>
    </div>
    <div flex="" layout="row" layout-align="center center" layout-xs="column" layout-fill="">
        <div flex="80" layout="column" class="md-whiteframe-z1 margin-bottom-100">
            <div flex="flex" layout="row" layout-xs="column" layout-sm="column" class="background">
                <div layout="column" flex-lg="40" flex-gt-lg="35" flex-xl="35" flex-gt-sm="100" flex-md="100"
                     flex-sm="100" flex-gt-xs="100" flex-xs="100">
                    <md-autocomplete ng-disabled="vm.isDisabled" md-no-cache="vm.noCache"
                                     md-selected-item="vm.selectedItem"
                                     md-search-text-change="vm.searchTextChange(vm.searchText)"
                                     md-search-text="vm.searchText"
                                     md-selected-item-change="vm.selectedItemChange(item)"
                                     md-items="item in vm.querySearch(vm.searchText)" md-item-text="item.nombre"
                                     md-min-length="0"
                                     md-floating-label="{{'MODEL_CABINET.FORM.PLACEHOLDER.SEARCH_BRANCH' | translate }}"
                                     md-menu-class="autocomplete-custom-template" class="margin-top-20">
                        <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.nombre}}</span>
                        <md-item-template>
                            <span class="item-title">
                            <md-icon md-font-icon="fa fa-briefcase"></md-icon>
                            <span>&nbsp; {{item.nombre}}</span>
                            </span><span class="item-metadata">
                                <span class="item-metastat">
                                    <strong>{{item.tipo_refrigerante }}</strong>
                            </span>
                        </span>
                        </md-item-template>
                        <md-not-found><span translate="MODEL_CABINET.FORM.PLACEHOLDER.NOT_FOUND"></span></md-not-found>
                    </md-autocomplete>
                    <md-virtual-repeat-container class="vertical-container">
                        <md-list>
                            <md-list-item ng-repeat="modelo in vm.modelos | modeloSearch:vm.searchText">
                                <md-button ng-click="vm.selectedModelos(modelo)"
                                           ng-class="{'selected' : modelo === vm.selectedModelo }">
                                    <md-icon md-svg-icon="assets/images/modelo.svg" class="avatar"></md-icon>
                                    <span flex="flex">{{modelo.nombre }}</span>
                                </md-button>
                            </md-list-item>
                        </md-list>
                    </md-virtual-repeat-container>
                </div>
                <div layout="column" flex-lg="60" flex-gt-lg="65" flex-xl="65" flex-gt-sm="100" flex-md="100"
                     flex-sm="100" flex-gt-xs="100" flex-xs="100" id="register">
                    <md-button class="md-fab md-scale md-fab-top-right" ng-click="vm.showRegister($event)">
                        <md-icon md-font-icon="fa fa-plus" style="color:white;">

                        </md-icon>
                    </md-button>

                    <md-content id="content">
                        <div layout="column" flex="flex" ng-show="vm.selectedModelo!=null || vm.operation==1">
                            <h2 class="md-headline-1 text-center">
                                {{vm.operation==0?'MODEL_CABINET.FORM.LABEL.INFO_MODEL':'MODEL_CABINET.FORM.LABEL.NEW_REGISTER'|translate}}</h2>
                            <form name="ModelCabinetForm">
                                <md-input-container class="md-block">
                                    <label>{{'MODEL_CABINET.FORM.LABEL.NAME'|translate}}</label>
                                    <input ng-required='true' type="text" name="nombre" ng-disabled="vm.editable"
                                           ng-model="vm.modelo.nombre"/>
                                    <div ng-messages="ModelCabinetForm.nombre.$error">
                                        <div ng-message="required">{{'MAIN.LABEL.REQUIRED'|translate}}</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>{{'MODEL_CABINET.FORM.LABEL.TYPE'|translate}}</label>
                                    <input md-no-asterisk="" required="" type="text" name="type"
                                           ng-disabled="vm.editable"
                                           ng-model="vm.modelo.tipo"/>
                                    <div ng-messages="ModelCabinetForm.type.$error">
                                        <div ng-message="required">{{'MAIN.LABEL.REQUIRED'|translate}}</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>{{'MODEL_CABINET.FORM.LABEL.DESCRIPTION'|translate}}</label>
                                    <input md-no-asterisk="" required="" type="text" name="descripcion"
                                           ng-disabled="vm.editable"
                                           ng-model="vm.modelo.descripcion"/>
                                    <div ng-messages="ModelCabinetForm.descripcion.$error">
                                        <div ng-message="required">{{'MAIN.LABEL.REQUIRED'|translate}}</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>{{'MODEL_CABINET.FORM.LABEL.KEYWORD'|translate}}</label>
                                    <input md-no-asterisk="" required="" type="text" name="palabra"
                                           ng-disabled="vm.editable"
                                           ng-model="vm.modelo.palabra_clave"/>
                                    <div ng-messages="ModelCabinetForm.palabra.$error">
                                        <div ng-message="required">{{'MAIN.LABEL.REQUIRED'|translate}}</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>{{'MODEL_CABINET.FORM.LABEL.TYPE_REFRIGERANT'|translate}}</label>
                                    <input md-no-asterisk="" required="" type="text" name="refrigerante"
                                           ng-disabled="vm.editable"
                                           ng-model="vm.modelo.tipo_refrigerante"/>
                                    <div ng-messages="ModelCabinetForm.refrigerante.$error">
                                        <div ng-message="required">{{'MAIN.LABEL.REQUIRED'|translate}}</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>{{'MODEL_CABINET.FORM.LABEL.QUANTITY'|translate}}</label>
                                    <input md-no-asterisk="" required="" type="text" name="cantidad"
                                           ng-disabled="vm.editable"
                                           only-digits
                                           ng-model="vm.modelo.cantidad"/>
                                    <div ng-messages="ModelCabinetForm.cantidad.$error">
                                        <div ng-message="required">{{'MAIN.LABEL.REQUIRED'|translate}}</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>{{'MODEL_CABINET.FORM.LABEL.COMPRESSOR_TYPE'|translate}}</label>
                                    <input md-no-asterisk="" required="" type="text" name="compresor"
                                           ng-disabled="vm.editable"
                                           ng-model="vm.modelo.tipo_compresor"/>
                                    <div ng-messages="ModelCabinetForm.compresor.$error">
                                        <div ng-message="required">{{'MAIN.LABEL.REQUIRED'|translate}}</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>{{'MODEL_CABINET.FORM.LABEL.BRAND'|translate}}</label>

                                    <md-select ng-model="vm.modelo.marca"
                                               ng-disabled="vm.editable"
                                               name="marca"
                                               placeholder="{{'MODEL_CABINET.FORM.LABEL.BRAND'|translate}}"
                                               required=""
                                               >
                                        <md-option ng-repeat="marca in vm.marcas" ng-value="marca.id">{{marca.categoria}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="ModelCabinetForm.marca.$error">
                                        <div ng-message="required">{{'MAIN.LABEL.REQUIRED'|translate}}</div>
                                    </div>
                                </md-input-container>
                                <div layout="row" layout-align="end center">
                                    <md-button class="md-raised md-primary"
                                               ng-show="vm.operation==0"
                                               ng-click="vm.eliminar($event)">
                                        <md-icon md-font-icon="fa fa-trash"></md-icon>
                                    </md-button>
                                    <md-button
                                        ng-show="vm.operation==0"
                                        ng-click="vm.editar()"
                                        ng-disabled="ModelCabinetForm.$invalid"
                                        class="md-raised md-primary">
                                        <md-icon md-font-icon="fa fa-pencil"></md-icon>
                                    </md-button>
                                    <md-button
                                        ng-click="vm.registrar()"
                                        ng-disabled="ModelCabinetForm.$invalid"
                                        ng-show="vm.operation==1 || vm.operation==2"
                                        class="md-raised md-primary">
                                        <md-icon md-font-icon="fa fa-save"></md-icon>
                                    </md-button>
                                </div>
                            </form>
                        </div>
                    </md-content>
                </div>
            </div>
        </div>
    </div>
</div>
