<div layout="column" flex="100" layout-padding layout-fill>
    <md-card class="md-padding card1" flex="flex">
        <md-card-content>
            <div layout="row" flex="" layout-align="space-around stretch" id="cabecera">
                <h2 flex="70" flex-sm="100" flex-gt-xs="100" translate=""
                    class="md-headline-1 text-center">
                    {{'OUTPUT_LIST.FORM.LABEL.TITLE'|translate}}</h2>

            </div>
            <div flex="100" layout="row" layout-align="space-around stretch" layout-xs="column" layout-sm="column"
                 layout-fill="" ng-style='vm.myStyle'>

                <div layout="column" flex-lg="40" flex-gt-lg="40" flex-xl="40" flex-gt-sm="100" flex-md="100"
                     flex-sm="100" flex-gt-xs="100" flex-xs="100">
                    <md-autocomplete md-selected-item="vm.selectedSalidaItem"
                                     md-selected-item-change="vm.selectedItemChange(vm.selectedSalidaItem)"
                                     md-items="item in vm.querySearch(vm.searchText)"
                                     md-item-text="item.id"
                                     md-min-length="0"
                                     md-search-text-change="vm.search(vm.searchText)"
                                     md-search-text="vm.searchText"
                                     md-menu-class="autocomplete-custom-template"
                                     md-floating-label="{{'OUTPUT_LIST.FORM.PLACEHOLDER.SEARCH_OUTPUT'| translate }}">
                        <span
                            md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.id}}</span>
                        <md-item-template>
                        <span class="item-title">
                            <md-icon md-font-icon="fa fa-briefcase"></md-icon>
                            <span>{{item.id }} - {{item.fecha | moment:'DD/MM/YYYY hh:mm:ss'}}</span>
                        </span>
                        </md-item-template>
                        <md-not-found><span translate="OUTPUT_LIST.FORM.PLACEHOLDER.NOT_FOUND"></span></md-not-found>
                    </md-autocomplete>
                    <md-virtual-repeat-container class="vertical-container" flex="flex">
                        <md-list class="inbox-list">
                            <md-list-item ng-repeat="salida in vm.salidas" class="inbox-list__email inbox-list__email--animated md-3-line md-long-text">

                                <md-button ng-click="vm.selectedSalida(salida)"
                                           layout-padding layout="row"
                                           layout-align="start center"
                                           ng-class="{'inbox-list__email--active' : salida === vm.selectedSalidaList }">
                                    <md-icon md-svg-icon="assets/images/remission.svg" class="avatar"></md-icon>
                                    <div class="md-list-item-text" layout="column">
                                        <h3><b>{{'OUTPUT_LIST.FORM.LABEL.FOLIO'|translate}}</b> {{salida.id }}</h3>
                                        <h4><b>{{'OUTPUT_LIST.FORM.LABEL.DATE'|translate}}</b> {{salida.fecha | moment:'DD/MM/YYYY hh:mm:ss'}}</h4>
                                    </div>
                                </md-button>
                                <md-divider></md-divider>

                            </md-list-item>

                        </md-list>

                    </md-virtual-repeat-container>
                </div>
                <div layout="column" flex-lg="60" flex-gt-lg="65" flex-xl="65" flex-gt-sm="100" flex-md="100"
                     flex-sm="100" flex-gt-xs="100" flex-xs="100" layout-align="start stretch">
                    <md-tabs layout-padding="true" md-dynamic-height="100" md-border-bottom="100" md-selected="vm.selectedTab">
                        <md-tab label={{'OUTPUT_LIST.FORM.TABS.INFO'|translate}}>

                            <form name="entradaForm" novalidate="">

                                <div layout-gt-md="row" layout="column" layout-align-gt-md="center center"
                                     layout-align="center stretch">
                                    <md-input-container flex="50" class="md-block">
                                        <label>{{'OUTPUT.FORM.LABEL.UDN'|translate}}</label>
                                        <md-select name="selectSubsidiary" ng-model="vm.selectedSalidaList.sucursal"
                                                   disabled=""
                                                   md-no-asterisk="">
                                            <md-option ng-repeat="sucursal in vm.Sucursales" ng-value="sucursal.id">
                                                {{sucursal.nombre}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container flex="50" class="md-block">
                                        <label>{{'OUTPUT.FORM.LABEL.SUBSIDIARY'|translate}}</label>
                                        <md-select name="selectSubsidiary" ng-model="vm.selectedSalidaList.sucursal"
                                                   disabled=""
                                                   md-no-asterisk="">
                                            <md-option ng-repeat="sucursal in vm.Sucursales" ng-value="sucursal.id">
                                                {{sucursal.nombre}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div layout="row" layout-sm="column" layout-xs="column" layout-align="center center"
                                     layout-align-sm="center stretch" layout-align-xs="center stretch">


                                    <md-input-container flex="100" class="md-inline-form">
                                        <label>{{'OUTPUT.FORM.LABEL.TRANSPORT.LINE'|translate}}</label>
                                        <md-select name="selectTransportLine" ng-model="vm.selectedSalidaList.linea_transporte"
                                                   disabled=""
                                                   md-no-asterisk="">
                                            <md-option ng-repeat="linea in vm.lineasTransporte" ng-value="linea.id">
                                                {{linea.razon_social}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container flex="100" class="md-inline-form">
                                        <label>{{'OUTPUT.FORM.LABEL.TRANSPORT.KIND'|translate}}</label>
                                        <md-select name="selectTransportKind" ng-model="vm.selectedSalidaList.tipo_transporte"
                                                   disabled=""
                                                   md-no-asterisk="">
                                            <md-option ng-repeat="tipo in vm.tiposTransporte" ng-value="tipo.id">
                                                {{tipo.descripcion}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div layout="row" layout-sm="column" layout-xs="column" layout-align="center center"
                                     layout-align-sm="center stretch" layout-align-xs="center stretch">
                                    <md-input-container flex="100" flex-sm="100" flex-xs="100" class="md-block">
                                        <label>{{'OUTPUT.FORM.LABEL.DRIVER.NAME'|translate}}</label>
                                        <input name="DriverName" md-no-asterisk="" type="text"
                                               md-maxlength="100"
                                               ng-model="vm.selectedSalidaList.nombre_chofer"/>
                                    </md-input-container>
                                </div>

                                <div flex="80" ng-if="vm.selectedSalidaList.ife_chofer!=null">
                                    <div class="md-media-md card-media"><img ngf-src="vm.selectedSalidaList.ife_chofer"
                                                                             style="max-width:150px" class="thumb"/></div>
                                </div>
                            </form>
                        </md-tab>
                        <md-tab label={{'OUTPUT_LIST.FORM.TABS.CABINETS'|translate}}>
                            <div layout="row">
                                <md-input-container class="md-inline-form" flex="100" flex-sm="100" flex-xs="100">
                                    <label>{{'OUTPUT.FORM.PLACEHOLDER.SEARCH'|translate}}</label>
                                    <input type="text" ng-model="vm.economicoFilter"/>
                                </md-input-container>
                            </div>
                            <md-list flex>
                                <md-list-item
                                    ng-repeat="cabinet in vm.cabinets | salidaSearch:vm.economicoFilter"
                                    class="md-2-line"
                                >
                                    <div layout-padding layout="row"
                                         layout-align="start center">
                                        <md-checkbox checklist-model="vm.selectedCabinets" checklist-value="cabinet.economico"></md-checkbox>
                                        <md-icon md-svg-icon="assets/images/cabinet.svg"
                                                 class="md-avatar" hide-sm="" hide-xs=""></md-icon>
                                        <div class="md-list-item-text" layout="column">
                                            <h4><b hide-sm="" hide-xs="">{{'OUTPUT.FORM.LABEL.ECONOMIC'|translate}}</b>
                                                {{cabinet.economico }}</h4>

                                        </div>

                                    </div>
                                    <md-divider></md-divider>
                                </md-list-item>
                            </md-list>
                        </md-tab>
                    </md-tabs>
                </div>
            </div>
            <div layout="row" layout-align="end end" layout-sm="column" layout-xs="column" layout-align-sm="start stretch" layout-align-xs="start stretch">
                <md-button aria-label="fab button"
                           ng-disabled="vm.selectedCabinets.length<=0"
                           ng-click="vm.remove($event)" class="md-raised md-warn">
                    <md-icon md-font-icon="fa fa-trash"></md-icon>
                </md-button>
                <md-button aria-label="fab button"
                           ng-click="vm.generarRemision()"
                           ng-disabled="vm.selectedSalidaList==null || vm.selectedSalidaList==undefined"
                           class="md-raised md-primary">
                    <md-icon md-font-icon="fa fa-file-pdf-o "></md-icon>
                </md-button>
            </div>
        </md-card-content>
    </md-card>
</div>
