<div layout="column" flex layout-padding layout-align-gt-md="center center" layout-align="center stretch">
    <md-toolbar>
        <h2>{{'MODAL_REQUEST.FORM.LABEL.CONCEPT'|translate}}</h2><span flex=""></span>
        <md-button ng-click="vm.cancel()" class="md-icon-button">
            <ng-md-icon icon="close" aria-label="Close dialog"></ng-md-icon>
        </md-button>
    </md-toolbar>
    <md-dialog-content>
        <form name="objectForm" layout="column">
            <md-input-container>
                <label>{{'MODAL_REQUEST.FORM.LABEL.QUANTITY'|translate}}</label>
                <input type="text" ng-required="true" name="cantidad" ng-model="vm.object.cantidad" only-digits/>
                <div ng-messages="objectForm.cantidad.$error">
                    <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD'|translate}}</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>{{'MODAL_REQUEST.FORM.LABEL.STATUS_EQUIPMENT'|translate}}</label>

                <md-select ng-model="vm.object.status_equipo"
                           required='required'>
                    <md-option ng-repeat="status in vm.status" ng-value="status.id">{{status.value}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>{{'MODAL_REQUEST.FORM.LABEL.TYPE_EQUIPMENT'|translate}}</label>
                <md-select ng-model="vm.object.modelo_cabinet" ng-required="true">
                    <md-option ng-repeat="tipoEquipo in vm.tiposEquipo" ng-value="tipoEquipo.id">{{tipoEquipo.nombre}} - {{tipoEquipo.tipo}}</md-option>
                </md-select>
            </md-input-container>


        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end center">
        <md-button ng-click="vm.cancel()" md-no-ink class="md-primary">
            {{'Cancel'|translate}}
        </md-button>
        <md-button ng-click="vm.submit()" ng-disabled="objectForm.$invalid" md-no-ink class="md-primary">
            {{'Save'|translate}}
        </md-button>
    </md-dialog-actions>
</div>
