<div layout="row" flex layout-padding layout-fill layout-align="center center">
    <div flex="60" flex-xs="100">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <h2>Buscar Solicitud</h2>
                    <div  layout="row">
                        <md-select placeholder="Elige tipo de solicitud" ng-model="vm.tipo_solicitud">
                            <md-option value="Envio">Solicitud de envió</md-option>
                            <md-option value="Recoleccion">Solicitud de recolección</md-option>
                            <md-option value="Venta">Solicitud de punto de venta</md-option>
                        </md-select>

                        <!--md-input-container ng-if="!vm.isClient" class="md-block" flex="50">
                            <label>No de Solicitud</label>
                            <textarea ng-model="vm.id"></textarea>
                        </md-input-container>
                        <div layout="column">
                            <div ng-if="!vm.isClient" class="margin-bottom-20" layout="row" layout-align="space-around center" flex="50">
                                <p>Fecha de Termino</p>
                            </div>
                            <div ng-if="!vm.isClient" class="margin-bottom-20" layout="row" layout-align="space-around center" flex="50">
                                <md-datepicker ng-model="vm.FechaFin"
                                               md-placeholder="Enter date"></md-datepicker>
                            </div>
                        </div-->
                    </div>
                    <!--md-select ng-if="!vm.isClient" placeholder="Elige tipo de estatus" ng-model="vm.requisito.status">
                        <md-option value="Confirmada">Confirmada</md-option>
                        <md-option value="No Confirmada">No Confirmada</md-option>
                        <md-option value="Cancelada">Cancelada</md-option>
                    </md-select>
                    <md-button ng-if="vm.isClient" ng-click="vm.buscarSolicitudes()" ng-class="guardar" aria-label="fab button"
                               class="md-fab md-primary md-raised">
                        <md-icon md-font-icon="fa fa-search"></md-icon>
                    </md-button-->
                    <md-button ng-if="!vm.isClient" ng-click="vm.busqueda()" ng-class="guardar" aria-label="fab button"
                               class="md-fab md-primary md-raised" ng-disabled="!vm.tipo_solicitud">
                        <md-icon md-font-icon="fa fa-search"></md-icon>
                    </md-button>
                </md-card-title-text>
            </md-card-title>


            <div ng-show="(vm.solicitudes!=null) && (vm.tipo_solicitud=='Envio'||vm.tipo_solicitud=='Recoleccion')">
                <md-card-title>
                <md-card-title-text>
                <h2  ng-show="vm.solicitudes!=null ">Solicitud de {{vm.tipo_solicitud}}</h2>
                </md-card-title-text>
                </md-card-title>
                <div layout="row" flex layout-padding layout-fill layout-align="center center" >
                    <div flex="100" flex-xs="100">
                        <!-- exact table from live demo ***********************************************************************-->
                        <md-card>
                            <div layout="row" layout-sm="column" layout-md="column">
                                <md-table-container>
                                    <table md-table="" md-row-select="" ng-model="vm.solicitudx">
                                        <thead md-head="" md-order="vm.query.order">
                                        <tr md-row="md-row">
                                            <th md-column="md-column" md-order-by="id"><span translate="">No. Solicitud</span>
                                            </th>
                                            <th md-column="md-column" md-order-by="udn"><span translate="">UDN</span>
                                                <!--vm.requisito. -->
                                            </th>
                                            <th md-column="md-column" md-order-by="fecha_inicio"><span translate="">Inicio</span>
                                            </th>
                                            <th md-column="md-column" md-order-by="fecha_termino"><span translate="">Fin</span>
                                            </th>
                                            <th md-column="md-column" md-order-by="tipo_solicitud"><span translate="">TIPO</span>
                                            </th>
                                            <th md-column="md-column" md-order-by="status"><span translate="">ESTATUS</span>
                                            </th>
                                            <th md-column="md-column" md-order-by="comentario"><span translate="">CANTIDAD</span>
                                            </th>
                                            <!-- Cuerpo de la tabla-->
                                        </tr>
                                        </thead>
                                        <tbody md-body="md-body">
                                        <tr md-row="md-row" md-select="requisito" md-select-id="{{solicitud.id}}"
                                            ng-repeat="solicitud in vm.solicitudes | orderBy:vm.query.order">
                                            <td md-cell="md-cell" >{{solicitud.id}}</td>
                                            <td md-cell="md-cell" >{{solicitud.udn}}</td>
                                            <td md-cell="md-cell" ng-click='vm.edit($event,solicitud,"fecha_inicio")'>{{solicitud.fecha_inicio}}</td>
                                            <td md-cell="md-cell" ng-click='vm.edit($event,solicitud,"fecha_termino")'>{{solicitud.fecha_termino}}</td>
                                            <td md-cell="md-cell" ng-click='vm.edit($event,solicitud,"tipo_solicitud")'>{{solicitud.tipo_solicitud}}</td>
                                            <td md-cell="md-cell" ng-click='vm.edit($event,solicitud,"status")'>{{solicitud.status}}</td>
                                            <td md-cell="md-cell" ng-click='vm.edit($event,solicitud,"comentario")'>{{solicitud.comentario}}</td>
                                            <td md-cell="md-cell" ng-click="$event.stopPropagation()"><!-- -->
                                                <md-button ng-click="vm.eliminarRequisito(solicitud)" class="md-fab md-warn md-mini">
                                                    <md-icon md-font-icon="fa fa-times-circle"></md-icon>
                                                </md-button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </md-table-container>
                            </div>
                        </md-card>
                    </div>
                </div>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="" class="md-raised md-primary">Guardar</md-button>
                    <md-button>Cancelar</md-button>
                </md-card-actions>
            </div>


            <div ng-show="(vm.solicitudes!=null) && (vm.tipo_solicitud=='Venta')">
                <md-card-title>
                    <md-card-title-text>
                        <h2  ng-show="vm.solicitudes!=null ">Solicitud de {{vm.tipo_solicitud}}</h2>
                    </md-card-title-text>
                </md-card-title>
                <div layout="row" flex layout-padding layout-fill layout-align="center center" >
                    <div flex="100" flex-xs="100">
                        <!-- exact table from live demo ***********************************************************************-->
                        <md-card>
                            <div layout="row" layout-sm="column" layout-md="column">
                                <md-table-container>
                                    <table md-table="" md-row-select="" ng-model="vm.solicitudx">
                                        <thead md-head="" md-order="vm.query.order">
                                        <tr md-row="md-row">
                                            <th md-column="md-column" md-order-by="id"><span translate="">No. Solicitud</span>
                                            </th>
                                            <th md-column="md-column" md-order-by="udn"><span translate="">UDN</span>
                                            </th>
                                            <th md-column="md-column" md-order-by="razon_social"><span translate="">RAZON_SOCIAL</span>
                                            </th>
                                            <th md-column="md-column" md-order-by="nombre_negocio"><span translate="">NOMBRE_NEGOCIO</span>
                                            </th>
                                            <th md-column="md-column" md-order-by="direccion"><span translate="">DIRECCIÓN</span>
                                            </th>
                                            <th md-column="md-column" md-order-by="telefono"><span translate="">TELEFONO</span>
                                            </th>
                                            <th md-column="md-column" md-order-by="contacto_negocio"><span translate="">CONTACTO_NEGOCIO</span>
                                            </th>
                                            <th md-column="md-column" md-order-by="fecha_atencion"><span translate="">FECHA_ATENCIÓN</span>
                                            </th>
                                            <!-- Cuerpo de la tabla-->
                                        </tr>
                                        </thead>
                                        <tbody md-body="md-body">
                                        <tr md-row="md-row" md-select="requisito" md-select-id="{{solicitud.id}}"
                                            ng-repeat="solicitudVenta in vm.solicitudesVentas | orderBy:vm.query.order">
                                            <td md-cell="md-cell" >{{solicitudVenta.id}}</td>
                                            <td md-cell="md-cell" >{{solicitudVenta.udn}}</td>
                                            <td md-cell="md-cell" ng-click='vm.edit($event,solicitudVenta,"razon_social")'>{{solicitudVenta.razon_social}}</td>
                                            <td md-cell="md-cell" ng-click='vm.edit($event,solicitudVenta,"nombre_negocio")'>{{solicitudVenta.nombre_negocio}}</td>
                                            <td md-cell="md-cell" ng-click='vm.edit($event,solicitudVenta,"direccion")'>{{solicitudVenta.direccion}}</td>
                                            <td md-cell="md-cell" ng-click='vm.edit($event,solicitudVenta,"telefono")'>{{solicitudVenta.telefono}}</td>
                                            <td md-cell="md-cell" ng-click='vm.edit($event,solicitudVenta,"contacto_negocio")'>{{solicitudVenta.contacto_negocio}}</td>
                                            <td md-cell="md-cell" ng-click='vm.edit($event,solicitudVenta,"fecha_atencion")'>{{solicitudVenta.fecha_atencion}}</td>
                                            <td md-cell="md-cell" ng-click="$event.stopPropagation()"><!-- -->
                                                <md-button ng-click="vm.eliminarRequisito(solicitud)" class="md-fab md-warn md-mini">
                                                    <md-icon md-font-icon="fa fa-times-circle"></md-icon>
                                                </md-button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </md-table-container>
                            </div>
                        </md-card>
                    </div>
                </div>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="" class="md-raised md-primary">Guardar</md-button>
                    <md-button>Cancelar</md-button>
                </md-card-actions>
            </div>
        </md-card>

        <!--md-toolbar class="md-table-toolbar md-default">
            <div class="md-toolbar-tools">
                <span>Nutrition</span>
            </div>
        </md-toolbar-->

    </div>
</div>
<!-- opc 1-->



