<!--
Created by lockonDaniel on 5/13/16.
-->
<div flex="flex" layout="row">
    <md-card flex="flex" layout="column" layout-align="center center" layout-wrap="layout-wrap" layout-margin="layout-margin">
        <md-card-content>
            <h1 class="md-display-2">Formulario de captura de Recibo</h1>
            <md-autocomplete ng-disabled="vm.isDisabled" md-no-cache="vm.noCache" md-selected-item="vm.meta_cliente" md-search-text-change="vm.searchTextChange(vm.searchText)" md-search-text="vm.searchText" md-selected-item-change="vm.selectedItemChange(item)" md-items="item in vm.meta_clientes" md-item-text="item.nombre" md-min-length="3" md-floating-label="Ingresa el nombre del cliente" md-menu-class="autocomplete-custom-template"><span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.nombre}}</span>
                <md-item-template><span class="item-title">
            <ng-md-icon icon="person"></ng-md-icon><span>&nbsp; {{item.nombre}}</span></span><span class="item-metadata"><span class="item-metastat"><strong>&nbsp; - {{item.razon_social| cut:false:50:'...'}}</strong></span></span></md-item-template>
                <md-not-found><span>No se encontraron resultados</span></md-not-found>
            </md-autocomplete>
            <div layout-align="column" ng-show="vm.meta_cliente!=null">
                <md-input-container flex="flex" class="md-block">
                    <label>Selecciona un número de servicio</label>
                    <md-select ng-model="vm.client" md-on-close="vm.changeCliente()">
                        <md-option ng-repeat="cliente in vm.clientes" ng-value="cliente"><span>{{cliente.numero_servicio}}</span></md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout-align="column">
                <md-input-container ng-show="vm.recibos.length&gt;0" class="md-block">
                    <label>Fecha de pago (deja en blanco para registrar)</label>
                    <md-select ng-model="vm.selectedRecibo" md-on-close="vm.changeRecibo()">
                        <md-option ng-repeat="recibo in vm.recibos" ng-value="recibo">{{recibo.fecha_pago | amDateFormat:'DD-MM-YYYY'}}</md-option>
                    </md-select>
                </md-input-container>
                <v-accordion ng-if="vm.client!=null" class="vAccordion--default">
                    <v-pane>
                        <v-pane-header>Información general</v-pane-header>
                        <v-pane-content>
                            <form name="reciboForm" ng-show="vm.client!=null" novalidate="novalidate">
                                <md-input-container class="md-block">
                                    <label>Total de pago $</label>
                                    <input ng-model="vm.selectedRecibo.total_pago" name="total_pago" ng-required="true" ng-pattern="/^-?\d*.?\d+$/"/>
                                    <div ng-messages="reciboForm.total_pago.$error">
                                        <div ng-message="pattern">El pago debe de ser una cantidad numérica</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Ruta</label>
                                    <input ng-model="vm.selectedRecibo.ruta" name="ruta" ng-required="true" ng-pattern="/^[0-9A-Z]{16}$/" minlength="16" maxlength="16"/>
                                    <div ng-messages="reciboForm.ruta.$error">
                                        <div ng-message="pattern">La ruta debe de ser de 16 caracteres</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Carga Conectada (KW)</label>
                                    <input type="number" ng-model="vm.selectedRecibo.carga_conectada" name="carga_conectada" ng-required="true" ng-pattern="/^\d+$/"/>
                                    <div ng-messages="reciboForm.carga_conectada.$error">
                                        <div ng-message="pattern">El multiplicador debe de ser una cantidad positiva</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Tarifa</label>
                                    <input ng-model="vm.selectedRecibo.tarifa" name="tarifa" ng-required="true" ng-pattern="/^[a-zA-Z0-9]{0,5}$/"/>
                                    <div ng-messages="reciboForm.tarifa.$error">
                                        <div ng-message="pattern">La tarifa está entre 2 y 5 caracteres</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Multiplicador</label>
                                    <input ng-model="vm.selectedRecibo.multiplicador" name="multiplicador" ng-required="true" ng-pattern="/^\d+$/"/>
                                    <div ng-messages="reciboForm.multiplicador.$error">
                                        <div ng-message="pattern">El multiplicador debe de ser una cantidad positiva</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Demanda Contratada</label>
                                    <input ng-model="vm.selectedRecibo.demanda_contratada" name="demanda_contratada" ng-required="true" ng-pattern="/^\d+$/"/>
                                    <div ng-messages="reciboForm.demanda_contratada.$error">
                                        <div ng-message="pattern">La demanda debe de ser una cantidad positiva</div>
                                    </div>
                                </md-input-container>
                                <div layout-lt-md="column" class="md-inline-form">
                                    <div flex="flex" layout-gt-xs="row" layout-xs="column" layout-align="center center"><span>Fecha de Pago</span>
                                        <md-datepicker ng-required="true" ng-model="vm.selectedRecibo.fecha_pago" md-placeholder="Tiempo"></md-datepicker>
                                    </div>
                                    <div flex="flex" layout-gt-xs="row" layout-xs="column" layout-align="center center"><span>Periodo de Inicio</span>
                                        <md-datepicker ng-required="true" ng-model="vm.selectedRecibo.periodo_inicio" md-placeholder="Fecha"></md-datepicker>
                                    </div>
                                    <div flex="flex" layout-gt-xs="row" layout-xs="column" layout-align="center center"><span>Periodo de Término</span>
                                        <md-datepicker ng-required="true" ng-model="vm.selectedRecibo.periodo_termino" md-placeholder="Fecha"></md-datepicker>
                                    </div>
                                </div>
                            </form>
                        </v-pane-content>
                    </v-pane>
                    <v-pane ng-if="vm.selectedRecibo.id!=null">
                        <v-pane-header>Estado de cuenta</v-pane-header>
                        <v-pane-content>
                            <form name="reciboCuentaForm">
                                <md-input-container class="md-block">
                                    <label>Energia</label>
                                    <input ng-model="vm.selectedRecibo.estado_cuenta.energia" name="energia" ng-pattern="/^-?\d*.?\d+$/"/>
                                    <div ng-messages="reciboCuentaForm.energia.$error">
                                        <div ng-message="pattern">El pago debe de ser una cantidad numérica</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Demanda Facturable</label>
                                    <input ng-model="vm.selectedRecibo.estado_cuenta.demanda_facturable" name="demanda_facturable" ng-pattern="/^-?\d*.?\d+$/"/>
                                    <div ng-messages="reciboCuentaForm.demanda_facturable.$error">
                                        <div ng-message="pattern">El pago debe de ser una cantidad numérica</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Demanda Máxima</label>
                                    <input ng-model="vm.selectedRecibo.estado_cuenta.demanda_max" name="demanda_max" ng-pattern="/^-?\d*.?\d+$/"/>
                                    <div ng-messages="reciboCuentaForm.demanda_max.$error">
                                        <div ng-message="pattern">El pago debe de ser una cantidad numérica</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Baja tensión</label>
                                    <input ng-model="vm.selectedRecibo.estado_cuenta.baja_tension" name="baja_tension" ng-pattern="/^-?\d*.?\d+$/"/>
                                    <div ng-messages="reciboCuentaForm.baja_tension.$error">
                                        <div ng-message="pattern">El pago debe de ser una cantidad numérica</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Cargo factor de potencia</label>
                                    <input ng-model="vm.selectedRecibo.estado_cuenta.cargo_factor_potencia" name="cargo_factor_potencia" ng-pattern="/^-?\d*.?\d+$/"/>
                                    <div ng-messages="reciboCuentaForm.cargo_factor_potencia.$error">
                                        <div ng-message="pattern">El pago debe de ser una cantidad numérica</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Subtotal</label>
                                    <input ng-model="vm.selectedRecibo.estado_cuenta.subtotal" name="subtotal" ng-pattern="/^-?\d*.?\d+$/"/>
                                    <div ng-messages="reciboCuentaForm.subtotal.$error">
                                        <div ng-message="pattern">El pago debe de ser una cantidad numérica</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>IVA</label>
                                    <input ng-model="vm.selectedRecibo.estado_cuenta.iva" name="iva" ng-pattern="/^-?\d*.?\d+$/"/>
                                    <div ng-messages="reciboCuentaForm.iva.$error">
                                        <div ng-message="pattern">El pago debe de ser una cantidad numérica</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Facturación del Periodo</label>
                                    <input ng-model="vm.selectedRecibo.estado_cuenta.facturacion_periodo" name="facturacion_periodo" ng-pattern="/^-?\d*.?\d+$/"/>
                                    <div ng-messages="reciboCuentaForm.facturacion_periodo.$error">
                                        <div ng-message="pattern">El pago debe de ser una cantidad numérica</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Adeudo Anterior</label>
                                    <input ng-model="vm.selectedRecibo.estado_cuenta.adeudo_anterior" name="adeudo_anterior" ng-pattern="/^-?\d*.?\d+$/"/>
                                    <div ng-messages="reciboCuentaForm.adeudo_anterior.$error">
                                        <div ng-message="pattern">El pago debe de ser una cantidad numérica</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Diferencia Redondeo</label>
                                    <input ng-model="vm.selectedRecibo.estado_cuenta.diferencia_redondeo" name="diferencia_redondeo" ng-pattern="/^-?\d*.?\d+$/"/>
                                    <div ng-messages="reciboCuentaForm.diferencia_redondeo.$error">
                                        <div ng-message="pattern">El pago debe de ser una cantidad numérica</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Su Pago</label>
                                    <input ng-model="vm.selectedRecibo.estado_cuenta.pago" name="pago" ng-pattern="/^-?\d*.?\d+$/"/>
                                    <div ng-messages="reciboCuentaForm.pago.$error">
                                        <div ng-message="pattern">El pago debe de ser una cantidad numérica</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Total</label>
                                    <input ng-model="vm.selectedRecibo.estado_cuenta.total" name="total" ng-pattern="/^-?\d*.?\d+$/"/>
                                    <div ng-messages="reciboCuentaForm.total.$error">
                                        <div ng-message="pattern">El pago debe de ser una cantidad numérica</div>
                                    </div>
                                </md-input-container>
                                <div ng-if="vm.selectedRecibo.id!=null" flex="flex" layout="column">
                                    <md-button flex="flex" type="submit" ng-click="vm.submitEstadoCuenta()" class="md-raised md-primary">Enviar Estado de Cuenta</md-button>
                                </div>
                            </form>
                        </v-pane-content>
                    </v-pane>
                    <v-pane ng-if="vm.selectedRecibo.id!=null">
                        <v-pane-header>Funciones</v-pane-header>
                        <v-pane-content>
                            <md-toolbar class="md-table-toolbar md-default">
                                <div class="md-toolbar-tools"><span>Herramientas</span>
                                    <div flex="flex"></div>
                                    <md-button ng-click="vm.showCreateDialog($event,&quot;Funcion&quot;)" class="md-icon-button">
                                        <ng-md-icon icon="my_library_add" size="24"></ng-md-icon>
                                    </md-button>
                                </div>
                            </md-toolbar>
                            <md-table-container>
                                <table md-table="md-table" ng-model="vm.selectedRecibo.funciones">
                                    <thead md-head="md-head" md-order="vm.query.order">
                                    <tr md-row="md-row">
                                        <th md-column="md-column" md-order-by="funcion">Funcion</th>
                                        <th md-column="md-column" md-numeric="md-numeric" md-order-by="lectura_actual">Lectura Actual</th>
                                        <th md-column="md-column" md-numeric="md-numeric" md-order-by="lectura_anterior">Lectura Anterior</th>
                                        <th md-column="md-column" md-numeric="md-numeric" md-order-by="diferencia">Diferencia</th>
                                        <th md-column="md-column" md-numeric="md-numeric" md-order-by="totales">Totales</th>
                                    </tr>
                                    </thead>
                                    <tbody md-body="md-body">
                                    <tr md-row="md-row" ng-repeat="funcion in vm.selectedRecibo.funciones">
                                        <td md-cell="md-cell">
                                            <md-input-container>
                                                <md-select ng-model="funcion.funcion" md-on-close="vm.updateObject(funcion, &quot;Funcion&quot;)">
                                                    <md-option ng-repeat="option in vm.options" ng-value="option.value">{{option.value}}</md-option>
                                                </md-select>
                                            </md-input-container>
                                        </td>
                                        <td md-cell="md-cell" ng-click="vm.edit($event,funcion,&quot;lectura_actual&quot;,&quot;Funcion&quot; )">{{funcion.lectura_actual | number}}</td>
                                        <td md-cell="md-cell" ng-click="vm.edit($event,funcion,&quot;lectura_anterior&quot;,&quot;Funcion&quot; )">{{funcion.lectura_anterior | number}}</td>
                                        <td md-cell="md-cell">{{funcion.diferencia | number}}</td>
                                        <td md-cell="md-cell" ng-click="vm.edit($event,funcion,&quot;totales&quot;,&quot;Funcion&quot; )">{{funcion.totales | number}}</td>
                                        <td md-cell="md-cell">
                                            <md-button ng-click="vm.destroyObject(funcion,&quot;Funcion&quot;)" class="md-fab md-mini md-warn">
                                                <ng-md-icon icon="delete_forever"></ng-md-icon>
                                            </md-button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </md-table-container>
                        </v-pane-content>
                    </v-pane>
                    <v-pane ng-if="vm.selectedRecibo.id!=null">
                        <v-pane-header>Conceptos</v-pane-header>
                        <v-pane-content>
                            <md-toolbar class="md-table-toolbar md-default">
                                <div class="md-toolbar-tools"><span>Herramientas</span>
                                    <div flex="flex"></div>
                                    <md-button ng-click="vm.showCreateDialog($event,&quot;Concepto&quot;)" class="md-icon-button">
                                        <ng-md-icon icon="my_library_add" size="24"></ng-md-icon>
                                    </md-button>
                                </div>
                            </md-toolbar>
                            <md-table-container>
                                <table md-table="md-table" ng-model="vm.selectedRecibo.conceptos">
                                    <thead md-head="md-head" md-order="vm.query.order">
                                    <tr md-row="md-row">
                                        <th md-column="md-column" md-order-by="concepto">Concepto</th>
                                        <th md-column="md-column" md-numeric="md-numeric" md-order-by="totales">Totales</th>
                                        <th md-column="md-column" md-numeric="md-numeric" md-order-by="precio_unitario">Precio Unitario</th>
                                    </tr>
                                    </thead>
                                    <tbody md-body="md-body">
                                    <tr md-row="md-row" ng-repeat="concepto in vm.selectedRecibo.conceptos">
                                        <td md-cell="md-cell">
                                            <md-input-container>
                                                <md-select ng-model="concepto.concepto" md-on-close="vm.updateObject(concepto,&quot;Concepto&quot;)">
                                                    <md-option ng-repeat="option in vm.conceptoOptions" ng-value="option.value">{{option.value}}</md-option>
                                                </md-select>
                                            </md-input-container>
                                        </td>
                                        <td md-cell="md-cell" ng-click="vm.edit($event,concepto,&quot;totales&quot;, &quot;Concepto&quot;)">{{concepto.totales | number}}</td>
                                        <td md-cell="md-cell" ng-click="vm.edit($event,concepto,&quot;precio_unitario&quot;, &quot;Concepto&quot; )">{{concepto.precio_unitario | number}}</td>
                                        <td md-cell="md-cell">
                                            <md-button ng-click="vm.destroyObject(concepto, &quot;Concepto&quot;)" class="md-fab md-mini md-warn">
                                                <ng-md-icon icon="delete_forever"></ng-md-icon>
                                            </md-button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </md-table-container>
                        </v-pane-content>
                    </v-pane>
                    <v-pane ng-if="vm.selectedRecibo.id!=null">
                        <v-pane-header>Histórico</v-pane-header>
                        <v-pane-content>
                            <md-toolbar class="md-table-toolbar md-default">
                                <div class="md-toolbar-tools"><span>Herramientas</span>
                                    <div flex="flex"></div>
                                    <md-button ng-click="vm.showCreateDialog($event,&quot;Historico&quot;)" class="md-icon-button">
                                        <ng-md-icon icon="my_library_add" size="24"></ng-md-icon>
                                    </md-button>
                                </div>
                            </md-toolbar>
                            <md-table-container>
                                <table md-table="md-table" ng-model="vm.selectedRecibo.historico">
                                    <thead md-head="md-head" md-order="vm.query.order">
                                    <tr md-row="md-row">
                                        <th md-column="md-column" md-order-by="fecha">Fecha</th>
                                        <th md-column="md-column" md-numeric="md-numeric" md-order-by="demanda_maxima">Demanda Máxima</th>
                                        <th md-column="md-column" md-numeric="md-numeric" md-order-by="consumo_total">Consumo Total</th>
                                        <th md-column="md-column" md-numeric="md-numeric" md-order-by="factor_potencia">F.P</th>
                                        <th md-column="md-column" md-numeric="md-numeric" md-order-by="factor_carga">F.C</th>
                                        <th md-column="md-column" md-numeric="md-numeric" md-order-by="precio_medio">Precio Medio</th>
                                    </tr>
                                    </thead>
                                    <tbody md-body="md-body">
                                    <tr md-row="md-row" ng-repeat="registro in vm.selectedRecibo.historico">
                                        <td md-cell="md-cell">
                                            <md-datepicker ng-change="vm.updateDate(registro)" ng-keyup="$event.keyCode == 13 ? vm.updateDatedObject(registro,'Historico'): false" ng-model="registro.fecha" md-placeholder="Fecha" class="table-date"></md-datepicker>
                                        </td>
                                        <td md-cell="md-cell" ng-click="vm.editDatedObject($event,registro,&quot;demanda_maxima&quot;, &quot;Historico&quot;)">{{registro.demanda_maxima | number }}</td>
                                        <td md-cell="md-cell" ng-click="vm.editDatedObject($event,registro,&quot;consumo_total&quot;, &quot;Historico&quot;)">{{registro.consumo_total | number }}</td>
                                        <td md-cell="md-cell" ng-click="vm.editDatedObject($event,registro,&quot;factor_potencia&quot;, &quot;Historico&quot;)">{{registro.factor_potencia | number }}</td>
                                        <td md-cell="md-cell" ng-click="vm.editDatedObject($event,registro,&quot;factor_carga&quot;, &quot;Historico&quot;)">{{registro.factor_carga | number }}</td>
                                        <td md-cell="md-cell" ng-click="vm.editDatedObject($event,registro,&quot;precio_medio&quot;, &quot;Historico&quot;)">{{registro.precio_medio | number }}</td>
                                        <td md-cell="md-cell">
                                            <md-button ng-click="vm.destroyObject(registro, &quot;Historico&quot;)" class="md-fab md-mini md-warn">
                                                <ng-md-icon icon="delete_forever"></ng-md-icon>
                                            </md-button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </md-table-container>
                        </v-pane-content>
                    </v-pane>
                    <v-pane ng-if="vm.selectedRecibo.id!=null">
                        <v-pane-header>Consumos</v-pane-header>
                        <v-pane-content>
                            <md-toolbar class="md-table-toolbar md-default">
                                <div class="md-toolbar-tools"><span>Herramientas</span>
                                    <div flex="flex"></div>
                                    <md-button ng-click="vm.showCreateDialog($event,&quot;Consumo&quot;)" class="md-icon-button">
                                        <ng-md-icon icon="my_library_add" size="24"></ng-md-icon>
                                    </md-button>
                                </div>
                            </md-toolbar>
                            <md-table-container>
                                <table md-table="md-table" ng-model="vm.selectedRecibo.consumos">
                                    <thead md-head="md-head" md-order="vm.query.order">
                                    <tr md-row="md-row">
                                        <th md-column="md-column" md-order-by="fecha">Fecha</th>
                                        <th md-column="md-column" md-numeric="md-numeric" md-order-by="dias_mes">Días de Mes</th>
                                        <th md-column="md-column" md-numeric="md-numeric" md-order-by="consumo_promedio">Consumo Promedio</th>
                                        <th md-column="md-column" md-numeric="md-numeric" md-order-by="energia_kwh">Energia (kWh)</th>
                                        <th md-column="md-column" md-numeric="md-numeric" md-order-by="precio_kwh">Precio (kWH)</th>
                                        <th md-column="md-column" md-numeric="md-numeric" md-order-by="importe">Importe</th>
                                    </tr>
                                    </thead>
                                    <tbody md-body="md-body">
                                    <tr md-row="md-row" ng-repeat="registro in vm.selectedRecibo.consumos">
                                        <td md-cell="md-cell">
                                            <md-datepicker ng-change="vm.updateDate(registro)" ng-keyup="$event.keyCode == 13 ? vm.updateDatedObject(registro,'Consumo'): false" ng-model="registro.fecha" md-placeholder="Fecha" class="table-date"></md-datepicker>
                                        </td>
                                        <td md-cell="md-cell" ng-click="vm.editDatedObject($event,registro,&quot;dias_mes&quot;, &quot;Consumo&quot;)">{{registro.dias_mes | number}}</td>
                                        <td md-cell="md-cell" ng-click="vm.editDatedObject($event,registro,&quot;consumo_promedio&quot;, &quot;Consumo&quot;)">{{registro.consumo_promedio | number}}</td>
                                        <td md-cell="md-cell" ng-click="vm.editDatedObject($event,registro,&quot;energia_kwh&quot;, &quot;Consumo&quot;)">{{registro.energia_kwh | number}}</td>
                                        <td md-cell="md-cell" ng-click="vm.editDatedObject($event,registro,&quot;precio_kwh&quot;, &quot;Consumo&quot;)">{{registro.precio_kwh | number}}</td>
                                        <td md-cell="md-cell" ng-click="vm.editDatedObject($event,registro,&quot;importe&quot;, &quot;Consumo&quot;)">{{registro.importe | number}}</td>
                                        <td md-cell="md-cell">
                                            <md-button ng-click="vm.destroyObject(registro, &quot;Consumo&quot;)" class="md-fab md-mini md-warn">
                                                <ng-md-icon icon="delete_forever"></ng-md-icon>
                                            </md-button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </md-table-container>
                        </v-pane-content>
                    </v-pane>
                    <v-pane ng-if="vm.selectedRecibo.id!=null">
                        <v-pane-header>Factores</v-pane-header>
                        <v-pane-content>
                            <md-toolbar class="md-table-toolbar md-default">
                                <div class="md-toolbar-tools"><span>Herramientas</span>
                                    <div flex="flex"></div>
                                    <md-button ng-click="vm.showCreateDialog($event,&quot;Factor&quot;)" class="md-icon-button">
                                        <ng-md-icon icon="my_library_add" size="24"></ng-md-icon>
                                    </md-button>
                                </div>
                            </md-toolbar>
                            <md-table-container>
                                <table md-table="md-table" ng-model="vm.selectedRecibo.factores">
                                    <thead md-head="md-head" md-order="vm.query.order">
                                    <tr md-row="md-row">
                                        <th md-column="md-column" md-order-by="fecha">Fecha</th>
                                        <th md-column="md-column" md-numeric="md-numeric" md-order-by="factor_proporcion">Factor de Proporción</th>
                                        <th md-column="md-column" md-numeric="md-numeric" md-order-by="demanda_max_kwh">Demanda Máxima (kWh)</th>
                                        <th md-column="md-column" md-numeric="md-numeric" md-order-by="precio_kwh">Precio (kWH)</th>
                                        <th md-column="md-column" md-numeric="md-numeric" md-order-by="importe">Importe</th>
                                        <th md-column="md-column" md-numeric="md-numeric" md-order-by="factor_potencia">Factor Potencia</th>
                                    </tr>
                                    </thead>
                                    <tbody md-body="md-body">
                                    <tr md-row="md-row" ng-repeat="registro in vm.selectedRecibo.factores">
                                        <td md-cell="md-cell">
                                            <md-datepicker ng-change="vm.updateDate(registro)" ng-keyup="$event.keyCode == 13 ? vm.updateDatedObject(registro,'Factor'): false" ng-model="registro.fecha" md-placeholder="Fecha" class="table-date"></md-datepicker>
                                        </td>
                                        <td md-cell="md-cell" ng-click="vm.editDatedObject($event,registro,&quot;factor_proporcion&quot;, &quot;Factor&quot;)">{{registro.factor_proporcion | number}}</td>
                                        <td md-cell="md-cell" ng-click="vm.editDatedObject($event,registro,&quot;demanda_max_kwh&quot;, &quot;Factor&quot;)">{{registro.demanda_max_kwh | number}}</td>
                                        <td md-cell="md-cell" ng-click="vm.editDatedObject($event,registro,&quot;precio_kwh&quot;, &quot;Factor&quot;)">{{registro.precio_kwh | number}}</td>
                                        <td md-cell="md-cell" ng-click="vm.editDatedObject($event,registro,&quot;importe&quot;, &quot;Factor&quot;)">{{registro.importe | number}}</td>
                                        <td md-cell="md-cell" ng-click="vm.editDatedObject($event,registro,&quot;factor_potencia&quot;, &quot;Factor&quot;)">{{registro.factor_potencia | number}}</td>
                                        <td md-cell="md-cell">
                                            <md-button ng-click="vm.destroyObject(registro, &quot;Factor&quot;)" class="md-fab md-mini md-warn">
                                                <ng-md-icon icon="delete_forever"></ng-md-icon>
                                            </md-button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </md-table-container>
                        </v-pane-content>
                    </v-pane>
                </v-accordion>
                <div layout="column" layout-gt-md="row" ng-show="vm.client!=null">
                    <md-button flex="flex" ng-disabled="vm.selectedRecibo==null" ng-click="vm.selectedRecibo=null" class="md-raised md-primary">{{vm.selectedRecibo.id!=null? 'Dejar de editar' : 'Limpiar campos'}}</md-button>
                    <md-button flex="flex" type="submit" ng-disabled="reciboForm.$invalid" ng-click="vm.submit()" class="md-raised md-primary">{{vm.selectedRecibo.id!=null? 'Actualizar' : 'Nuevo'}}</md-button>
                    <md-button flex="flex" ng-disabled="vm.selectedRecibo.id==null" ng-click="vm.showDeleteDialog($event)" class="md-raised md-warn">Eliminar</md-button>
                </div>
            </div>
            <v-accordion class="vAccordion--default" multiple>

                <!-- add expanded attribute to open the section -->
                <v-pane expanded>
                    <v-pane-header>
                        Pane header #1
                    </v-pane-header>

                    <v-pane-content>
                        Pane content #1
                    </v-pane-content>
                </v-pane>

                <v-pane disabled>
                    <v-pane-header>
                        Pane header #2
                    </v-pane-header>

                    <v-pane-content>
                        Pane content #2
                    </v-pane-content>
                </v-pane>

            </v-accordion>
        </md-card-content>
    </md-card>

</div>

