<md-content laout="column" flex ng-controller="nutritionController">

    <md-card>
        <md-table-container>
            <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">

                <tbody md-body>
                <tr md-row md-select="dessert" md-on-select="logItem" md-auto-select="options.autoSelect" ng-disabled="dessert.calories.value > 400" ng-repeat="dessert in desserts.data | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                    <td md-cell>{{dessert.name}}</td>
                    <td md-cell>
                        <md-select ng-model="dessert.type" placeholder="Other">
                            <md-option ng-value="type" ng-repeat="type in getTypes()">{{type}}</md-option>
                        </md-select>
                    </td>

                    <td md-cell ng-click="editComment($event, dessert)" ng-class="{'md-placeholder': !dessert.comment}">
                        {{dessert.comment || 'Add a comment'}}
                    </td>
                </tr>
                </tbody>
            </table>
        </md-table-container>

        <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{desserts.count}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
    </md-card>
</md-content>
<script>
    angular.module('demoApp', ['ngMaterial', 'md.data.table'])

            .config(['$mdThemingProvider', function ($mdThemingProvider) {
                'use strict';

                $mdThemingProvider.theme('default')
                        .primaryPalette('blue');
            }])

            .controller('nutritionController', ['$mdEditDialog', '$q', '$scope', '$timeout', function ($mdEditDialog, $q, $scope, $timeout) {
                'use strict';

                $scope.selected = [];
                $scope.limitOptions = [5, 10, 15];

                $scope.options = {
                    rowSelection: true,
                    multiSelect: true,
                    autoSelect: true,
                    decapitate: false,
                    largeEditDialog: false,
                    boundaryLinks: false,
                    limitSelect: true,
                    pageSelect: true
                };

                $scope.query = {
                    order: 'name',
                    limit: 5,
                    page: 1
                };

                $scope.desserts = {
                    "count": 9,
                    "data": [
                        {
                            "name": "Frozen yogurt",
                            "type": "Ice cream",
                            "calories": { "value": 159.0 },
                            "fat": { "value": 6.0 },
                            "carbs": { "value": 24.0 },
                            "protein": { "value": 4.0 },
                            "sodium": { "value": 87.0 },
                            "calcium": { "value": 14.0 },
                            "iron": { "value": 1.0 }
                        }, {
                            "name": "Ice cream sandwich",
                            "type": "Ice cream",
                            "calories": { "value": 237.0 },
                            "fat": { "value": 9.0 },
                            "carbs": { "value": 37.0 },
                            "protein": { "value": 4.3 },
                            "sodium": { "value": 129.0 },
                            "calcium": { "value": 8.0 },
                            "iron": { "value": 1.0 }
                        }
                    ]
                };

                $scope.editComment = function (event, dessert) {
                    event.stopPropagation(); // in case autoselect is enabled

                    var editDialog = {
                        modelValue: dessert.comment,
                        placeholder: 'Add a comment',
                        save: function (input) {
                            if(input.$modelValue === 'Donald Trump') {
                                input.$invalid = true;
                                return $q.reject();
                            }
                            if(input.$modelValue === 'Bernie Sanders') {
                                return dessert.comment = 'FEEL THE BERN!'
                            }
                            dessert.comment = input.$modelValue;
                        },
                        targetEvent: event,
                        title: 'Add a comment',
                        validators: {
                            'md-maxlength': 30
                        }
                    };

                    var promise;

                    if($scope.options.largeEditDialog) {
                        promise = $mdEditDialog.large(editDialog);
                    } else {
                        promise = $mdEditDialog.small(editDialog);
                    }

                    promise.then(function (ctrl) {
                        var input = ctrl.getInput();

                        input.$viewChangeListeners.push(function () {
                            input.$setValidity('test', input.$modelValue !== 'test');
                        });
                    });
                };


                $scope.getTypes = function () {
                    return ['Candy', 'Ice cream', 'Other', 'Pastry'];
                };

                $scope.logPagination = function (page, limit) {
                    console.log('page: ', page);
                    console.log('limit: ', limit);
                }
            }]);
</script>