<div layout="row" flex layout-padding layout-fill layout-align="center center">
    <div flex="70" flex-xs="100">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <div>
                        <h2>Crear Solicitud</h2>
                        <md-select placeholder="Elige la UDN" ng-model="vm.udn">
                            <md-option ng-value="udn.id" ng-repeat='udn in vm.udns'>{{udn.zona}}</md-option>
                            <!--md-option value="1">UDN_1</md-option>
                            <md-option value="2">UDN_2</md-option>
                            <md-option value="3">UDN_3</md-option-->
                        </md-select>

                        <md-select placeholder="Elige tipo de solicitud" ng-model="vm.requisito.tipo_solicitud">
                            <md-option value="Envio">Solicitud de envió</md-option>
                            <md-option value="Recoleccion">Solicitud de recolección</md-option>
                            <md-option value="3">Solicitud de punto de venta</md-option>
                        </md-select>

                        <!-- if estatus es igual a confirmado o cancelado no se puede modificar fecha atendida

                        <div ng-if="vm.isClient">
                            hola
                            <!--clientTest 1234567a >
                        </div-->
                        <!-- -->



                        <!-- opc 1 Solicitud de Envio-->
                        <div ng-show="vm.requisito.tipo_solicitud=='Envio'||vm.requisito.tipo_solicitud=='Recoleccion'">

                            <md-select ng-if="!vm.isClient" placeholder="Elige tipo de estatus" ng-model="vm.requisito.status">
                                <md-option value="Confirmada">Confirmada</md-option>
                                <md-option value="No Confirmada">No Confirmada</md-option>
                                <md-option value="Cancelada">Cancelada</md-option>
                            </md-select>

                            <md-input-container class="md-block">
                                <label>Descripción</label>
                                <textarea ng-model="vm.requisito.descripcion" md-maxlength="100"></textarea>
                            </md-input-container>

                            <div class="margin-bottom-20" layout="row" layout-align="space-around center">
                                <p>Fecha de inicio</p>

                                <p>Fecha de Termino</p>

                                <p ng-if="!vm.isClient">Fecha atendida</p>
                            </div>
                            <div class="margin-bottom-20" layout="row" layout-align="space-around center">
                                <md-datepicker ng-model="vm.requisito.fecha_inicio" md-placeholder="Enter date"></md-datepicker>
                                <md-datepicker ng-model="vm.requisito.fecha_termino" md-placeholder="Enter date"></md-datepicker>
                                <md-datepicker ng-if="!vm.isClient" ng-model="vm.requisito.fecha_atendida" md-placeholder="Enter date"></md-datepicker>
                            </div>

                            <v-accordion class="vAccordion--default" multiple>

                                <!-- add expanded attribute to open the section -->
                                <v-pane expanded>

                                    <v-pane-header>
                                        Tipo de Equipo
                                    </v-pane-header>

                                    <v-pane-content >
                                        <md-toolbar class="md-table-toolbar md-default">
                                            <div class="md-toolbar-tools"><span>Información</span>
                                                <div flex="flex"></div>
                                                <md-button ng-click="vm.showCreateDialog($event)" class="md-icon-button">
                                                    <ng-md-icon icon="local_hospital" size="24"></ng-md-icon>
                                                </md-button>
                                            </div>
                                        </md-toolbar>
                                        <md-table-container>
                                            <table md-table="" md-row-select="" >
                                                <thead md-head="" md-order="vm.query.order">
                                                <tr md-row="md-row">
                                                    <th md-column="md-column" md-order-by="cantidad"><span translate="">Cantidad</span><!--vm.requisito. -->
                                                    </th>
                                                    <th md-column="md-column" md-order-by="status_equipo"><span translate="">Estatus</span>
                                                    </th>
                                                    <th md-column="md-column" md-order-by="fecha_termino"><span translate="">Tipo</span>
                                                    </th>
                                                    <!-- Cuerpo de la tabla-->
                                                </tr>
                                                </thead>
                                                <tbody md-body="md-body">
                                                <tr md-row="md-row" md-select="dato" md-select-id="{{dato.id}}"
                                                    ng-repeat="dato in vm.requisito.datos | orderBy:vm.query.order">
                                                    <td md-cell="md-cell" ng-click='vm.edit($event,dato,"cantidad")'>{{dato.cantidad}}</td>
                                                    <td md-cell="md-cell" ng-click='vm.edit($event,dato,"status_equipo")'>{{dato.status_equipo}}</td>
                                                    <td md-cell="md-cell" ng-click='vm.edit($event,dato,"tipo_equipo")'>{{dato.tipo_equipo}}</td>
                                                    <!--md-select ng-model="dessert.type" placeholder="Other">
                                                        <md-option ng-value="type" ng-repeat="type in getTypes()">{{type}}</md-option>
                                                    </md-select-->
                                                    <td md-cell="md-cell" ng-click="$event.stopPropagation()"><!-- -->
                                                        <md-button ng-click="vm.eliminarDato(dato)" class="md-fab md-warn md-mini">
                                                            <md-icon md-font-icon="fa fa-times-circle"></md-icon>
                                                        </md-button>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </md-table-container>
                                    </v-pane-content>
                                </v-pane>

                            </v-accordion>
                            <md-input-container class="md-block">
                                <label>Comentario</label>
                                <textarea ng-model="vm.requisito.comentario" md-maxlength="100"></textarea>
                            </md-input-container>

                            <md-card-actions layout="row" layout-align="end center">
                                <md-button ng-click="vm.guardarSolicitud()" class="md-raised md-primary">Guardar</md-button>
                                <md-button>Cancelar</md-button>
                            </md-card-actions>

                        </div>
                        <!-- opc 2-->


                        <!-- opc 3-->
                        <div ng-show="vm.requisito.tipo_solicitud==3">
                            <h3>Solicitud de punto de venta</h3>
                            <div class="margin-bottom-20" layout="row" layout-align="space-around center">
                                <p>Fecha de Atencion</p>
                            </div>
                            <div class="margin-bottom-20" layout="row" layout-align="space-around center">
                                <md-datepicker ng-model="vm.requisitoVenta.fecha_atencion" md-placeholder="Enter date"></md-datepicker>
                            </div>
                            <md-input-container class="md-block">
                                <label>Razon social</label>
                                <textarea ng-model="vm.requisitoVenta.razon_social"></textarea>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Nombre del negocio</label>
                                <textarea ng-model="vm.requisitoVenta.nombre_negocio"></textarea>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Dirección</label>
                                <textarea ng-model="vm.requisitoVenta.direccion"></textarea>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Telefono</label>
                                <textarea ng-model="vm.requisitoVenta.telefono"></textarea>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Contacto del negocio</label>
                                <textarea ng-model="vm.requisitoVenta.contacto_negocio"></textarea>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Estatus</label>
                                <textarea ng-model="vm.requisitoVenta.status"></textarea>
                            </md-input-container>

                            <!--md-button ng-click="vm.crearRequisito()" ng-class="guardar" aria-label="fab button"
                                       class="md-fab md-primary md-raised">
                                <md-icon md-font-icon="fa fa-save"></md-icon>
                            </md-button-->
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button ng-click="vm.guardarSolicitudVenta()" class="md-raised md-primary">Guardar</md-button>
                                <md-button>Cancelar</md-button>
                            </md-card-actions>

                        </div>


                    </div>
                </md-card-title-text>


            </md-card-title>

        </md-card>

        <!--md-toolbar class="md-table-toolbar md-default">
            <div class="md-toolbar-tools">
                <span>Nutrition</span>
            </div>
        </md-toolbar-->
    </div>
</div>
<!-- opc 1-->
<!-- opc 2-->
<!-- opc 3-->
