<md-dialog aria-label="Agregar Concepto" ng-cloak="">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Agregar Concepto</h2><span flex=""></span>
            <md-button ng-click="vm.cancel()" class="md-icon-button">
                <ng-md-icon icon="close" aria-label="Close dialog"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="md-dialog-content">
        <form name="objectForm" layout="column">
            <md-input-container>
                <label>Cantidad</label>
                <input type="text" ng-required="true" name="cantidad" ng-model="vm.object.cantidad" ng-pattern="/^\d*.?\d+$/"/>
                <div ng-messages="objectForm.cantidad.$error">
                    <div ng-message="pattern">El campo tiene que ser un número positivo</div>
                    <div ng-message="required">El campo es requerido</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Estatus del equipo</label>
                <md-select ng-model="vm.object.status_equipo" ng-required="true">
                    <!--md-option ng-repeat="option in vm.options" ng-value="option.value">{{option.value}}</md-option-->
                    <md-option value="Nuevo">Nuevo</md-option>
                    <md-option value="Reparado">Reparado</md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>Tipo de equipo</label>
                <md-select ng-model="vm.object.tipo_equipo" ng-required="true">
                    <md-option ng-repeat="tipoEquipo in vm.tiposEquipo" ng-value="tipoEquipo.id">{{tipoEquipo.categoria}} {{tipoEquipo.tipo}}</md-option>
                </md-select>
            </md-input-container>


        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-disabled="objectForm.$invalid" ng-click="vm.submit()" class="md-primary md-raised">Enviar</md-button>
        <md-button ng-click="vm.cancel()" style="margin-right:20px;" class="md-primary md-raised">Cancelar</md-button>
    </md-dialog-actions>
</md-dialog>