<div layout="row" flex layout-padding layout-fill layout-align="center center">
    <div flex="">
        <md-card class="md-padding card1" flex="flex">
            <md-card-title>
                <md-card-title-text>
                    <h2>{{'SEARCH_REQUEST.FORM.LABEL.TITLE'|translate}}</h2>
                    <form name="objectForm">
                        <div  layout="row" layout-xs="column">

                            <md-input-container flex="" class="md-inline-form md-block">
                                <md-select placeholder="Elige tipo de solicitud" ng-model="vm.tipo_solicitud">
                                    <md-option ng-value="tipoSol.value" ng-repeat="tipoSol in vm.tipoSols">{{tipoSol.name}}</md-option>
                                </md-select>
                            </md-input-container>

                            <md-button class="md-fab"  aria-label="fab button" ng-click="vm.busqueda()" ng-disabled="!vm.tipo_solicitud" ng-if="!((vm.filtro_busqueda=='Por Folio')&&((vm.tipo_solicitud=='Envio')||(vm.tipo_solicitud=='Recoleccion')))">
                                <md-icon md-font-icon="zmdi zmdi-zoom-in"></md-icon>
                            </md-button>
                            <md-button class="md-fab"  aria-label="fab button" ng-click="vm.busqueda()" ng-disabled="(vm.tipo_solicitud && objectForm.$invalid)" ng-if="(vm.filtro_busqueda=='Por Folio')&&((vm.tipo_solicitud=='Envio')||(vm.tipo_solicitud=='Recoleccion'))">
                                <md-icon md-font-icon="zmdi zmdi-zoom-in"></md-icon>
                            </md-button>
                        </div>
                        <div  layout="row" layout-xs="column" layout-sm="column">
                            <md-input-container flex="" class="md-inline-form md-block" ng-if="(vm.tipo_solicitud=='Envio')||(vm.tipo_solicitud=='Recoleccion')">
                                <md-select placeholder="Filtrar busqueda" ng-model="vm.filtro_busqueda">
                                    <md-option ng-value="filtrarSol.value" ng-repeat="filtrarSol in vm.filtrarSolicitud">{{filtrarSol.name}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex="" class="md-inline-form" ng-if="(vm.filtro_busqueda=='Por Folio')&&((vm.tipo_solicitud=='Envio')||(vm.tipo_solicitud=='Recoleccion'))">
                                <label>Folio</label>
                                <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
                                <input type="text" ng-model="vm.folio" name="folio" only-digits required='required'>
                                <div ng-messages="objectForm.folio.$error">
                                    <div ng-message="required">El campo es requerido</div>
                                </div>
                            </md-input-container>
                            <md-input-container flex="" class="md-inline-form md-block">
                                <md-select placeholder="Estatus a buscar" ng-model="vm.busqueda_status" ng-if="(vm.filtro_busqueda=='Por Estatus')&&((vm.tipo_solicitud=='Envio')||(vm.tipo_solicitud=='Recoleccion'))">
                                    <md-option ng-value="estatusSol.value" ng-repeat="estatusSol in vm.estatusSols">{{estatusSol.name}}</md-option>
                                </md-select>
                            </md-input-container>

                        </div>
                    </form>
                </md-card-title-text>
            </md-card-title>


            <div ng-if="(vm.solicitudes!=null) && (vm.tipo_solicitud=='Envio'||vm.tipo_solicitud=='Recoleccion')">
                <md-card-title>
                    <md-card-title-text>
                        <h2  ng-if="vm.solicitudes!=null ">{{'SEARCH_REQUEST.FORM.LABEL.STIPO'|translate}} {{vm.tipo_solicitud}}</h2>
                    </md-card-title-text>
                </md-card-title>

                <div layout="row" flex layout-padding layout-fill layout-align="center center" >
                    <div flex="">
                        <md-card>
                            <div layout="column" layout-sm="column" layout-md="column">
                                <md-table-container>
                                    <table flex="" md-table="" md-row-select="" ng-model="vm.solicitudx">
                                        <thead md-head="" md-order="vm.query.order">
                                        <tr md-row="md-row">
                                            <th md-column="md-column" md-order-by="id"><span translate="SEARCH_REQUEST.FORM.LABEL.FOLIO"></span>
                                            </th>
                                            <!--th md-column="md-column" md-order-by="udn"><span translate="">UDN</span-->
                                            <!--vm.requisito. -->
                                            </th>
                                            <th md-column="md-column" md-order-by="fecha_inicio"><span translate="SEARCH_REQUEST.FORM.LABEL.FECHAINI"></span>
                                            </th>
                                            <th md-column="md-column" md-order-by="fecha_termino"><span translate="SEARCH_REQUEST.FORM.LABEL.FECHAFIN"></span>
                                            </th>
                                            <th md-column="md-column" md-order-by="fecha_atendida" ng-if="!vm.isClient"><span translate="SEARCH_REQUEST.FORM.LABEL.FECHAATE"></span>
                                            </th>
                                            <th md-column="md-column" md-order-by="tipo_solicitud"><span translate="SEARCH_REQUEST.FORM.LABEL.TIPO"></span>
                                            </th>
                                            <th md-column="md-column" md-order-by="status"><span translate="SEARCH_REQUEST.FORM.LABEL.ESTATUS"></span>
                                            </th>
                                            <th md-column="md-column" md-order-by="comentario"><span translate="SEARCH_REQUEST.FORM.LABEL.COMENTARIO"></span>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody md-body="md-body" flex="">
                                        <tr md-row="md-row" flex=""
                                            ng-repeat="solicitud in vm.solicitudes | orderBy:vm.query.order | offset: (vm.query.page-1)*vm.query.limit | limitTo: vm.query.limit">
                                            <td md-cell="md-cell" >{{solicitud.id}}</td>
                                            <!--td md-cell="md-cell" >{{solicitud.udnName}}</td-->
                                            <!--td md-cell="md-cell" ng-click='vm.edit($event,person,"nombre")'>
                                                <md-select ng-model="person.nombre" placeholder="Other">
                                                    <md-option ng-value="type" ng-repeat="type in getTypes()">{{person.nombre}}</md-option>
                                                </md-select>
                                            </td-->
                                            <td md-cell="md-cell">
                                                <md-input-container>
                                                    <md-icon md-font-icon="zmdi zmdi-calendar"></md-icon>
                                                    <input   type="text"  ng-model="solicitud.fecha_inicio" mdc-datetime-picker=""
                                                             time="false" date="true" min-date="minDate" max-date="maxDate" lang="es-mx"
                                                             cancel-text="Cancelar"
                                                             ok-text="Aceptar"
                                                             format="YYYY/MM/DD"
                                                             ng-change='vm.editCalendar(solicitud)'
                                                             name="date_initial"
                                                             ng-required="(vm.requisito.tipo_solicitud==0 ||vm.requisito.tipo_solicitud==1)"
                                                             class=" md-input">
                                                    <div ng-messages="solicitudForm.date_initial.$error">
                                                        <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD'|translate}}</div>
                                                    </div>
                                                </md-input-container>
                                            </td>
                                            <td md-cell="md-cell">
                                                <md-input-container>
                                                    <md-icon md-font-icon="zmdi zmdi-calendar"></md-icon>
                                                    <input   type="text"  ng-model="solicitud.fecha_termino" mdc-datetime-picker=""
                                                             time="false" date="true" min-date="minDate" max-date="maxDate" lang="es-mx"
                                                             cancel-text="Cancelar"
                                                             ok-text="Aceptar"
                                                             format="YYYY/MM/DD"
                                                             ng-change='vm.editCalendar(solicitud)'
                                                             name="date_initial"
                                                             ng-required="(vm.requisito.tipo_solicitud==0 ||vm.requisito.tipo_solicitud==1)"
                                                             class=" md-input">

                                                    <div ng-messages="solicitudForm.fecha_termino.$error">
                                                        <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD'|translate}}</div>
                                                    </div>
                                                </md-input-container>
                                            </td>
                                            <td md-cell="md-cell" ng-if="!vm.isClient">
                                                <md-input-container>
                                                    <md-icon md-font-icon="zmdi zmdi-calendar"></md-icon>

                                                    <input  type="text" ng-model="solicitud.fecha_atendida" mdc-datetime-picker=""
                                                            time="true" date="true" min-date="minDate" max-date="maxDate" lang="es-mx"
                                                            cancel-text="Cancelar"
                                                            ok-text="Aceptar"
                                                            ng-change='vm.editCalendar(solicitud)'
                                                            format="YYYY/MM/DD HH:mm"
                                                            name="date_terminate"
                                                            required
                                                            class=" md-input">
                                                    <div ng-messages="solicitudForm.date_terminate.$error">
                                                        <div ng-message="required">{{'MAIN.GENERAL.REQUIRED_FIELD'|translate}}</div>
                                                    </div>

                                                </md-input-container>
                                            </td>
                                            <td md-cell="md-cell" >
                                                <md-select ng-change='vm.editSelect(solicitud)' ng-model=solicitud.tipo_solicitud placeholder="Other">
                                                    <md-option ng-value="type.value" ng-repeat="type in vm.tipoSols">{{type.value}}</md-option>
                                                </md-select>
                                            </td>
                                            <td md-cell="md-cell">
                                                <md-select ng-change='vm.editSelect(solicitud)' ng-model=solicitud.status placeholder="Other">
                                                    <md-option ng-value="estatus.value" ng-repeat="estatus in vm.estatusSols">{{estatus.value}}</md-option>
                                                </md-select>
                                            </td>
                                            <td md-cell="md-cell" ng-click='vm.edit($event,solicitud,"comentario")'>{{solicitud.comentario}}</td>
                                            <td md-cell="md-cell" ng-click="$event.stopPropagation()"><!-- -->
                                                <md-button ng-click="vm.remove($event,solicitud.id)" class="md-fab md-warn md-mini">
                                                    <md-icon md-font-icon="fa fa-times-circle"></md-icon>
                                                </md-button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </md-table-container>
                                <md-table-pagination label="textoprub" md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.solicitudes.length}}" md-on-paginate="onPaginate" md-page-select="md-page-select"></md-table-pagination>
                            </div>
                        </md-card>
                    </div>
                </div>
            </div>

            <div ng-if="(vm.solicitudesVentas!=null) && (vm.tipo_solicitud=='Venta')">
                <h2  ng-if="vm.solicitudesVentas!=null ">Solicitud de {{vm.tipo_solicitud}}</h2>
                <div layout="row" flex="" layout-padding layout-fill layout-align="center center" >
                    <div flex="">
                        <md-card>
                            <div layout="column" layout-sm="column" layout-md="column">
                                <md-table-container>
                                    <table flex="" md-table="" md-row-select="" ng-model="vm.solicitudx">
                                        <thead md-head="" md-order="vm.query.order">
                                        <tr md-row="md-row">
                                            <th md-column="md-column" md-order-by="id"><span translate="SEARCH_REQUEST.FORM.LABEL.FOLIO"></span>
                                            </th>
                                            <!--th md-column="md-column" md-order-by="udn"><span translate="SEARCH_REQUEST.FORM.LABEL.UDN"></span>
                                            </th-->
                                            <th md-column="md-column" md-order-by="razon_social"><span translate="SEARCH_REQUEST.FORM.LABEL.RAZON_SOCIAL"></span>
                                            </th>
                                            <th md-column="md-column" md-order-by="nombre_negocio"><span translate="SEARCH_REQUEST.FORM.LABEL.NOMBRE_NEGOCIO"></span>
                                            </th>
                                            <th md-column="md-column" md-order-by="direccion"><span translate="SEARCH_REQUEST.FORM.LABEL.DIRECCION"></span>
                                            </th>
                                            <th md-column="md-column" md-order-by="telefono"><span translate="SEARCH_REQUEST.FORM.LABEL.TELEFONO"></span>
                                            </th>
                                            <th md-column="md-column" md-order-by="contacto_negocio"><span translate="SEARCH_REQUEST.FORM.LABEL.CONTACTO_NEGOCIO"></span>
                                            </th>
                                            <th md-column="md-column" md-order-by="fecha_atencion"><span translate="SEARCH_REQUEST.FORM.LABEL.FECHAATE"></span>
                                            </th>
                                            <!-- Cuerpo de la tabla-->
                                        </tr>
                                        </thead>
                                        <tbody md-body="md-body">
                                        <tr md-row="md-row"
                                            ng-repeat="solicitudVenta in vm.solicitudesVentas | orderBy:vm.query.order | offset: (vm.query.page-1)*vm.query.limit | limitTo: vm.query.limit">
                                            <td md-cell="md-cell" >{{solicitudVenta.id}}</td>
                                            <!--td md-cell="md-cell" >{{solicitudVenta.udn}}</td-->
                                            <td md-cell="md-cell" ng-click='vm.editVenta($event,solicitudVenta,"razon_social")'>{{solicitudVenta.razon_social}}</td>
                                            <td md-cell="md-cell" ng-click='vm.editVenta($event,solicitudVenta,"nombre_negocio")'>{{solicitudVenta.nombre_negocio}}</td>
                                            <td md-cell="md-cell" ng-click='vm.editVenta($event,solicitudVenta,"direccion")'>{{solicitudVenta.direccion}}</td>
                                            <td md-cell="md-cell" ng-click='vm.editVenta($event,solicitudVenta,"telefono")'>{{solicitudVenta.telefono}}</td>
                                            <td md-cell="md-cell" ng-click='vm.editVenta($event,solicitudVenta,"contacto_negocio")'>{{solicitudVenta.contacto_negocio}}</td>
                                            <td md-cell="md-cell" ng-if="!vm.isClient">
                                                <md-input-container>
                                                    <md-icon md-font-icon="zmdi zmdi-calendar"></md-icon>

                                                    <input  type="text" ng-model="solicitud.fecha_atencion" mdc-datetime-picker=""
                                                            time="true" date="true" min-date="minDate" max-date="maxDate" lang="es-mx"
                                                            cancel-text="Cancelar"
                                                            ok-text="Aceptar"
                                                            ng-change='vm.editVentaCalendar(solicitudVenta)'
                                                            format="YYYY/MM/DD HH:mm"
                                                            name="date_terminate"
                                                            class=" md-input">
                                                </md-input-container>
                                            </td>

                                            <td md-cell="md-cell" ng-click="$event.stopPropagation()"><!-- -->
                                                <md-button ng-click="vm.removeVenta($event,solicitudVenta.id)" class="md-fab md-warn md-mini">
                                                    <md-icon md-font-icon="fa fa-times-circle"></md-icon>
                                                </md-button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </md-table-container>
                                <md-table-pagination label="textoprub" md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.solicitudesVentas.length}}" md-on-paginate="onPaginate" md-page-select="md-page-select"></md-table-pagination>
                            </div>
                        </md-card>
                    </div>
                </div>
            </div>
        </md-card>


    </div>

</div>
<div layout="row" flex layout-padding layout-fill layout-align="center center">
    <div flex="">
        <md-card>


        </md-card>
    </div>
</div>