<div ng-cloak>
    <md-toolbar class="md-medium-tall">
        <div class="md-toolbar-tools" layout="row" layout-sm="column" layout-xs="column"
             layout-align="space-between end">
            <div>
                <h2>
                    <span translate>ETAPA_SERVICIO.TITLE</span>
                </h2>
            </div>

            <div layout="row" ng-if="vm.cabinet">

                <md-button class="md-raised" aria-label="Editar"
                           ng-click="vm.editar()">
                    <md-icon md-font-icon="fa fa-pencil"></md-icon>

                </md-button>
                <md-button class="md-raised" aria-label="Guardar"
                           ng-click='vm.crearEtapaServicio()'>
                    <md-icon md-font-icon="fa fa-save"></md-icon>

                </md-button>
                <md-button class="md-raised" aria-label="Cancelar"
                           ng-click="vm.cancel()">
                    <md-icon md-font-icon="fa fa-eraser"></md-icon>

                </md-button>
                <md-button class="md-raised" aria-label="Eliminar"
                           ng-click="vm.eliminarEtapaServicio()">
                    <md-icon md-font-icon="fa fa-trash"></md-icon>

                </md-button>
                <md-button ng-if="vm.etapaActual.actual_etapa.nombre=='E1'||vm.etapaActual.actual_etapa.nombre=='E4'"
                           class="md-raised md-primary"
                           ng-click="vm.showPreCheckDialog(ev)">
                    <md-icon md-font-icon="fa fa-check-square"></md-icon>
                </md-button>
                <md-button ng-if="vm.etapaActual.actual_etapa.nombre=='E2'" class="md-raised md-primary"
                           ng-click="vm.showDiagnosticoDialog(ev)">
                    <md-icon md-font-icon="fa fa-check-square"></md-icon>
                </md-button>
            </div>
        </div>
    </md-toolbar>
    <md-content>
        <md-content class="md-padding">
            <div flex="100" layout="row">

                <div layout="column" flex="45">

                    <md-input-container flex>
                        <form name="Buscar" ng-submit="vm.buscar()">
                            <label translate>ETAPA_SERVICIO.ID_CABINET</label>
                            <input type="text" pattern="[0-9a-zA-Z-_ ]+" name="idCabinet" ng-model="vm.idCabinet"
                                   required/>
                            <div ng-messages="Buscar.idCabinet.$error">
                                <div ng-message="pattern">
                                    {{'MAIN.LABEL.ALFANUMERICONLY'|translate}}
                                </div>
                                <div ng-message="required">{{'MAIN.LABEL.REQUIRED'|translate}}</div>
                            </div>
                        </form>

                    </md-input-container>
                </div>
                <md-input-container flex="40">
                    <label translate>ETAPA_SERVICIO.NEXT_ETAPA</label>
                    <md-select ng-model="vm.etapaActual.siguiente_etapa.nombre" name="select"
                               ng-disabled="vm.editable||vm.etapaActual.actual_etapa.nombre=='E1'">
                        <md-option ng-repeat="etap in vm.etapas" ng-value="etap">{{etap.nombre}} :
                            {{etap.descripcion}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <div layout="row" flex="15">
                    <div layout="column">
                        <div layout="row" layout-sm="row" layout-xs="column">
                            <md-input-container flex>
                                <md-button class="md-fab" class="md-primary" aria-label="fab button"
                                           ng-disabled="Buscar.$invalid "
                                           ng-click="vm.buscar()">
                                    <md-icon md-font-icon="zmdi zmdi-zoom-in"></md-icon>
                                </md-button>
                            </md-input-container>
                            <md-input-container flex ng-if="vm.etapaActual.actual_etapa">
                                <md-button class="md-fab  md-primary" aria-label="fab button"
                                           ng-click="vm.verInfo()">
                                    <md-icon md-font-icon="fa fa-eye"></md-icon>
                                </md-button>
                            </md-input-container>
                        </div>
                    </div>
                </div>
            </div>
        </md-content>

        <md-content class="md-padding" ng-if="vm.etapaActual.actual_etapa">
            <div layout="column" flex>
                <div layout="row" layout-sm="column" layout-xs="column" layout-align=""
                     ng-show="vm.insumos_loteUsados.length!=0" flex="100" layout-wrap>


                    <div ng-repeat="insu in vm.insumos_loteUsados track by $index" flex="50">
                        <div column>
                            <div layout="row" layout-align="center center">
                                <div flex="20">
                                    <md-switch flex class="md-primary" ng-model="vm.insumos_loteUsados[$index].agregar"
                                               aria-label="Primary Switch">
                                    </md-switch>
                                </div>
                                <div layout="column" flex>
                                    <div><b translate>ETAPA_SERVICIO.INSUM </b>: {{insu.nombre}}</div>
                                </div>

                            </div>
                            <md-divider></md-divider>
                        </div>
                    </div>

                </div>

                <md-content layout="row" ng-if="vm.etapaActual.actual_etapa">
                    <md-switch ng-model="inputDisabled">
                        <span translate>ETAPA_SERVICIO.ADD_MICRO</span>
                    </md-switch>
                    <md-input-container flex="40" ng-if="inputDisabled||vm.etapaActual.insumos[0].no_serie">
                        <label><span translate>ETAPA_SERVICIO.SCAN</span></label>
                        <input type="text" ng-model="vm.etapaActual.insumos[0].no_serie">
                    </md-input-container>
                    <md-input-container flex="35" ng-if="inputDisabled">
                        <label><span translate>ETAPA_SERVICIO.NOTES</span></label>
                        <input type="text" ng-model="vm.etapaActual.insumos[0].notas">
                    </md-input-container>
                    <md-input-container flex="15" ng-if="inputDisabled">
                        <label><span translate>ETAPA_SERVICIO.CANTITY</span></label>
                        <input type="number" value="1" disabled>
                    </md-input-container>
                    <md-input-container ng-if="inputDisabled" flex="10">
                        <md-button class="md-primary md-raised" aria-label="raised button"
                                   ng-disabled="form.insumoFormEtapa.$invalid"
                                   ng-click='vm.crearInsumo()'>
                            <md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
                        </md-button>
                    </md-input-container>
            </div>
        </md-content>

    </md-content>
    <md-content ng-if="vm.etapaActual.actual_etapa">
        <md-input-container layout-fill flex>
            <md-switch class="md-primary" ng-model="vm.etapaActual.validado"
                       aria-label="Se valida la etapa para avanzar a la siguiente fase"
                       ng-disabled="vm.editable">
                <span translate>ETAPA_SERVICIO.VALIDATED</span>
            </md-switch>
        </md-input-container>
    </md-content>

    </md-content>
</div>
