<div layout="column" layout-align="center center" class="overlay-40">
    <div layout="row" layout-align="center center">
        <p flex="70" flex-sm="100" flex-gt-xs="100" translate=""
           class="md-headline font-weight-300 text-center text-light">SUCURSAL.FORM.LABEL.BRANCH</p>
    </div>
    <div flex="" layout="row" layout-align="center center" layout-xs="column" layout-fill="">
        <div flex="80" layout="column" class="md-whiteframe-z1 margin-bottom-100">
            <div flex="flex" layout="row" layout-xs="column" layout-sm="column" class="background">
                <div layout="column" flex-lg="40" flex-gt-lg="35" flex-xl="35" flex-gt-sm="100" flex-md="100"
                     flex-sm="100" flex-gt-xs="100" flex-xs="100">
                    <md-autocomplete ng-disabled="vm.isDisabled" md-no-cache="vm.noCache"
                                     md-selected-item="vm.selectedItem"
                                     md-search-text-change="vm.searchTextChange(vm.searchText)"
                                     md-search-text="vm.searchText"
                                     md-selected-item-change="vm.selectedItemChange(item)"
                                     md-items="item in vm.querySearch(vm.searchText)" md-item-text="item.nombre"
                                     md-min-length="0"
                                     md-floating-label="{{'SUCURSAL.FORM.PLACEHOLDER.SEARCH_BRANCH' | translate }}"
                                     md-menu-class="autocomplete-custom-template" class="margin-top-20"><span
                        md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.nombre}}</span>
                        <md-item-template><span class="item-title">
                        <md-icon md-font-icon="fa fa-briefcase"></md-icon>
                        <span>&nbsp; {{item.nombre}}</span>
                        </span><span class="item-metadata">
                            <span class="item-metastat">
                                <strong>{{item.responsable }}</strong>
                            </span>
                        </span>
                        </md-item-template>
                        <md-not-found><span translate="SUCURSAL.FORM.PLACEHOLDER.NOT_FOUND"></span></md-not-found>
                    </md-autocomplete>
                    <md-virtual-repeat-container class="vertical-container">
                        <md-list>
                            <md-list-item ng-repeat="sucursal in vm.sucursales | sucursalSearch:vm.searchText">
                                <md-button ng-click="vm.selectedSucursales(sucursal)"
                                           ng-class="{'selected' : sucursal === vm.selectedSucursal }">
                                    <md-icon md-svg-icon="assets/images/sucursal.svg" class="avatar"></md-icon>
                                    <span flex="flex">{{sucursal.nombre }}</span>
                                </md-button>
                            </md-list-item>
                        </md-list>
                    </md-virtual-repeat-container>
                </div>
                <div layout="column" flex-lg="60" flex-gt-lg="65" flex-xl="65" flex-gt-sm="100" flex-md="100"
                     flex-sm="100" flex-gt-xs="100" flex-xs="100" id="register">
                    <md-button class="md-fab md-scale md-fab-top-right" ng-click="vm.showRegister($event)">
                        <md-icon md-font-icon="fa fa-plus" style="color:white;">

                        </md-icon>
                    </md-button>

                    <md-content id="content">
                        <div layout="column" flex="flex" ng-show="vm.selectedSucursal!=null || vm.operation==1">
                            <h2 class="md-headline-1 text-center">
                                {{vm.operation==0?'SUCURSAL.FORM.LABEL.INFO_BRANCH':'SUCURSAL.FORM.LABEL.NEW_REGISTER'|translate}}</h2>
                            <form name="SucursalForm">
                                <md-input-container class="md-block">
                                    <label>{{'SUCURSAL.FORM.LABEL.NAME'|translate}}</label>
                                    <input ng-required='true' type="text" name="nombre" ng-disabled="vm.editable"
                                           ng-model="vm.sucursal.nombre"/>
                                    <div ng-messages="SucursalForm.nombre.$error">
                                        <div ng-message="required">{{'MAIN.LABEL.REQUIRED'|translate}}</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>{{'SUCURSAL.FORM.LABEL.ADDRESS'|translate}}</label>
                                    <input md-no-asterisk="" required="" type="text" name="address"
                                           ng-disabled="vm.editable"
                                           ng-model="vm.sucursal.direccion"/>
                                    <div ng-messages="SucursalForm.address.$error">
                                        <div ng-message="required">{{'MAIN.LABEL.REQUIRED'|translate}}</div>
                                    </div>
                                </md-input-container>
                                <div class="chipsdemoCustomInputs">
                                    <label>{{'SUCURSAL.FORM.LABEL.PHONE'|translate}}</label>
                                    <md-chips ng-model="vm.sucursal.telefonos"
                                              md-removable="vm.removable"
                                              delete-button-label="Remove Tag"
                                              readonly="vm.editable"
                                    >
                                        <input type="text" only-digits ng-model="vm.numberBuffer"
                                               placeholder="{{'SUCURSAL.FORM.LABEL.PLUS-PHONE'|translate}}">
                                    </md-chips>


                                </div>
                                <md-input-container class="md-block">
                                    <label>{{'SUCURSAL.FORM.LABEL.RESPONSABLE'|translate}}</label>
                                    <input md-no-asterisk="" required="" type="text" name="responsable"
                                           ng-disabled="vm.editable"
                                           ng-model="vm.sucursal.responsable"/>
                                    <div ng-messages="SucursalForm.responsable.$error">
                                        <div ng-message="required">{{'MAIN.LABEL.REQUIRED'|translate}}</div>
                                    </div>
                                </md-input-container>
                                <div layout="row" layout-align="end center">
                                    <md-button class="md-raised md-primary"
                                               ng-show="vm.operation==0"
                                               ng-click="vm.eliminar($event)">
                                        <md-icon md-font-icon="fa fa-trash"></md-icon>
                                    </md-button>
                                    <md-button
                                        ng-show="vm.operation==0"
                                        ng-click="vm.editar()"
                                        class="md-raised md-primary">
                                        <md-icon md-font-icon="fa fa-pencil"></md-icon>
                                    </md-button>
                                    <md-button
                                        ng-click="vm.registrar()"
                                        ng-disabled="SucursalForm.$invalid"
                                        ng-show="vm.operation==1 || vm.operation==2"
                                        class="md-raised md-primary">
                                        <md-icon md-font-icon="fa fa-save"></md-icon>
                                    </md-button>
                                </div>
                            </form>
                        </div>
                    </md-content>
                </div>
            </div>
        </div>
    </div>
</div>
